[2018-07-16 17:13] davidpiesse opened #8 "[Question] How to Auth with firestore"
Hi!
You have an example of how to connect to Firestore using the AuthStateChanged but is it possible to pass in a firebase object or config with a API key etc?
Basically can you connect to firebase the normal way?

Thanks for this package!
D

[2018-07-17 05:07] mesqueeb commented on #8
Dear David Piesse,
Thank you for your comment!
In line with my vuex plugins:

- [vuex-easy-access](https://github.com/mesqueeb/VuexEasyAccess)
- vuex-easy-firestore (this one)

I'm currently working on a **vuex-easy-firebase-auth** plugin to easily setup the firebase authentication and have it saved in a vuex `user` module.

However, that package needs some more time until it's ready for beta rele

[2018-07-17 07:22] davidpiesse commented on #8
Awesome!
Thanks for spending the time with a full reply; I look forward to the next package!

I had a play last night and I had a simpler version of your method; which is great as I know am on the right path.

[2018-07-17 07:22] #8 closed

[2018-07-17 07:34] mesqueeb commented on #8
@davidpiesse No problem!

Let me know if you are able to use this package well or run into any problems! I'll try help out as much as I can!
For now this plugin works for me. (However, I still need to add tests, but having trouble finding a good Firestore mock for testing...)

It's crucial to not forget to open the DB channel: `dispatch('module/path/openDBChannel')`

Please note I haven't tested w

[2018-07-17 07:44] davidpiesse commented on #8
Will do.
I'll open issues if I find things but just because it's an easy way to communicate on these things.
I'll try and push fixes if I can 😁

[2018-07-17 10:33] davidpiesse opened #9 "[Question] Auto creating a doc / connecting to a doc/collection that doesn't exist"
If you try and openDBChannel to a doc that does not exist (such as a users/{user_id}) as they have just logged in for the first time you get a **'trying to merge a non-object'** error.

Makes sense as no object in Firestore exisits. Usually with Firestore you can create a new doc by passing int o the collection and receiving the ID, but you should also be able to specify the ID and save a new doc.

[2018-07-18 20:36] davidpiesse commented on #9
Perfect!

All makes sense - thanks so much!

D

[2018-08-04 13:07] spacecomx opened #17 "Insert batch: created_at error"
An firebase error is thrown  when not using the **firestorePath: 'users/{userId}/data** as the path but instead for example:

[code]
When using any of the following two options:
[code]
The insert fails due to the `created_at` field not having `{userId}` passed in. It was never included as it was not set in as part of the firestorePath config.  Its when inserting into a batch in file **index.es.js

[2018-08-04 15:29] mesqueeb commented on #17
@spacecomx is your user logged in? Or are you trying to use it without firebase authentication?

[2018-08-04 15:42] mesqueeb commented on #17
@spacecomx I removed the dependency on the `userId`.
The `created_by` field now should show `null` or the correct id.

Please try `npm i --save vuex-easy-firestore@latest` and let me know if it fixed your problem.

[2018-08-04 17:33] spacecomx commented on #17
Hi Luca,

I had created a email and password authenticated user through Firebase. This is when I picked up the error. The created_by field will help me filter all records by that user. I will need the created_by field. The plan is we are building at cart with menus, menu_items and menu_sides and favourites each as its own collection, each will have a userid (create_by field). The attached image is

[2018-08-04 17:43] spacecomx commented on #17
Hi Luca,

Thank you so much for the feedback and the swift fix. Thank you very much for taking the time to assist us. Its very much appreciated :)

We have tested with both a normal signed in fire auth user and a signInAnonymously user. .  They both work and record the userId for each correctly.

Just the open channel question if you would be so kind to give me feedback on.

Kindly,

Wayne Gibson,

[2018-08-04 17:47] spacecomx commented on #17
For your reference: After the fix.  Working correctly .

Wayne Gibson, Director
SpaceComX, Creative Design | Marketing | Web Agency | Mobile: +27 (72) 685 8551
PO Box 3786, Dainfern, Johannesburg, 2055, South Africa
Division of SpaceCom Alliance (Pty) Ltd

[2018-08-06 04:14] mesqueeb commented on #17
@spacecomx
Please see the section on [filters](https://github.com/mesqueeb/VuexEasyFirestore#filters)

In your case you can add these settings to your vuex module:
[code]
Please note that this is only for the openDBChannel. If you need just to fetch records without auto-syncing you can use the [fetch action](https://github.com/mesqueeb/VuexEasyFirestore#fetching) I prepared.

Please note that it w

[2018-08-06 04:14] #17 closed

[2018-08-09 07:29] mesqueeb commented on #17
@spacecomx Did it work out? Let me know if you have any issues. You can also find me on twitter @mesqueeb

[2018-08-13 12:08] blurdylan opened #19 "[Question] I can't get the data"
I am unable to get my data in vuex. It's state always empty.

- I initialized firebase config in my `main.js` file
- My store contains the plugin

![code](https://user-images.githubusercontent.com/26802924/44030837-f288140c-9ef9-11e8-8516-e54e2a362592.png)

Please, what are my doing wrong ?

[2018-08-13 12:37] mesqueeb commented on #19
Dear @blurdylan were you able to use it without authentication?

I feel your pain! And I agree! Should be usable without any authentication!

I will improve the usage without authentication somewhere this week or next.

[2018-08-13 12:38] mesqueeb opened #20 "Improve usability without authentication."
#19

[2018-08-13 12:39] blurdylan commented on #19
Yes, I was able to, it is working correctly now.

[2018-08-21 09:17] aceofpack opened #22 "Firebase warning"
This might need considering:

[code]

[2018-08-21 10:05] mesqueeb commented on #22
Yeah, to my knowledge that's a firebase related setting that you must make when you initiate firebase with your credentials, and BEFORE you initiate the vuex store with this plugin.

Is that possible in your design?

I'll need to update the docs to clarify this though. Thanks for the heads up!

[2018-08-23 13:12] jonbomme opened #23 "Injection of userId on sync.where"
Hi

It would be really usable if one have userId injected onto a sync.where configuration like:

[code]

Best regards,
Jon

[2018-08-23 14:26] mesqueeb commented on #23
Dear Jon.
Thanks for your issue!

I believe it’s possible even now! Just pass the user id as third argument. Doesn’t it work?

I will also do some more tests next week. Keep you posted.

[2018-08-23 14:30] mesqueeb commented on #23
Oh wait I see. You don’t know the `userId` at the time of the settings!

I didn’t have this problem before because I only used the userid in the syncPath myself, not in the where.

So I will make this a possibility this weekend and let you know.

In the meantime I would wanna ask if this doesn’t cause you any security issues on your side? I think this way it's possible for users to edit other user

[2018-08-25 10:41] rchan commented on #23
I have the same issue, although I'm only doing '==' rather than 'array-contains'

We can't have the documents separated under each user because we have an admin side of the app that needs to work on the documents as a single collection

the rule for '==' would be (from example in docs https://firebase.google.com/docs/firestore/security/rules-query), think dealing with 'array-contains' is also poss

[2018-08-25 19:01] rchan opened #24 "Firebase.firestore.FieldValue.serverTimestamp() cannot be used for a property"
When setting a property with Firebase.firestore.FieldValue.serverTimestamp(), it does not resolve correctly, it saves the method definition instead to firestore

the created_at and updated_at generated by the framework works correctly

[2018-08-26 10:08] mesqueeb commented on #23
@rchan @jonbomme I just pushed version 1.7 which will automatically replace `'{userId}'` with the actual `userId` at the time you do `dispatch('openDBChannel')`. Make sure that you add `'{userId}'` just like that as third param of the where filter in `sync.where`.

Can you update with npm and let me know how it goes?

Let me know if there are any problems or bugs or feel free to open a new issue w

[2018-08-26 10:28] mesqueeb commented on #24
@rchan Can you try again with v1.7.1 and let me know how it goes?

[2018-08-29 12:11] Bartonking opened #28 "sub collections"
Excellent project.
  How do you work with subcollections when the key is a variable.

const userModule = {
  firestorePath: 'boats/{myBoatID}/data',
  firestoreRefType: 'collection', // or 'doc'
  moduleName: 'boats',
  statePropName: 'docs',
  // the rest of your module here
}

[2018-08-30 01:06] mesqueeb commented on #28
@Bartonking I will make it this possible asap, however I want to know where you get your variable from? In case you get the variable before the instantiation of the vuex module you can just pass it directly inside the path. In case you get the variable after the vuex module instantiation I will have to think how to best pass it. That why I'd want to know where you get it from and if you save it so

[2018-09-03 09:17] mesqueeb commented on #23
@rchan I'm assuming you retrieve the variables after the user has logged in?

I'm currently writing compatibility for any `arbitrary variable`. Please hold ons.

[2018-09-03 15:40] mesqueeb commented on #28
@Bartonking
I have made this possible through custom variables passed as parameter like so: `dispatch('module/openDBChannel', {customVar: customId})`.

Please update to `npm i vuex-easy-firestore@1.9.0`
and check the new documentation [here](https://github.com/mesqueeb/VuexEasyFirestore#variables-for-firestorepath-or-filters).

Feel free to write additional feedback or comments, or if all good ple

[2018-09-03 15:40] mesqueeb commented on #23
@rchan
I have made this possible through custom variables passed as parameter like so: `dispatch('module/openDBChannel', {customVar: customId})`.

Please update to `npm i vuex-easy-firestore@1.9.0`
and check the new documentation [here](https://github.com/mesqueeb/VuexEasyFirestore#variables-for-firestorepath-or-filters).

Feel free to write additional feedback or comments, or if all good please c

[2018-09-03 15:43] mesqueeb commented on #24
@rchan I will look into the `Firebase.firestore.FieldValue.serverTimestamp()` bug soon, sorry it's not fixed yet.
For now the library should be usable with `v1.9.0` as there was a bug in `v1.8.0`.
Next on my list is to add tests for custom usage of `Firebase.firestore.FieldValue.serverTimestamp()`

[2018-09-03 16:42] jonbomme commented on #23
Cool! I will try it out later!

[2018-09-04 00:50] Bartonking commented on #28
hi, thanks.  When the user logs in I retrieve a list of boats that he has access to.  so I am making the call on the mounted() event of a page.

I am now seeing an error after the update.  "Firebase: Firebase service named 'firestore' already registered (app/duplicate-service)."

![firestoreerror](https://user-images.githubusercontent.com/4013744/45004446-12946a00-afc3-11e8-8d17-da712dc18411.png)

[2018-09-04 01:15] mesqueeb commented on #28
Dear Bartonking. I’m looking right into this.

Could you let me know in which order you initialise things?
Eg.
1. Initialise firebase
2. Initialise firebase auth listener
3. Initialise vuex store
4. openDBChannel

What’s the order for (3) in your case?

[2018-09-04 05:52] mesqueeb commented on #28
@Bartonking I'm having trouble replicating this problem. It works fine in my apps.
Are you able to zip your app without the node_modules folder and send it to me? You can telegram or twitter DM me with @mesqueeb

Or if you have an open source repo let me know.

Also, try to first _instanciate vuex store_ then _initialise firebase_, see if that helps.

[2018-09-04 17:54] Bartonking commented on #28
hey  issue fixed.  i removed the last two import statements
import firebase from 'firebase/app';
//  import 'firebase/auth'; - removed
//  import 'firebase/firestore'; - removed

Thanks so much.   you have an awesome package.

[2018-09-04 17:54] #28 closed

[2018-09-06 03:41] #23 closed

[2018-09-06 06:01] rchan commented on #23
no time to try it out at the moment, but API wise it would be what I want

[2018-09-06 13:17] mesqueeb commented on #22
the library is now using the latest Firebase version. I am not seeing this issue any more.

[2018-09-06 13:17] #22 closed

[2018-09-07 05:40] adamelevate opened #32 "Multiple Collections Help"
I've spent a few days trying to get this working, but I'm not understanding where I'm going wrong.

I added this to main.js
[code]

The User loads just fine, at first I was loading another collection inside the ".then" after dispatch and it was calling the collection immediately when the site loaded. I needed to delay this for when the component loads, so I moved it inside the component at the "cr

[2018-09-07 06:15] mesqueeb commented on #32
@adamelevate
I will help you set it up correctly.

I am not sure what is the error, from the code you posted everything looks ok.
I would need
- a github repository
- OR your repo zipped without the `node_modules` folder
- OR post the following code:
    - your store index (where you add the vuex-easy-firestore plugin)
    - your vuex modules (I need to see the vuex-easy-firestore config parts)

Y

[2018-09-07 06:28] adamelevate commented on #32
Ah thanks man, I'm sure I'm doing it hella wrong, new to firebase and all.

I don't want to wait but I followed a quick tutorial to get auth working, I didn't see your example in another issue until this am, but I don't exactly follow it (totaln00b). The userData collection does work tho, I'm open to change however :)

##### main.js
[code]

##### store.js
[code]

##### Locks.vue
[code]

[2018-09-07 06:39] mesqueeb commented on #32
@adamelevate I'm not sure what the problem is, your code looks ok.
Can you make sure you are using the latest version of `vuex-easy-firestore`:
`npm i vuex-easy-firestore@latest`

- Do you have any console errors?
- Would it be possible to share your repo so I can build it locally and have a look?

[2018-09-07 06:55] adamelevate commented on #32
I think it's working now, mostly just bad code on my part... this seems to work just fine

[code]

[2018-09-07 07:41] adamelevate commented on #32
I'm still unable to get a single document... what am I doing wrong, lol?

I turned off all security rules in firestore, I have 100 locks in a collection and I can verify that the id exists and works with the firestore simulator

###store.js
[code]
###lock.vue
[code]

returning "id: null"

[2018-09-07 08:01] mesqueeb commented on #32
@adamelevate it’s not clear where the issue is from your explanation and snippets. There’s nothing more i can say to help besides checking all params see if everything is passed correctly.

I'm retrieving single  documents just fine in my apps.

Also save the Vuex store on the window and just debug in console.log manually doing store.dispatch and checking store.state etc.

Vuex easy Firestore is o

[2018-09-07 09:02] mesqueeb commented on #32
Also try swapping out the ID for a hard coded ID in the Firestore path. Etc.

[2018-09-09 05:11] mesqueeb commented on #32
@adamelevate Did everything work out alright?

This is weird, I never had this error and do not have trailing `/` in my paths.

How can I help you?

[2018-09-11 04:39] mesqueeb commented on #24
@rchan
I have fixed it so you can now use `Firebase.firestore.FieldValue.serverTimestamp()` with custom fields.
please update to: `npm i vuex-easy-firestore@latest`

Thank you so much for the bug report.

[2018-09-11 04:39] #24 closed

[2018-09-11 04:48] mesqueeb commented on #20
As long as you don't use `{userId}` in any path vuex-easy-firestore is usable without any authentication.

Be sure to check the firestore permissions in the firebase console!

[2018-09-11 04:48] #20 closed

[2018-09-15 02:32] mesqueeb commented on #32
@adamelevate
We can continue here. I’m glad you have it sorted out. What was the original problem eventually? Your firestore rules?

Let’s try to find the last bugs as well then.

So first of all i’m not sure what you mean with “pushing multiple docs”.
As always please provide me with code related to what you want to do, then I can see if I can find any mistakes in your code or if not try replicat

[2018-09-15 02:42] adamelevate commented on #32
Ah ok, well I'm trying to load this array of objects that I'm generating, and it shows that it works in the console, but they don't show in firestore.

page.vue
[code]

store.js
[code]

Image below... At the top is the form and submit button, where I input my variables... at the top I have {mapgetter} for 'secrets/storeRef' that is listing all the keys made, and at the bottom is your console.log f

[2018-09-17 09:35] mesqueeb commented on #32
@adamelevate
I have tested a similar setup and `insertBatch` works as expected for me.

I did notice in your code: `firestorePath: 'secrets/'`
but your permissions: `'secret/{id}{allow read,write: if request.auth.uid != null'`

says "secret" with no `s`.

Could you try these security rules for me and see if it works in this case? Then we know for sure it's related to the security rules or not.
[co

[2018-09-18 03:44] adamelevate commented on #32
It was a mistype on my part when entering it into the comments, the names are correct in production.  I am dumb, the way I wrote the for loop was outputting the same generated ID, meaning firebase was not allowing duplicates but also not telling me they were duplicates. I think I can close this now, it all works. Thanks for your hard work, it's very helpful when I use it correctly :)

[2018-09-18 03:54] mesqueeb commented on #32
@adamelevate Ah yes, I see now you have the same ID's for each item in your `batchInsert`! : D
This also I overlooked! hehe.

I'm glad it worked out. A final piece of advice: On inserts you do not need to add an ID manually. You can do this, but it's not required.

Meaning you could also pass:
[code]
and all these would automatically receive an ID and work just fine.
However, if you need to use th

[2018-09-18 03:54] #32 closed

[2018-09-18 03:56] mesqueeb opened #37 "[docs] manually assigning IDs"
Add this to readme:

### Manually assigning IDs

When assigning ID's manually the recommended way to do so is:
`store.getters['yourModule/dbRef'].doc().id`

There is a getter called `dbRef` created on each vuex-easy-firestore module with the reference of your `firestorePath`. So with adding `.doc().id` to that you will "create" a new ID you can pass.

You could wrap it like so:
[code]
and just do

[2018-09-18 03:59] mesqueeb opened #38 "[feature] duplicate firestore doc(s) / items"
Add an action to duplicate firestore doc(s) / items

[2018-09-18 04:02] mesqueeb opened #39 "[improvement] inserting/patching feedback (for easy loading spinner implementation)"
Improve the way that inserting/patching gives feedback to the Dev to allow the Dev to easily implement things like loading spinners / animated svgs etc.

[2018-09-18 05:12] mesqueeb opened #40 "[docs] Move documentation to VuePress"

[2018-09-19 12:19] mesqueeb commented on #40
All new documentation!
https://mesqueeb.github.io/vuex-easy-firestore/

[2018-09-19 12:19] #40 closed

[2018-09-24 04:01] berendsmatt commented on #37
Hi mate!
Great package.

firestorePath: 'store/{storeId}/item/{itemId}',

How might I handle an address like this?

[2018-09-24 07:14] mesqueeb commented on #24
@rchan I made all new documentation! Check it out:
[new full documentation](http://mesqueeb.github.io/vuex-easy-firestore/feedback.html)

[2018-09-24 07:18] mesqueeb commented on #37
@berendsmatt
I'm happy you got it solved! Exactly, I've explained how to use multiple variables in firestorePaths [here](https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#variables-for-firestorepath-or-filters).

Feel free to open an issue if you have any more questions!

[2018-09-25 14:41] joshua1 opened #44 "error in dispatch call"
@mesqueeb I tried calling
```dispatch('user/openDBChannel')```
 where user is the name of a module *From another Module's action* I used for initialisation and get the below error
[code]
do i still need to pass in
[code]
to dispatch action in other modules?

[2018-09-25 15:33] mesqueeb commented on #44
@joshua1
What is the modulePath you passend for the vuex-easy-firestore module?

[2018-09-25 21:08] joshua1 commented on #44
i have something like this passed in
[code]
where userModule was imported from user-module.js file with snippet like below
[code]

[2018-09-26 03:38] mesqueeb commented on #44
Hey @joshua1
You should be able to do the one below from any module:
[code]
Can you try this? Don't forget, root is the third param.

Also, I have pushed a bug fix for vuex-easy-access yesterday. Can you just to be sure do:
[code]

[2018-09-26 10:43] adamelevate opened #45 "Get Doc but id always equals null"
When I call collections, the id comes back correctly for each item, but when calling a single document the id always is null...

## store.js
[code]
## component.js
[code]
### collection results
![image](https://user-images.githubusercontent.com/1000025/46075105-0fecf500-c1bc-11e8-9248-5c29c64de2dc.png)

## single doc result
![image](https://user-images.githubusercontent.com/1000025/46075003-c3091e

[2018-09-26 10:51] mesqueeb commented on #45
@adamelevate Thanks for your post.
What do yoou mean **"when calling a single document"** do you use `dispatch('fetch')`?

[2018-09-26 10:55] adamelevate commented on #45
Maybe I'm using this wrong, but I thought you needed to have a channel open for each collection or document you wanted to work with.

For me, I have "locks" that need to be listed and a single "lock" I need to view/edit. So I have two channels, as shown in my "store.js" code above, and I'm trying to get a single document from the second channel called "lockData" in the "component.js" example above

[2018-09-26 11:04] mesqueeb commented on #45
@adamelevate You need to have the channel open to receive the data from the server yes.

However, the collection is enough.

In your case the `locksData` module is enough:
[code]
And you can completely remove the single `lockData` module.

So in your vuex store: `state.locksData.data` will receive all locks for the filter's you've set. And you can work with all those docs like so:

[code]

Is ther

[2018-09-26 11:08] adamelevate commented on #45
No reason, maybe I don't understand the difference between collection and a docs mode. I guess it's silly to have to calls to firestore when I've already loaded the data once, the collection has every bit of data I could want.

Either way, the doc mode still returns a null id, seems strange... right?

[2018-09-26 11:14] mesqueeb commented on #45
Yes, I will make sure that the single doc in `'doc'` mode also fills in the id (which is the final part of the `firestorePath` in that case)

Thank you.

### About when to use 'collection' and when to use 'doc'

Use `firestoreRefType: 'doc'` if you want to just work with a single doc and not a collection of docs.

Eg. My users have a single "user settings" document saved per user. My module looks

[2018-09-26 11:17] adamelevate commented on #45
Yeah, I understand your example. I think it's just getting used to the firestore ecosystem and normally I don't have the syntactic sugar this provides :)

[2018-09-26 16:34] BenAHammond opened #46 "Error: The behavior for Date objects stored in Firestore is going to change"
The most recent version of Firestore (5.5.0) introduces a warning that requires you to pass in a new configuration object in order to suppress it. Currently there seems to be no way to accomplish this in the vuex-easy-firestore initialization.

Here is the logged warning by Firestore:
[code]

[2018-09-26 17:10] mesqueeb commented on #46
@BenAHammond Good catch! I should add this to the docs.

Please initialise your app like so:
[code]
This is currently what I'm doing as well, and should work!

[2018-09-26 17:59] BenAHammond commented on #46
Cool, thanks for the work around. I'll copy that for now.

[2018-09-27 05:11] joshua1 commented on #44
@mesqueeb no dice. didn't work

[2018-09-27 06:53] mesqueeb commented on #44
@joshua1 Can you share you repo?
OR can you please tell me more about your store.

Please tell me your module structure for your store + all `moduleName` paths for vuex-easy-firestore.

eg.
[code]
Two vuexEasyFirestore modules, have these `moduleName`s:
- `user/syncedData`
- `someOtherModule`

Then it's easy to understand for me what action you are trying to trigger from what module.

[2018-09-27 06:59] mesqueeb commented on #44
@joshua1 Also try to do `console.log(this)` inside a vuex action then check which actions exist there.

[2018-09-27 07:55] mesqueeb commented on #44
@joshua1
you really should be able to do `dispatch('user/openDBChannel', null, {root: true})` from anywhere. I can think of not a single reason this should not work. Do you get an error? If so, please tell me which error.

[2018-09-27 09:41] mesqueeb opened #48 "[Feature] defaultValues applied on `insert` (currently only on server retrieval)"
Currently `defaultValues` can be set up that will be applied to any document retrieved from the server.
[Documentation](https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#defaultvalues-set-after-server-retrieval)

I want to add the ability to set `defaultValues` applied on `insert` as well.

[2018-09-29 14:12] mesqueeb commented on #44
@joshua1
Looking at your error:
[code]
seems like you are trying to dispatch an action to `'user/set'` from within the user module, causing it to look for a sub-module called user inside the user module (which doesn't exist).

I believe that your problem is more related to general "how to work with vuex" and is not a problem with my library.

That being said, I'd love to help out so I can understa

[2018-09-29 17:34] joshua1 commented on #44
@mesqueeb i was able to get it working, had to make all my modules firestore modules (by adding the vuex-easy-firestore specific properties ), which implies that i have to remove all state properties using *guard*

[2018-09-29 20:32] mesqueeb commented on #44
@joshua1 it's just would since I never had the problem that you are facing. And i'm not sure what is causing it. I feel sad that you had to try so many things. But i'm also glad you got it working.

If you do ever are able to share your code I would love to take a look. Maybe I can find out where the problem was and make sure other people don't have to face this as well.

[2018-10-01 09:17] adamelevate commented on #45
Ok, yeah that makes sense... I'm still stuck in the architecture though.

For example,
1. On the homepage I want to show all undelivered keys,
2. When viewing a single lock, I want to show all keys for that lock.

Am I opening two different channels or performing 2 fetch's? Does the "where" and "orderby" filters affect the fetch also? Sorry for nob questions, just don't understand how this library

[2018-10-02 06:40] mesqueeb commented on #45
@adamelevate

1. all undelivered keys
→　this should be a firestore collection and add the filters to get the undelivered ones.

2. when viewing a single lock, show all keys for that lock.
→　this will depend on how your database looks like. Can you give a little more info on that?

**Option A:**
You could eg. use `fetchAndAdd` or just `fetch` to get the keys for a single lock, if the user clicks on

[2018-10-02 07:01] adamelevate commented on #45
Dude, you are going above and beyond to help me, I super appreciate it.

My database has locks, keys, and bunches of other stuffs. Each customer will have Thousands of locks and Thousands of keys, nature of the business.

There likely won't be many undelivered keys at any given point but there could be 50-100, I already have an index for that "delivered = false". That's where I'm opening my dbchan

[2018-10-02 07:20] mesqueeb commented on #45
@adamelevate Please try to read the [documentation on fetch](https://mesqueeb.github.io/vuex-easy-firestore/guide.html#fetching-docs-with-different-filters) again.

**I had recently added `fetchAndAdd` opposed to just `fetch`.**

In your code snippet you are fetching, but not doing anything with the `querySnapshot`, that's why nothing happens. So I reckon you want to use `fetchAndAdd` instead!!

[2018-10-05 20:56] BenAHammond opened #50 "[Bug] modules with overlapping names batch improperly"
[code]

Running both of those insert statements back to back causes two objects to be inserted into the `groups` collection rather than one in both:

[code]

Am I doing something wrong or is this a bug?

[2018-10-06 01:38] mesqueeb commented on #50
@BenAHammond Your code should be alright. Let me quickly try and reproduce this to see if it's a bug or not. Thanks for the report!

[2018-10-06 03:19] mesqueeb commented on #50
@BenAHammond was able to reproduce. Diving in to fix now.

[2018-10-08 18:49] BenAHammond commented on #50
Let me know if I can help or help test.

[2018-10-09 06:59] mesqueeb commented on #50
@BenAHammond Sorry, I was busy with moving this weekend : D
I just [made the Firebase class injectable](https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/index.ts#L15) so I have better means to use a Mock for testing purposes.

Next step is to test why it groups batches of different modules, but that should be too hard, and the library will be more robust once I add tests for especia

[2018-10-09 07:03] mesqueeb commented on #46
As mentioned in your other issue, you have now the [possibility to pass the Firebase object](https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/index.ts#L15).

Once I update the documentation to explain and mention this feature I'll close this issue.

[2018-10-09 07:04] mesqueeb commented on #45
@adamelevate any luck?

[2018-10-09 11:52] BenAHammond commented on #50
Hey, thanks for the workaround. That should fix me up for a bit.

On Mon, Oct 8, 2018, 11:59 PM Luca Ban <notifications@github.com> wrote:

[2018-10-10 07:27] mesqueeb commented on #45
I made sure that the single doc in 'doc' mode also fills in the id (which is the final part of the firestorePath in that case)
see #53
this closes this issue

@adamelevate feel free to keep on commenting if you are stuck with your fetch problem.

[2018-10-10 07:27] #45 closed

[2018-10-10 07:34] mesqueeb opened #54 "-mistake-"

[2018-10-10 22:05] jgiovanni opened #55 "Error: Data type: Reference in doc causes `Maximum call stack size exceeded`"
When using a reference data type in a document, `Maximum call stack size exceeded` error is thrown during retrieval. If I use a different data type for that field `author` it works fine. Am i doing something wrong here?

### Snapshot of document structure:
![image](https://user-images.githubusercontent.com/1894949/46768437-26b04300-ccb6-11e8-8fc2-719476375f94.png)

### Module configuration code
[c

[2018-10-11 00:39] mesqueeb commented on #55
@jgiovanni you are not doing anything wrong.
I know where the bug is and will fix Asap.

[2018-10-11 01:07] BenAHammond commented on #50
Oddly it doesn't seem to work, believe it or not. Even renaming the `usergroups` module to `ugs` didn't seem to work

[code]

[2018-10-11 01:19] mesqueeb commented on #50
@BenAHammond wow that’s weird. Give me a few more hours. I’m looking into it now. It’s annoying because the Firestore Mock for testing doesn’t work properly, so i'm doing it manually.

I have yet to find the origin of the error.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-11 02:32] #50 closed

[2018-10-11 02:37] mesqueeb commented on #50
@BenAHammond I fixed the issue.
Please do `npm i vuex-easy-firestore@latest`
→ make sure it's at least version `1.15.2`

### about the issue
It was a problem with the state of each module being the same JavaScript object, because I had imported the default state object just as an object.

I was able to fix it by making the default state a function that returns the default state object instead of j

[2018-10-11 02:43] BenAHammond commented on #50
Ah, interesting. Good find and thanks for fixing it!

What are you using for State management? I am enjoying Vuex but really like Redux as well.

[2018-10-11 03:44] mesqueeb commented on #50
@BenAHammond I have only used Vuex for state management.

I used to LOVE Vuex, because it was so easy for multiple components to reference/use the same state props and actions etc. I've been using Vuex for 2+ years now.

However, recently my programming style changed and after doing a lot of complex projects I stumbled into a lot of cases where Vuex is just not doing it for me anymore.... So curre

[2018-10-11 04:07] BenAHammond commented on #50
What an interesting writeup.

I don't personally use TS and I don't care for typing, but I could
definitely see how that would be an issue. Couldn't you just serialize the
type alongside the contents though?

I agree that a monolithic state is very hard to work with, that's actually
why I like your module so much it makes it natural and easy to break
everything out into modules and more modules. I

[2018-10-11 04:36] #55 closed

[2018-10-11 04:37] mesqueeb commented on #55
@jgiovanni The latest version should fix this issue. Please try `npm i vuex-easy-firestore` and let me know if it's fixed or not.

[2018-10-11 06:36] mesqueeb commented on #50
@BenAHammond I added a 4th reason & also mention JSDocs now at reason 1.

What do you mean by:

[2018-10-11 11:17] jgiovanni commented on #55
It's been fixed thank you!

[2018-10-11 13:06] BenAHammond commented on #50
Rather than send message "foo" you could serialize an object bar? "{type:
'foo', data: \"{ .... }\"}"

On Wed, Oct 10, 2018 at 11:36 PM Luca Ban <notifications@github.com> wrote:

[2018-10-11 13:35] BenAHammond commented on #50
Sorry I cannot really argue with your TS tooling concerns much as I don't use TS, nor do I have any interest. I come from a strongly typed world, fleeing like a refugee on the shores of reason. Companies have offered me a lot of money to go back and it will never happen.

The only thing I like about JS is the flexibility, TS is a backwards step for me :-)

[2018-10-11 13:49] svbeon opened #58 "[Request] closeDBChannel function"
Hi,

In the example [Variables for firestorePath or filters](https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#variables-for-firestorepath-or-filters) there's an example that uses the user id to load data, one problem i have run into is that I want to load a specific collection's docs based on the store state, but i haven't found something like a `closeDBChannel` action which mean

[2018-10-11 15:45] mesqueeb commented on #58
@svbeon I'm not 100% sure what you are trying to achieve. Can you give a step by step overview what you want to do?

I do feel however that you could use `fetch` if you need to retrieve a variable once. Please read the [documentation](https://mesqueeb.github.io/vuex-easy-firestore/guide.html#fetching-docs-with-different-filters) and see if it's what you need.

With this you could basically just fe

[2018-10-11 18:07] svbeon commented on #58
Well that could maybe work as a workaround, but basically i have one DBChannel open say

[code]

Then depending on which of those loaded documents is "selected" (aka i have a state for `selectedDoc` that holds a document id) i wan't to load another module:

[code]

I don't want separate copies of testsModule for every doc loaded with subjectsModule (as i wan't to load as little data as possible fr

[2018-10-12 02:48] mesqueeb commented on #58
@svbeon i’m gonna write some possible options for you here soon. In the mean time, do you really need tests to be in separate collections?

I believe if there is no permission issues but you just want to load the least data possible you could still achieve that with 1 collection but use different where filters etc. I believe this will greatly simplify your setup and solves many issues that will oc

[2018-10-12 05:30] mesqueeb commented on #58
@svbeon
Based on your comments I have decided to do these two things:

### 1. closeDBChannel

First of all, I'll implement a `closeDBChannel` function this weekend, using this [firestore code](https://firebase.google.com/docs/firestore/query-data/listen#detach_a_listener).

### 2. dynamically create Vuex-easy-firestore modules

If your firestorePaths **need** to be seperated like so: `'subjects/{s

[2018-10-12 05:36] mesqueeb commented on #50
@BenAHammond Don't worry, I won't stop making this library awesome. I won't give up on Vuex because I believe that **VueJS version 3** (which is being worked on) and **the next Vuex version** are going to be awesome!

[2018-10-13 03:52] berendsmatt opened #59 "Trouble referencing docs"
Not had a problem with collections.
But not sure why I can't reference a document correctly.
In my store...
`const gameData = {
  firestorePath: "games/{gameId}",
  firestoreRefType: "doc",
  moduleName: "gameData",
  statePropName: "game"
};`
In my view
`this.$store
        .dispatch("gameData/openDBChannel", { gameId: "game1" }) //this.$route.params`

This creates a document with the id {gameId}

[2018-10-13 04:48] mesqueeb commented on #59
@berendsmatt
Thanks for this. I have just updated the library with a bug fix.
Please do
`npm i vuex-easy-firestore@latest`
or
`yarn add vuex-easy-firestore@latest`
and let me know if it fixes!

[2018-10-13 06:05] berendsmatt commented on #59
Thanks Luca, it's working.

[2018-10-13 06:53] #59 closed

[2018-10-13 10:33] jgiovanni commented on #58
+1 I was just about to ask about a `closeDBChannel` function! 🎉

[2018-10-14 01:02] BenAHammond opened #61 "Adding orderBy to sync returns no results"
I've run into some strange behavior I think may be a bug?

This code:

[code]

Only returns results when the `orderBy` field has been commented out. With the `orderBy` line as it is above, I get no results. If I remove that line, the results of my query appear. I've verified the automatic `created_date` is present so I'm not sure why its not returning data.

[2018-10-14 01:06] mesqueeb commented on #61
Thank you Ben. I'm looking into this issue right now.

[2018-10-14 01:08] BenAHammond commented on #61
Let me know if I can help, and thank you.

[2018-10-14 02:46] mesqueeb commented on #58
@svbeon @jgiovanni
Here's a gif with `dispatch('closeDBChannel', {clearModule: true})`

![closedbchannel-clear](https://user-images.githubusercontent.com/3253920/46912030-86546a00-cfa6-11e8-8a12-ba8c7eec03a0.gif)

And if you add nothing it will keep all docs/items already synced in the module and also still sync every change, but just not listen for changes on the server side:

https://www.dropbox

[2018-10-14 07:09] mesqueeb commented on #61
@BenAHammond
I just tested myself and got no results as well.
But then I checked my database and realised, it's not `created_date` but `created_at`!!

These are the [auto-generated fields](https://mesqueeb.github.io/vuex-easy-firestore/guide.html#collection-mode) by vuex-easy-firestore.

It works with `created_at` for me : )

[2018-10-14 07:15] svbeon commented on #58
\o/ clearModule sounds good to me

[2018-10-14 10:39] mesqueeb commented on #38
Resolved!
Please see the [release notes](https://github.com/mesqueeb/vuex-easy-firestore/releases/tag/v1.16.0).

[2018-10-14 10:39] #38 closed

[2018-10-14 10:40] mesqueeb commented on #58
@svbeon
Done!
Please see the [release notes](https://github.com/mesqueeb/vuex-easy-firestore/releases/tag/v1.16.0).

As per my comment above, I'm not gonna implement this yet:
**2. dynamically create Vuex-easy-firestore modules**

Please let me know if you really need that and open another issue in that case. I'm happy to continue the discussion below about your app's architecture.

[2018-10-14 10:40] #58 closed

[2018-10-14 10:41] mesqueeb commented on #37
Resolved!
Please see the [release notes](https://github.com/mesqueeb/vuex-easy-firestore/releases/tag/v1.16.0).

[2018-10-14 10:41] #37 closed

[2018-10-14 10:53] mesqueeb opened #64 "Has anyone worked with VuexFire ?"
I have seen [VuexFire](https://github.com/posva/vuexfire) before, but I don't have much experience with it.

If anyone has worked with VuexFire before, please let me know down below what you thought of it compared to vuex-easy-firestore!

I'd love to know any differences you have noticed or if there are any features on VuexFire we could implement in here as well!

I believe vuex-easy-firestore's s

[2018-10-14 12:09] jgiovanni commented on #58
Works great, thank you! This may seem a bit hacky but it works: by modifying the module's `_conf.firestorePath` before opening the channel again, I'm able to get the desired results.
[code]

[2018-10-14 12:36] svbeon commented on #58
Thanks! I'll try to test it out today or tomorrow. I actually moved to your suggested db model with less layers, this is just a small project so it doesn't clutter things too much. The reason I originally opted for the first model is that it becomes easier to mentally work with for me, as each subject owns a set of test, and never shares them with another subjects it just made sense to give them a

[2018-10-14 15:16] BenAHammond commented on #61
Ohhhh, man, that's annoying. Thank you for burning time on that.

I wonder if we could get some kind of development/debugging output for the sync functionality. As it is it just queries in the background and its very hard to figure out what is happening.

[2018-10-14 16:56] mesqueeb commented on #61
@BenAHammond I understand what you mean, but openDBChannel only executes Firestore's [onSnapshot](https://mesqueeb.github.io/vuex-easy-firestore/setup.html#open-db-channel) function. Then it will feed the `orderBy` and `where` just like you would do when executing onSnapshot directly.

There is not much I can do in between those and I do not want to bloat the code with unnecessary code for in thos

[2018-10-14 16:56] #61 closed

[2018-10-14 17:19] BenAHammond commented on #61
Good to know! I will go take it up with them.

 Thanks again.

On Sun, Oct 14, 2018, 9:56 AM Luca Ban <notifications@github.com> wrote:

[2018-10-16 18:38] jameslave-dose opened #65 "Best way to reload documents with a different variable?"
Say I have the following `vuex-easy-firestore` module, where a set of projects are located under a single organization:
[code]
The module state can be populated from within a component with
[code]
So far so good. But when the user selects a different organization, I need the local projects state to be cleared and re-populated according to the new value of `orgId`. What's the most efficient `vuex-e

[2018-10-17 03:56] mesqueeb commented on #65
Dear James,
You can do something like:
[code]
(credit to @jgiovanni and his [post](https://github.com/mesqueeb/vuex-easy-firestore/issues/58#issuecomment-429621148))

It should work fine. Just adjust a little to your config.

I will think about better ways to do this in the future and let you know here if I come up with any new ideas or if I add a new functionality to the library.

Feel free to co

[2018-10-17 05:12] berendsmatt commented on #65
Hi Luca,

I thought it was going to work this way...
`store.dispatch("projects/closeDBChannel", { clearModule: true })
this.$store.dispatch('projects/openDBChannel', { orgId: <newOrgId> })
`
Can the call openDBChannel set a NEW_ID if one is passed?
`store.state.chats.messages._conf.firestorePath.replace(/\/([A-Za-z0-9]+)\//, `/${[NEW_ID]}/`)`

[2018-10-17 15:10] #65 closed

[2018-10-18 00:04] mesqueeb commented on #65
@berendsmatt you currently cannot pass a new path-variable (id) just like that because on the first openDBChannel the firestore path gets replaced with the path with the variables filled in.
Therefor on the second time it will not know where to place your new path-variable.

I will need to improve this and will do so this weekend.

Until then please manually do a replace of your old path variable

[2018-10-22 23:05] pmanning11 opened #66 "Set Firestore in nuxtServerInit"
I'm currently using in the created() method of the home page but I was wondering if this would be possible to use with the nuxtServerInit action.
I'm specifically using 'fetch' but would love to know how to use any of the functions within nuxtServerInit.

[code]

[2018-10-22 23:14] mesqueeb commented on #66
@pmanning11 I don't see why that should be possible. As long as your store is already instantiated at that point you should be able to use it.

I don't have experience with nuxtServerInit, could you give me a link to any related documentation so I can investigate?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-22 23:17] pmanning11 commented on #66
https://nuxtjs.org/guide/vuex-store/#the-nuxtserverinit-action

[2018-10-22 23:49] mesqueeb commented on #66
@pmanning11 thanks. From just looking at the docs, did you try
[code]
This with your related config.
You can leave out `moduleName` of you do this directly inside the vuex-easy-firestore module.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-23 00:09] pmanning11 commented on #66
That's what I was trying.  It seems it may be a nuxtServerInit issue outside of the vuex-easy-firestore package at the moment so I that needs to be solved first.
Hoping it's as easy as that once i figure it out ;)

[2018-10-23 03:42] mesqueeb commented on #66
I'll have to replicate it to debug. Once I have some time i'll look into it.

If you have any repo you can share and think it will speed we up, feel free to share.

Either way thanks for the report.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-23 04:02] pmanning11 commented on #66
No worries - thanks for the library - it's as easy as advertised

[2018-10-23 04:07] mesqueeb commented on #66
@pmanning11 thanks a lot! Please feel free to open any other issues for other bugs or feature requests.

I'll keep this issue open for now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-25 02:46] #54 closed

[2018-10-31 18:12] torstah opened #67 "dbRef.onSnapshot is not a function"
Hey,

would love to get this working.

When trying this setup:

[code]

I keep getting: ` dbRef.onSnapshot is not a function`

Also, how to use this module with mapGetters?

[2018-10-31 18:13] torstah commented on #67
Also using @latest @mesqueeb

[2018-11-01 00:52] mesqueeb commented on #67
@torstah that's strange. I never had that error. Can you share your repo? Or can you show me the order in which you initialise firebase and the Vuex store.

Map getters should be usable just as always. You can add getters to your module and map them like you normally would.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-01 07:43] torstah commented on #67
Nevermind, I got things working now.

Another question, how to deal with sorting directions? Ie `{orderBy: ['created_at']}` desc, and asc?

Thanks!

[2018-11-01 08:00] mesqueeb commented on #67
@torstah I'm eager to know what the error was. Maybe I can add some clarification to the documentation to prevent other users from making the same mistake.

For `orderBy` you can just set it in your vuex-easy-firestore module under `sync.orderBy` like so:
[code]
See the documentation here: [Filters](https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#filters)

[2018-11-01 08:42] torstah commented on #67
I think I just messed up my firestorePath, so maybe clarify the docs around that?

[2018-11-01 09:12] mesqueeb commented on #67
I'm making some improvements to the firestorePath handling in next update. Thanks!

[2018-11-01 09:12] #67 closed

[2018-11-01 10:03] torstah commented on #67
Hey,

another thing.
I'm using `dispatch("pahtToData/set"` to add a new documentation, and want it to be added to the top of the underlying list.  That list is rendered used using `dispatch('pahtToData/fetchAndAdd', {orderBy: ['created_at', 'desc']}`

But the new doc is getting added to the end of that list, until I do another "fetchAndAdd".
I have also tried to do a sync with default ordering and

[2018-11-01 10:35] mesqueeb commented on #67
@torstah Your docs actually get saved in a JavaScript object, so I'm not sure how the order is reflected in your app.

First of all, just to be clear on your setup:
[code]
Makes it so you do
`dispatch('userData/fetchAndAdd', {orderBy: ['created_at', 'desc']}` right?

But how do you show the data?
It's saved in `store.state.userData.userDocs`, but this is a JavaScript object so has no specific orde

[2018-11-01 12:08] torstah commented on #67
Ah, of course. Thanks!

[2018-11-01 19:11] poornan opened #68 "How can I handle transactions"
I have a situation, I need transaction for example find this scenario. Here I have to increment a number before insert. How can I handle this with vuex-easy-firestore. What is the best way
[code]

[2018-11-02 02:05] mesqueeb commented on #68
Can you give your Vuex-easy-firestore config?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-02 02:19] mesqueeb commented on #67
I'm not sure what you mean?
The difference between openDBChannel and fetchAndAdd is
- openDBChannel is an open channel listening for changes from the Firestore server as well.
- fetchAndAdd is a single time fetch.

Please clarify your question and I will explain even more. These questions are important for me to know where to improve my docs.

<sub>Sent with <a href="http://githawk.com">GitHawk</a

[2018-11-02 02:35] poornan commented on #68
I have a basic config,

[code]
and
[code]

[2018-11-02 02:38] mesqueeb commented on #68
Ok I will write an example of what you can do.
Transactions are not natively supported now but there are ways you could more easily integrate your transaction function with your Vuex Easy Firestore module. Please give me another three hours, I have some meetings from now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-02 02:43] poornan commented on #68
That's very responsive. Thank you very much. Looking forward to learn the new way to integrate transaction.

[2018-11-02 03:18] poornan opened #69 "[documentation] clarify the "doc order" of a collection"
Below is my config. I have a collection that is synced by desc. but after server hook run, latest document get appended to the bottom.

[code]

[2018-11-02 05:48] mesqueeb commented on #69
The "order" depends on how you show the items in your Vue components.
Please provide me with the template part where you do your `v-for` and which state prop you point to.

[2018-11-03 02:32] poornan commented on #69
Thank you very much. I've just understood how to use them.

[2018-11-03 02:40] poornan commented on #68
Thank you very much for reviewing my code. I have one more clarification, if I want to just fetch a doc for one time use, which I dont want to set to store. what is the best way?

[2018-11-03 02:48] mesqueeb commented on #68
That’swhat the [regular fetch](https://mesqueeb.github.io/vuex-easy-firestore/guide.html#fetching-docs-with-different-filters) is for.

Or if the Firestore path needs to be different for this one time fetch, then just use `firebase.firestore().doc(path).get()` directly.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-04 11:40] torstah commented on #67
Hey again,

still having issues here.
When constructing a getter like this:
`getters: {
    sortedIdeas: (state, getters) => {
      return Object.values(state.ideas).sort(function (a, b) {
       return b.created_at.toMillis() - a.created_at.toMillis()
      })
    }
  },`

I get the error `vue.esm.js?efeb:591 [Vue warn]: Error in render: "TypeError: Cannot read property 'toMillis' of undefined"`

[2018-11-04 18:39] torstah opened #70 "Fetch single document"
Hey again,

how to best fetch a single document, for example in a route?
Do I need to do a `fetchAndAdd` with a filter for the doc id?
or could i use a the 'doc' mode?

Thanks

[2018-11-05 05:49] mesqueeb commented on #70
depends on what you need.

- Do you want to create a vuex-easy-firestore module for that document? to make it easier to access in a lot of different components etc.
  → add the vuex-easy-firestore module and then choose between openDBChannel and fetchAndAdd
- do you just need it just once?
  → if you do have the vuex-easy-firestore module setup, but don't want to add it to the module's state, you

[2018-11-05 09:34] torstah commented on #70
Ah ok, so mix them both.

I thought this also could be used for fetching single docs, for example in deep links /site/doc/docId....

Thanks

[2018-11-07 04:30] mesqueeb commented on #65
Hi everyone. I updated the library that it's easier to close and open with a new variable.

This should now work out of the box:
[code]

To update `npm i vuex-easy-firestore@latest`

What changed under the hood :

`your_module._conf.firestorePath`  now keeps the variable placeholder  as is, and is only replaced with the variable in a new getter called `firestorePathComplete`

[2018-11-07 04:31] berendsmatt commented on #65
Been waiting for this update.
Thanks mate.

[2018-11-07 04:32] mesqueeb commented on #58
Hi everyone. I updated the library that it's easier to close and open with a new variable.

This should now work out of the box:
[code]

To update `npm i vuex-easy-firestore@latest`

What changed under the hood :

`your_module._conf.firestorePath`  now keeps the variable placeholder  as is, and is only replaced with the variable in a new getter called `firestorePathComplete`

[2018-11-07 04:34] mesqueeb commented on #65
Let me know if any troubles arise!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-10 01:19] BenAHammond commented on #64
I've played with VuexFire but never built anything in production with it and not since it started supporting Firestore.

I'll say that I very much prefer the way `vuex-easy-firestore` ships with a clean mutation API OOB without needing to manually write it all. It saves me a lot of time while still keeping my code clean.

I do think this tool could use some improvements to the `sync` functionality

[2018-11-12 02:49] mesqueeb commented on #64
Hi @BenAHammond Thanks for the feedback.

Firestore makes it really easy to fetch docs with just `firebase.firestore().doc(path).get()`.
Is there something you can think of that I could implement in vuex-easy-firestore that could make it even easier for you? I try to think about it, but I never had an app that required several different paths that needed to be pulled at different times.

Please gi

[2018-11-12 09:59] eneskaya opened #71 "make sure openDBChannel cannot be opened twice with the same path & conditions"
First and foremost, great package. I have a question about the `openDBChannel` action: When I use `openDBChannel` multiple times for the same path, e.g. `users/{userId}` does it really register a new `onSnapshot` listener every time? So, let's say 5 components are interested in real-time updates (but not rendered at the same time) and in there `created` method they call the `openDBChannel` method,

[2018-11-12 11:09] zabaat opened #72 "patch operations revert"
this is probably going to be hard to explain, sorry. Please let me know what else I should send?

I've uploaded a short video for your reference
http://www.youtube.com/watch?v=-KZ5UvPyGVM

[code]

that console prints
[code]

my dispatch is inside a components method:
[code]

[2018-11-12 12:15] mesqueeb commented on #72
Hi Zabaat
Easiest is sharing your repo. (Can also be per email if you delete node_modules folder.)

I think it might be a problem with the single source of truth especially with check boxes.

Can you post your whole vue component for these check boxes? I need to see the change or click event and what actions you take there.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-12 16:55] mesqueeb commented on #71
Hi, if you have 5 separate modules, then yes, five listeners are open.

If you open the same listener (with same firestore path) in five different components I think there will only be one listener, but this is more related to the firebase library.

openDBChannel uses the firebase `onSnapshot` under the hood. If your components get destroyed later and you want to stop listening (for performance re

[2018-11-12 17:52] BenAHammond commented on #64
Personally I'd love to see a Paging API for the `sync` portion of the Collection API.

Specifically it would be nice to have the user's session automatically track the current paging details somehow for reuse on reload without having to program that all in manually.

Maybe as a plugin if not core functionality?

[2018-11-13 05:30] zabaat commented on #72
If I can start with this, that would be probably be faster, it's not very portable at the moment.
i'll work on a minimum viable repo for reporting if this doesn't work.

I am migrating from RTDB and vuexfire, which did work with all this for some reason.
Thanks!

I am using the quasar-framework for my components v17.12
[code]
        vendorUpdateItem({ key }) {
            console.log('updating it

[2018-11-13 05:50] mesqueeb commented on #72
Can you please add tripple ``` in front and behind the code block?
I think you forgot to close your blocks and **the formatting is off** making it difficult to read.

[2018-11-13 05:55] zabaat commented on #72
Thank you for telling me how to do that!!! I never got around to figuring that out. I will fix, also I might have found the problem, checking now.

[2018-11-13 05:58] mesqueeb commented on #72
I see a lot of problems with your code.
I already know your main problem and will
[code]
Do not use `v-for` with q-checkbox! I have used Quasar a lot. You'd want to wrap each checkbox inside a `div` like so:
[code]

There's more I can tell you, especially on how to sync this model with vuex-easy-firestore. Please give me some time, I will follow up with an extra comment.

[2018-11-13 06:12] zabaat commented on #72
I am very relieved you are a fellow Quasar user!
And wow, I had no idea about the q-checkbox for loop issue, I will try immediately!
What madness necessitates that? I wonder if I am missing things like that on more of their components?

Thank you for your time!!

[2018-11-13 07:51] mesqueeb commented on #72
What madness necessitates that? I wonder if I am missing things like that on more of their components?

Quasar says when you want to use checkboxes in a group, to use [q-option-group](https://quasar-framework.org/components/option-group.html#Basic-Usage), don't use v-for with q-checkbox, as there are even no examples showing this behaviour.

Even though it was possible UI wise in your case, it wil

[2018-11-13 08:15] mesqueeb commented on #72
Several things you should avoid is:

`return this.$store.dispatch('item/patch', this.item)` this will do a full patch of all fields and thus is heavy for bandwidth

in your `insertHook` you have a huge `defaultItem` that you sync to the server.
It's imo better to set these as "[default values set after server retrieval](https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#defaultvalu

[2018-11-13 08:18] #70 closed

[2018-11-13 08:19] zabaat commented on #72
I deeply appreciate your extra work here, please enjoy your coffee!
I'll implement these fixes soon and let you know.

[2018-11-13 08:19] mesqueeb commented on #70
@torstah I've closed the issue, but we can continue the discussion. What do you mean with

How do you feel that vuex-easy-firestore could add value over the regular `firebase.firestore().doc(path).get()` method to retrieve a single doc?

I'm not seeing it... o(≧▽≦)o

[2018-11-13 08:36] mesqueeb commented on #72
@zabaat thanks for the coffee!!

PS, also avoid wrapper functions that add no value:
[code]
and you can delete any vuex-easy-firestore config you are not using to keep your codebase clean:
[code]

[2018-11-13 11:36] eneskaya commented on #71
Thank you for your answer, makes sense. I was just wondering if the plugin handles subscriptions to the same `onSnapshot` query (maybe this could be a consideration for future versions 😄)

[2018-11-13 13:01] mesqueeb commented on #71
It’s kinda out of my hands though. 😖 firestore handles their listeners internally in some magical way. 😄

I have no control over if they are using a single query/subscription or not...

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-13 13:13] eneskaya commented on #71
Is Firebase optimizing it really? I'm not sure if they're doing it on the frontend-side. I know they do it server-side.

What one has control over is to remember if there are `onSnapshot` listeners registered for one module, say you call `openDBChannel` for a module with the firestorePath `/users/{userId}` with `userId = ABC`. What could be done internally is to keep the listener for this path som

[2018-11-17 18:14] Miguel-Herrero opened #73 "Setting empty object doesn't sync properly"
Hi! First of all, thanks for this great library @mesqueeb

I'm trying to build a kind of restaurant management system with Vuex and Firestore. But when I update the shipping basket/_checkout_, although correctly updated in Vuex, it's not updated rightly in Firestore and it returns the old items.

### Sample of Checkouts Firestore collection
[code]

### Expected behaviour
When I remove an item (bec

[2018-11-18 01:09] mesqueeb commented on #73
Yes exactly. This is intended behaviour. Firestore makes you use [a special class](https://firebase.google.com/docs/firestore/manage-data/delete-data#fields) to delete data from fields inside a document.

I have made it so that you can do this in vuex-easy-firestore by using the `delete` action with a nested path. See the [documentation here](https://mesqueeb.github.io/vuex-easy-firestore/guide.ht

[2018-11-18 01:11] mesqueeb commented on #72
@zabaat Did it work?

[2018-11-18 19:12] Miguel-Herrero commented on #73
Dear @mesqueeb Thank you very much! It worked like a charm!! You made my day 😄

I must confess that I read that part of your documentation, but I didn't fully understand it or its Firestore consequences. Besides I tried the Firestore special class, but it didn't work (it changed the type of the field)

Keep the great work of this library!

[2018-11-18 19:12] #73 closed

[2018-11-19 00:19] mesqueeb commented on #73
@Miguel-Herrero thank you so much!!!!
And now that you mention it, I will update this part in the documentation a little bit to clarify 😉

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 06:50] zabaat commented on #72
Sorry, I'm just getting back to this tonight. It's my passion project, so I'll be sure to let you know :)

[2018-11-19 07:32] zabaat opened #74 "TypeError: Cannot create property 'id' on number '0'"
I'm inserting a new document and get the error

[code]

[code]

if I change that by simply adding another key it works.
[code]

store module (even though it doesn't even make it this far)
[code]

[2018-11-19 08:50] mesqueeb commented on #74
@zabaat thanks for this. I have an idea what the big might be. If it's as I think I'll push a fix in a few hours.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-19 10:28] Theorian opened #75 "Quasar Support"
I’ve installed and configured but cannot seem to call dispatch from my modules in quasar. Any ideas

[2018-11-19 11:16] #75 closed

[2018-11-19 15:57] mesqueeb commented on #75
Dear Theorian. Did you solve the issue?
I might be because of the order Quasar instantiates Firestore and Vuex.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-20 13:54] mesqueeb commented on #74
@zabaat Thank you so much. Fixed in `v1.16.4`.

`npm i vuex-easy-firestore@latest`

[2018-11-20 13:54] #74 closed

[2018-11-21 05:12] zabaat commented on #75
@Theorian I am currently using this with Quasar 0.17.18 and vuex with no problems, it was only a few minutes to install. That said, it was absolute hell to get vuexfire working so I had experience with it previously.

If you are having the same problems I did, make a .js plugin file (see quasar documentation) where you store your firebase config and start the connection to firebase. Then export th

[2018-11-21 05:30] zabaat commented on #72
@mesqueeb thank you! everything worked great and I appreciate your code review as well. I'm out of practice.
I will give the lazy sync a shot as well soon.

[2018-11-21 05:30] #72 closed

[2018-11-21 05:32] zabaat opened #77 "[Feature] Support for 'arrayUnion'"
https://firebase.google.com/docs/firestore/manage-data/add-data#update_elements_in_an_array

Specifically 'arrayUnion' would be useful.

[2018-11-21 05:56] mesqueeb commented on #75
@zabaat Why are you giving advice on how to use `vuexFire` in the repo of `vuex-easy-firestore`? I feel this is a bit off-topic. (´▽｀*)

[2018-11-21 05:58] mesqueeb commented on #77
Agreed. I will work on implementing this ASAP.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-21 07:41] mesqueeb opened #78 "[documentation] clarify deletion of sub-props"
#73

[2018-11-24 00:40] coolhand79 opened #79 "Document References and document ids"
I very much like the spirit of this module! I've been working with vue.js and firebase for a bit now and have had to roll-my-own for this functionality. Good on your for generalizing it!

However, before I can fully endorse it, there are a few things I'd like to know how to do:

### Handling document references
I have firestore docs that look like this:
[code]

Is there a way where vuex-easy-fires

[2018-11-24 03:15] mesqueeb commented on #79
@coolhand79 thanks for your post.

### document references
I would love to make the plugin as flexible as possible. But I am not understanding what it is exactly that you want to do. Could you try explain a bit more detailed?

### Access id for a single doc
I will check this and make sure you get the correct id here.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-24 08:28] thokkane opened #80 "Serverchange hooks"
When making changes to data in firestore (updating a data attribute via the database view in firebase), i dont see the serverChange.modifiedHook firing. Here's the module code. Is this misconfigured?

[code]

[2018-11-24 10:12] mesqueeb commented on #80
@thokkane should be alright!
I don't have a good test environment for hooks because of the Firestore mock i'm using. So it's possible there's a bug!!!

I'll have time to check tomorrow and will post back here.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-24 13:03] thokkane commented on #80
@mesqueeb thanks for taking a look at this!
Btw, the library is awesome.

[2018-11-24 17:54] coolhand79 commented on #79
### Document references
More than anything, I'm looking for a best practice for dealing with document references. As it is now, if I have a doc that contains a document reference, I have to later call `get()` on that reference to pull in the data and stuff it somewhere.

It seems like it would be nice if vuex-easy-firestore had an option to automatically populate document references - abstracting

[2018-11-24 22:20] zabaat opened #81 "[Bug] FIRESTORE (5.5.9) INTERNAL ASSERTION FAILED: AsyncQueue is already failed"
This lib has saved me so much time, thank you!
I'm trying to find out if this error is because of something I'm doing, but I am successfully using this in most of my app without problems.

I'll keep looking into it.

[code]

[2018-11-26 05:43] mesqueeb commented on #79
@coolhand79
So I have thought about your "ref" situation, but I think there is a clean solution already possible with this library.

Please look at this scenario, and tell me if it's helpful in your situation:

### your setup
[code]
For the sake of this example, this userDoc is located inside a vuex-easy-firestore collection module:
[code]

### hook into the logic when a doc gets retrieved

Now th

[2018-11-26 05:58] mesqueeb commented on #80
I did find a bug with "doc" mode (as opposed to "collection" mode) which I'm gonna fix asap. But no bugs found on "collection" mode, so I'm confused why your console is not logging!

[2018-11-27 13:21] l2aelba opened #83 "How to disable auto-generated fields "id" // "updated_at" // "updated_by""
Some reason I have to make some **anonymous** database :)

I don't think I can do:

[code]

[2018-11-27 23:54] coolhand79 commented on #79
Brilliant! Thanks for the response. I didn't realize that the addedHook was run upon data loading. I think I can make that work.

Also, thanks for fixing the id issue.

I have another reference issue that may be related:

With a users module like so...
[code]
And a city module like so...
[code]

I can load the cities like this
[code]

This works fine. However, when I try to add more documents with

[2018-11-28 00:15] mesqueeb commented on #79
Oh thanks for reporting.
This should be a bug with fetchAndAdd handling of the where filters. I'll check and fix asap.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 00:16] mesqueeb commented on #83
Hi. The functionality to disable these is not implemented yet..

That being said it's not difficult to do so, so just give me 1 hour and i'll update the library.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 00:32] BenAHammond commented on #64
Another thought: It would be nice to have a quick and simple way to query for a single `id` inside of a Collection. Preferably in a way that returns the in-memory version quickly or fetches the remote version if its not found.

Its a very, very common procedure to lookup an object by its id and iterating through all the time is inefficient.

[2018-11-28 07:47] l2aelba commented on #83
@mesqueeb Let do it please and good job so far !

[2018-11-28 07:56] mesqueeb commented on #83
Sorry I was trying to do it smart. Then started c/o factoring the code base for this. Then stumbled upon some bugs. Eventually cost me the whole day haha. I'm almost done.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-28 08:15] mesqueeb commented on #83
I updated the library so you can now do
[code]
and it will work as expected.

Please try `npm i vuex-easy-firestore@latest` and let me know how it goes.
If it solves your issue please close!

Please note you don't need to add it as a fillable in case you add it as a guard:

### a short overview:
- 0 fillables = sync everything
- 1 or more fillables = sync only those props
- guard = no matter 0 or

[2018-11-28 08:21] mesqueeb opened #85 "[Bug] where filter on fetchAndAdd"
https://github.com/mesqueeb/vuex-easy-firestore/issues/79#issuecomment-442263976

[2018-11-28 09:05] l2aelba commented on #83
Tested and its work!
So fast you are, thanks so much!

[2018-11-28 09:39] #83 closed

[2018-11-28 11:18] l2aelba opened #86 "Does it possible to use where : ['users.{uid}.permission', '==', true] ?"
I am not sure about we can do something like this in **first param** ?

[code]

Because when I try with normal string `['users.abc123.permission', '==', true]` and its work.

[2018-11-28 11:58] l2aelba commented on #86
@mesqueeb Thanks so much, I hope this would be implemented ASAP. Cheer!

[2018-11-28 15:16] mesqueeb commented on #85
@coolhand79
I'm having troubling finding where the error is.

If you look at the source code here, I'm just passing the where filter on to the firebase api:
https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/module/actions.ts#L170

Can you confirm that the bug does not occur on a regular `get()` call?
Please try something like `collectionRef().where().get().then(querySnapshot => {`

[2018-11-28 16:59] coolhand79 opened #87 "[Bug] Filters are not updated when re-opening a DBChannel"
_Originally posted by @coolhand79 in https://github.com/mesqueeb/vuex-easy-firestore/issues/65#issuecomment-442271670_

[2018-11-28 17:36] coolhand79 commented on #87
When re-opening a DBChannel with an updated filter, the new filter is not applied.

Example:
[code]

The only way I've been able to get this to work is by hacking around it:
[code]

[2018-11-28 17:42] coolhand79 commented on #65
I created an issue, but I'm not quite sure how to turn it into a bug....

BTW - you're _crushing_ it! You've got something here, I really like it!

[2018-11-28 18:16] coolhand79 commented on #85
Sure...

this works:
[code]

whereas, this:
[code]

results in `TypeError: Converting circular structure to JSON`

[2018-11-28 18:35] coolhand79 commented on #85
It appears to be line 163 where it is failing. See here: https://cl.ly/80d1a7d95518

[2018-11-28 23:08] andreav opened #88 "use with typescript"
Hello,
congratulations for this very interesting module.

Is it possible to use it with Vuex and Typescript?

I already have a code base using Vuex+Typescript, but decided to test vuex-easy-firestore for a new store module.

I'm getting 2 errors:
1. When importing module.js into index.ts i get:

`
Could not find a declaration file for module './events/index.js'. '/home/andreav/Workspace/sosfilomen

[2018-11-29 00:04] mesqueeb commented on #65
Much appreciated!! I try to help people wherever I can.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 01:45] mesqueeb commented on #86
Hi, it's possible now in latest version!
Please try `npm i vuex-easy-firestore@latest`

[2018-11-29 02:47] mesqueeb commented on #87
@coolhand79 Sorry it took me so long, but I fixed this in the latest version!

please try `npm i vuex-easy-firestore@latest` and if it works let me know and close this issue!

[2018-11-29 03:01] mesqueeb commented on #85
@coolhand79 oh ok, I got it! I can't use that as an identifier because I can't JSON.stringify it I see now.

Ok let me push a bug fix real quick.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 04:00] mesqueeb commented on #85
@coolhand79 Should be fixed in latest version.

Please try `npm i vuex-easy-firestore@latest`
and let me know!

If it is fixed, please close the issue! ♡

[2018-11-29 04:18] coolhand79 commented on #86
I think this fix may be causing a new bug where I get `TypeError: pathPiece.match is not a function` when I have a filter like so: `["isActive", "==", true]`

https://cl.ly/a03df6d5f1cc

[2018-11-29 04:49] mesqueeb commented on #86
@coolhand79 I'm so sorry. Fixed it now!

Please try `npm i vuex-easy-firestore@latest`
and let me know!

If it is fixed, please close the issue! ♡

[2018-11-29 05:14] coolhand79 commented on #85
Looks good! But I don't seem to have permission to close issues.

[2018-11-29 05:34] coolhand79 commented on #86
Works for me!

[2018-11-29 06:34] mesqueeb commented on #87
That should be possible as well!
I refactored the whole library to make sure that was possible. ^^

Try and let me know!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 06:35] #86 closed

[2018-11-29 06:35] #85 closed

[2018-11-29 06:36] mesqueeb commented on #85
Hehehe, I forgot I was the one who opened this!! XD

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 08:17] l2aelba commented on #86
@mesqueeb You are rock!
But {userId} is undefined right? (Just ask)

[2018-11-29 09:29] mesqueeb commented on #86
@l2aelba yes you can!!!
I made it super flexible.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-29 09:44] l2aelba opened #93 "How to do forEach/multiple channels?"
I'm not sure about I'm missing something or not.

How to **multiple channels**? like..

[code]

And right now I'm doing something like... (and it's work)

[code]

**But does it not easier if we could do something like...?**

[code]

Expected result:

[code]
**I'm missing something?**

**Cheers!** vuex-easy-firestore 🍺

[2018-11-29 09:50] l2aelba commented on #86
@mesqueeb , I'm not sure `{userId}` is defined. Hard to debug with that :)

[2018-11-29 11:07] mesqueeb commented on #93
I'm very confused by your setup.
Is there a reason you need to use `firestoreRefType: 'doc'` as opposed to `collection`?

[2018-11-29 11:08] l2aelba commented on #93
@mesqueeb Tried with `collection` but how to get multiple like that? Its just replaced their old object

[2018-11-29 11:09] mesqueeb commented on #93
The example I gave above. It will save all users like you want:
[code]

[2018-11-29 11:11] mesqueeb commented on #86
@l2aelba You can pass `uid` like you are doing.
`userId` is available when your user is signed in. It will be the same as the `uid` of `firebase.auth()`.

[2018-11-29 11:12] l2aelba commented on #93
[code]

[2018-11-29 11:18] mesqueeb commented on #93
@l2aelba I understand what's happening now. The other user document is being removed.

- a 'collection' is usually for multiple documents grouped in a single vuex module
- a 'doc' for a single doc also saved in a single vuex module

In your case I want to understand:
- How many ID's you need to filter on?
- Why do you need to filter on those IDs?
This is important to understand if you could maybe

[2018-11-29 11:19] l2aelba commented on #93
@mesqueeb
Filter ? This we will get the whole users from DB and filter it by client-side?

[2018-11-29 11:21] mesqueeb commented on #93
No not fillables, I'm talking about `where`
I mean: you want to only get user's `{ uid: 'ABC' }` and `{ uid: 'XYZ' }`.

Is it always those two? Is it more? Is there a reason you need to filter on specific UID's?

[2018-11-29 11:36] mesqueeb commented on #93
@l2aelba Yes, today I have rewrote the library so it's possible to pass new `where` filters on each `openDBChannel`.

But, I still want to know why you need to do this.

There's a possibility in your case it's better to use `fetchAndAdd` instead of `openDBChannel`. But I don't understand what your app is, or why you want to filter on single ID's.

It's also usually better to just add an extra fiel

[2018-11-29 11:41] l2aelba commented on #93
@mesqueeb I making a chat app
I don't want user to watch all changes from all users ([Firebase Reading is cost money](https://firebase.google.com/docs/firestore/pricing))

I just want that user to watch changes just their friends :)

[2018-11-29 15:58] l2aelba commented on #83
@mesqueeb

I think I found a bug (or not sure)

When I guarding the `id` for prevent auto-generated

[code]

Then when I do
[code]

so its can not hook the `serverChange.modifiedHook`

But when I removed `id` from `sync.guard` it is ok

[2018-11-29 23:59] coolhand79 commented on #87
Unfortunately, it doesn't seem to work.

When I call it like so:
[code]
The re-opened channel never even goes back to the server and still contains the old data. Seems clearModule didn't execute and it still thinks the previous is valid and has been executed.

Taking a look at the modules using the Vue Devtools:
First time opening DB channel: https://cl.ly/934a9c0e0c53
When reopening: https://cl.l

[2018-11-30 03:06] mesqueeb commented on #87
Hi. I’m improving my test structure so i can make sure this won’t happen again. So sorry.

I’ll need another couple of hours before i can upload a fix. Hold on!!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-30 07:02] mesqueeb commented on #93
Hi,
I found a bug in openDBChannel that I fixed in the latest version.

Can you do `npm i vuex-easy-firestore@latest` and confirm for me?

### instead of this:
`dispatch('users/openDBChannel', {where: [['uid', '==', 'XYZ']]}))`

### please try this again:
[code]

I found a bug that prevented that bottom one from working, but should now be fixed.

Please try it for me and confirm you get this:

[co

[2018-11-30 07:04] mesqueeb commented on #87
Sorry for the hold up!
Fixed everything now.

What was happening is, even though the where filters were rewritten as a "getter", that getter was overwriting the state.... lol.

Please try `npm i vuex-easy-firestore@latest`
and let me know!

If it is fixed, please close the issue! ♡

[2018-11-30 07:58] mesqueeb opened #95 "[documentation] modifiedHook execution timing"
https://github.com/mesqueeb/vuex-easy-firestore/issues/83#issuecomment-442887026

[2018-11-30 08:18] mesqueeb commented on #95
@l2aelba
I have tried to understand this behaviour, and I found out why.
every modification only launches `serverChange.modifiedHook` when a `firebase.firestore.FieldValue.serverTimestamp()` is used.

And this library uses that for `created_at` and `updated_at`.

So if you add those to `guard` then an insert won't execute `addedHook` and a modification won't execute `modifiedHook`.

However, if yo

[2018-11-30 08:18] mesqueeb commented on #83
@l2aelba it was not a bug, it seems this is firestore's behaviour.
I have explained [here in this issue](https://github.com/mesqueeb/vuex-easy-firestore/issues/95).

[2018-11-30 08:29] l2aelba commented on #95
@mesqueeb Thanks for info!

If just `updated_at` have to be used, its ok for me :)

[2018-11-30 08:47] #93 closed

[2018-11-30 09:52] mesqueeb commented on #95
@l2aelba
Yeah, and I found out there was a bug with the addedHook, so just pushed another update to npm.

Please update to latest version and check the new detailed documentation on [Execution timings of hooks](https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#execution-timings-of-hooks).

[2018-11-30 09:52] #95 closed

[2018-11-30 09:54] mesqueeb commented on #78
@Miguel-Herrero
I clarified the [documentation on deleting fields](https://mesqueeb.github.io/vuex-easy-firestore/firestore-fields-and-functions.html#delete-fields).

Is this more clear to you now? : )

[2018-11-30 09:54] #78 closed

[2018-11-30 11:16] Miguel-Herrero commented on #78
Superb @mesqueeb Much more clear now!
Thanks for your work!

[2018-11-30 20:30] coolhand79 commented on #87
Fixed!

[2018-11-30 20:30] #87 closed

[2018-11-30 22:46] arjendejong12 opened #97 "Collections inception"
Hey there!

I was wondering how to handle collections where documents have a subcollection and where those documents also have subcollections. For example: `countries/{countryId}/cities/{cityId]/streets`.
Is there a way to load all the data in one object, and still be able to add to these documents?
Another example, say I'd like to add the cities Amsterdam and The Hague into 'The Netherlands' docu

[2018-12-01 00:20] mesqueeb commented on #97
@arjendejong12 you mean to load all streets from multiple countries into one module, but when you do a patch or insert have it synced to the path with the correct pathVariable?

I haven’t thought about this use case yet.

I’d need to know more about your app first though. Like in the UI, is it like a map app where you gradually load other cities if they come into view?

I guess the main point firs

[2018-12-01 00:52] arjendejong12 commented on #97
Something like that yes. Let's say I want to add 'Kalverstraat', I would need to have a path like this: countries/{id of The Netherlands}/cities/{id of Amsterdam}/streets. My actual project has different terms (districts, measure points, and measurements) but it has the same principle but the example is easier to understand.

Like I said I have three views, and all of them show a map. The first vi

[2018-12-01 00:59] arjendejong12 commented on #97
![image](https://user-images.githubusercontent.com/10572554/49322128-c3e86480-f50c-11e8-8654-e75291e955a9.png)

[2018-12-01 01:00] mesqueeb commented on #97
@arjendejong12 why is your Firestore nested?
Imo it's much easier to work with Firestore that has all streets and all cities into big documents.
Eg:
Data: {countries, cities, streets}

And then you can lead only the relevant documents with setting up a where filter, and each time refill the Vuex module with more docs from the same path but a different where filter.

Is there a reason you didn't ta

[2018-12-01 01:04] arjendejong12 commented on #97
This is actually my first project with Firestore, so I'm not sure what the best practices are. If I put them into seperate collections, should I store a reference? How would I use your library to actually connect them?

[2018-12-01 01:30] mesqueeb commented on #97
I don't think that's necessary, just a field with a city ID on each street to filter on should be enough?
And a field with a country ID on each city.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-01 02:57] mesqueeb commented on #97
Do you know what I mean? 😀
Then you can just do [fetchAndAdd](https://mesqueeb.github.io/vuex-easy-firestore/guide.html#fetching-docs-with-different-filters) with all where-filters you require, based on the user input:

Eg. this flow:
1. open country "Belgium" and get all cities
`dispatch('citiesModule/fetchAndAdd', {whereFilters: [['country', '==', 'belgium']]})`
2. get streets for Antwerp (ik be

[2018-12-01 11:53] arjendejong12 commented on #97
Yeah, I get what you mean, but I'm not sure how and where to fetch data dynamically. In my application, at the first view (Rayons), I also load the last added measurement.
![image](https://user-images.githubusercontent.com/10572554/49327923-07bc8780-f568-11e8-8d6b-5c0dfcf2e6da.png)
How would I achieve this?

[2018-12-01 12:06] arjendejong12 commented on #97
I'm doing this in the created() hook:
[code]
I have two rayons, two measuring points for one rayon and one measurement for one measuring point. However, the one measurement gets console logged twice.

[2018-12-01 12:19] mesqueeb commented on #97
Sorry i dont understand what you mean. Load the data dynamically?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-01 12:30] arjendejong12 commented on #97
Well, I would need to first get the list of rayons in a dropdown, so I would need to fetch them first. Thinking about this, I feel like I know how to do this. I'm not sure if I've seen this in de documentation, but is there a way to view the store data in Vue Devtools?

[2018-12-01 13:18] mesqueeb commented on #97
I have the feeling this is not really related to this library anymore. It’s unclear where your design can benefit from additional features to this library so i’ll close this for now. But feel free to continue the conversation.

I’m not sure what the part is you are stuck with.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-01 13:18] #97 closed

[2018-12-03 13:55] l2aelba commented on #22
@mesqueeb Can you check this warning again? I'm not sure this is from vuex-easy-firestore or mine.

![screenshot 2018-12-03 at 14 54 45](https://user-images.githubusercontent.com/983458/49377840-7a199d00-f70b-11e8-8004-d2ad43bb6f31.png)

[2018-12-04 00:11] mesqueeb commented on #22
Hi @l2aelba
This is because of the way you import firestore. Please read that error and double check all your import statements.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-04 00:21] mesqueeb commented on #88
Hi, i'm not sure what the problem is since you import the library somewhere else than index.ts

Can you try updating to the latest version and importing like so:
[code]

Also remember to update to the lastest version.

If this doesn't work can you have a look at the source code how I export the library?

https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/index.ts

It's written in TS b

[2018-12-04 11:36] mesqueeb commented on #71
Actually i think i can easily test this by executing firestore’s native onSnapshot listener on the same path twice but with different console.logs in the promise. Then see if two listeners are open or not.

I’ll test it and let you know.

But honestly, I don’t think this is optimisation my library should be responsible for. Executing openDBChannel isn't the intended use case either way, and I thin

[2018-12-04 21:39] andreav commented on #88
Thank you, it looks like it works!
I renamed my index.js into index.ts, I think this was the problem.

Now, I'm so exited to use vuex-easy-firestore!

[2018-12-04 21:39] #88 closed

[2018-12-05 11:58] januszj opened #98 "Vue CLI basic example, demo app needed"
First let me thank you for this interesting library.
This is what I would need to start my simple project.
But it would be great help if you could add simple demo app based on Vue CLI template.
Especially for someone that starts with Vue and Firestore for first time, would be much easier to see what's going where in the code.

[2018-12-05 12:06] mesqueeb commented on #98
@januszj This is exactly right. I'm actually planning a short demo app with video explanation. I already started the simple design for it. I think i'll release it in a week or two.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-13 06:33] mesqueeb commented on #22
@l2aelba Actually, I found out there was one import in my library that had the old import method. I have just now updated the import method and this message should not appear anymore.

Please update to latest version: `npm i vuex-easy-firestore@latest`

[2018-12-14 05:18] mesqueeb opened #100 "optimisation planned for fetchAndAdd & setting pathVariable"
- [x] make it so _pathVariables_ and _userId_ are passable on fetchAndAdd as well
- [x] extract setting & re-setting _pathVariables_ and _userId_ into a separate action and to allow devs to execute just that action
- [x] add a  **"openDBChannel" vs "fetchAndAdd"** section in the documentation, so a dev can make a better educated choice on what is best performance wise

[2018-12-14 05:19] mesqueeb commented on #71
@eneskaya Trying out some things with setting up native `onSnapshot` listeners, it seems to me that not only does Firebase *not* optimise performance by preventing the same listener to be opened twice, I'm even seeing all documents being re-triggered after adding just one to the collection on the server side...

I'm not sure what's causing this latter problem, but the first one should definitely b

[2018-12-14 09:32] mesqueeb commented on #65
Hi everyone in this thread!

I just wanted to comment on the topic of how to work with multiple sub-collections in Firestore (and this library).

In my opinion it is usually better to work with a flatter database and filter on certain fields (using `where()`).
Eg. when you have a collection of user [lists] with each a sub-collection with [items].
- You'll have a hard time querying items when searc

[2018-12-14 09:35] mesqueeb commented on #58
Hi everyone in this thread!

I just wanted to comment on the topic of how to work with multiple sub-collections in Firestore (and this library).

In my opinion it is usually better to work with a flatter database and filter on certain fields (using `where()`).
Eg. when you have a collection of user [lists] with each a sub-collection with [items].
- You'll have a hard time querying items when searc

[2018-12-14 15:03] DarylRodrigo opened #101 "[documentation] clarify how to set the config"
Hi 👋,

Great module! really want to start using it, however I am struggling to see how to connect this to my own firestore account. Can you clarify in the documentation (or this issue) how to do this?

Happy to write the corresponding documentation for it :)

Best,
D

[2018-12-16 03:44] mesqueeb commented on #101
@DarylRodrigo Did it work out for you?

Let me know where you're stuck! It's important to know so I know how to best improve the documentation.

[2018-12-16 03:45] mesqueeb commented on #80
@thokkane Could you let me know if you still have problems? I think there are no hook-related bugs, so i'll close it for now.

Feel free to open again and continue the discussion!

[2018-12-16 03:45] #80 closed

[2018-12-16 03:46] mesqueeb commented on #77
@zabaat Since it's already implemented I'll close this issue. Feel free to re-open and continue the discussion if it's not what you wanted!

[2018-12-16 03:46] #77 closed

[2018-12-16 04:43] mesqueeb opened #103 "[Bug] patching a doc < 1000ms after insert fails"

[2018-12-16 04:50] mesqueeb commented on #61
@BenAHammond Please note that orderBy might also behave different, because this library stores the results in an object with the document id as key.

That means you'll need to write a client-side orderBy function inside a vuex-getter to show your collection in your wished order.

So I mean: setting orderBy in this library will retrieve the docs in that order, but are saved inside an object so will

[2018-12-16 08:13] mesqueeb commented on #48
done with #104

[2018-12-16 08:13] #48 closed

[2018-12-16 08:13] mesqueeb commented on #103
done with #104

[2018-12-16 08:13] #103 closed

[2018-12-16 15:57] BenAHammond commented on #61
That's good to know, thank you for updating this.

This makes me wonder if there's an opportunity to provide a sorted/filtered/paged "View" into a collection with its own API.

[2018-12-16 16:12] mesqueeb commented on #61
Yeah you’ve asked me for paging support. What kind of app you have that needs paging though? I never needed it before so have difficulties imagining a good way to implement this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-16 16:32] BenAHammond commented on #61
Well, mine for starters, so I'll likely be building some form of this for myself in the near future.

How are you handling large collections of data without some way to provide subsets of that data? If I can only pull 50 rows at a time (and my collection happens to be very large), then I need those 50 rows to be the right 50 rows, or as close as I can get.

Otherwise I'm going to be pulling X rows

[2018-12-17 06:16] mesqueeb commented on #61
What kind of app are you building?
FetchAndAdd has an automatic limit of 50 docs.
You can continue to call fetchAndAdd which will retrieve the next set of 50 docs each time.
Does this not satisfy your needs?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-17 17:43] mesqueeb commented on #69
@joshua1 it’s just like the original poster’s example.
[code]

Please note however that it might behave different, because this library stores the results in an object with the document id as key.

That means you'll need to write a client-side orderBy function inside a vuex-getter to show your collection in your wished order.

So I mean: setting orderBy in this library will retrieve the docs in th

[2018-12-17 19:01] thokkane commented on #80
@mesqueeb thanks! It works fine. User error: I had disabled the openDBChannel call.

[2018-12-17 19:14] thokkane opened #105 "Pass firebaseuserid dynamically to the module's firestorePath"
In your documentation you have

[code]

The firebaseuser.uid is only available after logging in. Is there a way to pass this id once available to the module's firesotrePath?

[2018-12-17 23:58] mesqueeb commented on #80
Ok i’m glad!!!
Check out the release notes for latest info as well!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-18 00:04] mesqueeb commented on #105
Try passing `userId` as custom variable during openDBChannel.
I didn’t try this yet but should work.

What situation do you need this?
You can always write `{uid}` in the path for the userId and pass the userId like that. Which may be better as it will never get confused with the firebase auth!

Please tell me more on your use case and I can give better advice. Also make sure to read the documenta

[2018-12-19 20:55] thokkane commented on #105
The use case is simply to pass the firebase userId into the firestorePath after successful login.

Currently the module definition sits

[code]
The module is defined at the top and the firebaseUser uid is generated after successful login (userSignin method called upon signin button click). How can the userid be passed as a parameter to the module so that in the userSignin function above it can be

[2018-12-20 03:36] mesqueeb commented on #105
Dear @thokkane
Is should work just out of the box without passing any `userId` manually, because vuex-easy-firestore looks at `firebase.auth().currentUser.uid` when the dbchannel is opened. So I'm not sure why it's not working for you?

When I look at your code I see you are not opening the DB Channel after log in?

Can you try this for me?
[code]
Do you understand what I'm doing here above?
Try t

[2018-12-20 19:40] thokkane commented on #105
Sorry, maybe i wasn't maybe clear. So in the above module configuration there is this:
firestorePath: 'users/{userId}'

When channel is opened it says in the console like this
"openDBChannel for Firestore PATH: users/{userid} [users/{userid}]"

Instead i would liek the channel should open like this
"openDBChannel for Firestore PATH: users/js7ZbtLSkHiOslLJRN0KpUPk132 [users/js7ZbtLSkHiOslLJRN0KpUPk

[2018-12-21 01:57] mesqueeb commented on #105
Yes i understand. What is happening is that you do openDBChannel before your user signs in.

You need to dispatch openDBChannel after the user is found like in my example.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-21 08:44] mesqueeb opened #106 "Do not sync default values to server (to reduce api call size)"
The way [default values work has been updated](https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#default-values).

I will add the functionality to not to sync these default values to the server **if they are equal to the default value itself**. As soon as any of these values is modified (and not equal to the default value anymore) it will be synced to the server.

This enables our

[2018-12-21 16:53] coolhand79 opened #107 "Prevent initial doc insert by default (doc mode)"
I've encountered an issue when doin openDBChannel in docmode.

It seems that if the document doesn't exist, vuex-easy-firestore attempts to insert the doc.

 Problem is, if the user doesn't have permission to insert, you enter an infinite loop like so: https://cl.ly/c92c545422b4

It seems when the insert fails, an error should be thrown on the openDBChannel instead.

Thanks!

[2018-12-21 23:52] mesqueeb commented on #107
Wow @coolhand79 thanks for finding this rare bug. I'll look into it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-23 17:12] usu opened #108 "Clarify documentation: `new Date()` saved locally will become a timestamp in firestore"
Firebase timestamps are properly converted to JS Date when data is loaded from server  (as described in https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#firestore-timestamp-conversion).

However, data thas is locally added to vuex store is not converted. Is there any method to ensure getters always convert Firebase timestamp objects to JS Date objects?

(related to #46)

[2018-12-24 01:58] mesqueeb commented on #108
Hi! Merry christmas 🎄
I'll need to check the best way to solve this. Maybe i'll make a helper class that will save new Date() in the Vuex store but a timestamp in Firestore.

Sorry I can't use the computer for another whole day.

I wonder though, if you just set the field to new Date() doesn't Firestore change it into a timestamp automatically on the server side?

<sub>Sent with <a href="http://gi

[2018-12-26 05:10] bpkennedy opened #109 "created_by is null even when logged into firestore with a valid auth token."
Hi, love using the library!  I am working through an issue where the data being sent is showing null for the `created_by` even though I have done the openDB dispatch after the onAuthStateChanged is fired.

auth.js:
[code]

module defined like:
[code]

store action to login:
[code]

Can you help me figure out what I'm doing wrong?

[2018-12-26 06:04] mesqueeb commented on #109
Hi.
I will double check if `created_by` is properly added when working in doc mode.

I might have missed it because, in doc mode this is less relevant because the doc is only added in the very beginning. Basically you'd work always on the same document from there on. Therefore the updated_by is more important.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-26 06:49] mesqueeb commented on #109
@bpkennedy I have double checked the library and my test application. Everything works fine on my side.

Your code also looks ok, so I'm not sure why it's not picking up the userId.

Right after `openDBChannel` can you console.log `store. userData.state._sync.userId` that's the value that's added on a document initial insertion. So if that logs out fine everything should work. In this case, can yo

[2018-12-26 08:39] usu commented on #108
Hi and merry Christmas, too :)

Thanks for your feedback. I might have misunderstood how 'convertTimestamps' is supposed to work. Let me try to explain differently.

I use convertTimestamps as described in the documentation. Firebase is in timestamp mode.

[code]

[code]

An API insert call is triggered and the doucment is inserted into Vuex (mutation INSERT_DOC):
[code]

Immediately after that, m

[2018-12-26 08:55] mesqueeb commented on #108
@usu I will double check. In my application it works as expected but not in yours.

I want to understand exactly what happens so tell me: does the problem exist when doing 'module/patch' on an existing object as well? Or only when a document is inserted first?

Just to be sure also do "npm i vuex-easy-firestore@latest"

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-26 10:17] mesqueeb commented on #108
@usu I found the bug and have updated the library.
Should be fixed in latest version.

Please try `npm i vuex-easy-firestore@latest`
and let me know!

If it is fixed, please close the issue! ♡

[2018-12-26 10:46] usu opened #110 "{userId} not properly resolved when signing in with different user"
Module defined as following:
[code]

openDBChannel is called after onAuthStateChanged as described in the documentation. This creates problems, when a different user has previously been signed in.

Sometimes {userId} is not resolved in the path at all:
`openDBChannel for Firestore PATH: users/{userId} [users/{userId}]`

Sometimes {userId} is resolved with the previously signed in user id.

Both cr

[2018-12-26 11:14] usu commented on #108
@mesqueeb Awesome, works perfect now. Thanks a lot for this ultra-fast fix.

(Fixed with commit 0b484dede7189ca4482b0cd43a53b8a31ac216e8)

[2018-12-26 11:14] #108 closed

[2018-12-26 11:45] usu commented on #110
Yep, that is exactly what I ended up doing 😄

Just thinking out load: If this is later added to the closeDBChannel action, the case where openDBChannel is called 2x without closeDBChannel in between should probably also be considered (e.g. user signing in with new credentials without signing out first).

[2018-12-26 13:39] bpkennedy commented on #109
I'll try the console log in about an hour.  I went ahead and made the repo public (it's not much further than the Vue cli3 scaffold):  https://gitlab.com/bpkennedy/finny.  You can probably just plug-in your own firestore initializeApp values from some test db.

[2018-12-26 14:09] bpkennedy commented on #109
Tried console.log.

[code]

[2018-12-26 14:47] mesqueeb commented on #109
Sorry i meant `store.state.userData` ! XD

Ok i’ll try installing your repo and see what’s going on. I see no reason why `created_by` doesn’t get the correct user id though

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-26 14:54] bpkennedy commented on #109
Ah, gotcha - yes so it logs correctly the currently auth'd uid.

[code]

[2018-12-26 14:59] bpkennedy commented on #109
Oh, wait - ok here's the issue.  So I am trying to use multiple modules.  I can using the vuex devtools that the userData module has a userId.  That is the one I did the openDBChannel on.  However, in another module called projectsData (it's a collection), I can see that userId is null.

Is this because I did not do openDBChannel for that?

Edit: 5 mins later:

Yep, that was it!  So I suppose I ne

[2018-12-26 16:54] bpkennedy opened #111 "handle strict: true for vuex store in the recommended setup"
Just reviewing how to use Vuex's `strict` mode for debugging state changes (https://vuex.vuejs.org/guide/strict.html) that are happening outside of mutations, and is it possible that the library doesn't work well with that?  I am seeing callstack size exceeded errors in the console.  I get them when just trying to initialize with the openDBChannel.

Can you reproduce this/get this working by chanc

[2018-12-26 19:02] usu opened #112 "Closing channel with clearModule:true destroys reactivity"
Module defined like this:
[code]

In Vue component:
[code]

When I close the channel with clearModule=true and then reopen the channel, reactivity in the component is lost. It works fine if reactivity is defined one level up.
[code]

I believe this can be improved by not throwing the docs object away, but removing only its content during RESET_VUEX_EASY_FIRESTORE_STATE.
https://github.com/mesqueeb

[2018-12-27 00:20] mesqueeb commented on #109
Merry christmas!!! 🎄
Yeah, any modules that don’t get openDBChannel should still be usable with an initial fetchAndAdd instead as well, but the userId is not filled in when you do nothing.

I will prepare an action just for you to be able to pass the userId after authentication and update the documents accordingly.

For now please do it manually after authentication:

[code]

<sub>Sent with <a hre

[2018-12-27 02:53] mesqueeb commented on #111
Hi @bpkennedy thanks so much for your message.

I have myself never worked with strict mode before.
I will spend some time trying to use strict mode and see where I can improve my code to be compatible with it!

Another day another challenge!!! : D

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-27 03:41] mesqueeb commented on #112
@usu
Thanks very much for this issue.

As you said, I can fix this for your use case by changing that line:
[code]
to
[code]

I will consider doing this. However, I also think in your case it's not a good design to work with the vue component's data.

A Vue component's data is in most cases supposed to be assigned once, until the component is destroyed. Then if the component is rendered again the

[2018-12-27 13:45] bpkennedy commented on #109
That sounds good.  Does the library keep an internal knowledge of what modules have been asked for?  If so, perhaps you could extend the first openDBChannel action to go through all modules and set the userID.  That would feel less redundant than N number actions per module.

Maybe another option is to refactor the openDBChannel action (or make like some global library action, agnostic of a partic

[2018-12-27 22:11] c0h1b4 commented on #105
I have the same problem here. The {userId} is not converted to 'js7ZbtLSkHiOslLJRN0KpUPk132'and I get the following on the log messages:

openDBChannel for Firestore PATH: users/{userId} [users/{userId}]

when the correct would be

openDBChannel for Firestore PATH: users/js7ZbtLSkHiOslLJRN0KpUPk132 [users/{userId}]

[2018-12-27 23:13] c0h1b4 commented on #105
I was checking my code, if I do a refresh the {userId} is converted to the `js7ZbtLSkHiOslLJRN0KpUPk132`.  So it looks like it takes some time for the module to receive the userId from the Firestore.
Is there a way to make the module wait for Firestore to propagate the userId?

[2018-12-28 01:02] mesqueeb commented on #105
@c0h1b4 and @thokkane
I have no idea what is causing this issue. I never had it and have not been able to replicate this.

Do you know the steps to replicate the issue? Or can you share your repository with me?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-28 01:09] mesqueeb commented on #109
@bpkennedy i’m going to make sure that `openDBChannel` as well as `fetchAndAdd` always first manually check the latest signed in user at `Firebase.auth()`

I already changed a bit of my code yesterday and today I’ll write tests for it.

PS: yesterday I also completely rewrote 70% of the documentation.
I made it look more like the Firestore documentation and have clearly explained the reasoning for

[2018-12-28 03:32] BenAHammond opened #113 "[improvement] Consider updating the vuex state immediately and roll back if failed"
This would help prevent issues I'm running into where portions of my code share state but aren't getting mutations in sync with each other unless I force them myself.

[2018-12-28 03:57] #113 closed

[2018-12-28 04:39] mesqueeb commented on #109
Dear @bpkennedy
So I just updated the library, please install the latest version.

- Modules where you do `openDBChannel` will automatically use current user id, retrieved from `firebase.auth()`
- Modules where you do `fetchAndAdd` will automatically use current user id, retrieved from `firebase.auth()`
- Modules that you do not want to use either `openDBChannel` or `fetchAndAdd` → (meaning that y

[2018-12-28 07:36] mesqueeb commented on #112
@usu i have updated the library.
Should be fixed in latest version.

Please try `npm i vuex-easy-firestore@latest`
and let me know!

If it is fixed, please close the issue! ♡

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-12-28 10:17] mesqueeb commented on #110
Please be sure to be at least on version 1.22.6 !

[2018-12-28 10:17] mesqueeb commented on #109
Please be sure to be at least on version 1.22.6 !

[2018-12-28 10:18] mesqueeb commented on #105
I think I fixed it on version > 1.22.6 ?
Can you please check it for me and let me know?
Since I can't replicate the issue I can't test.

[2018-12-28 11:49] thokkane commented on #105
@mesqueeb updating the package worked for me. Thank you!

Now firesttorepath is as such firestorePath: 'users/{userId}', and works correctly.

[2018-12-28 14:37] c0h1b4 opened #115 "best practice question"
Hello, I would like to have multiple filters for a single collection, where I can access those filters like a computed variable or a getter from the store.

What is the best approach for this?

I am actually opening 3 DataModules with the 'where' clause, but I believe that there must be an easier or more practical way to implement this.

Thanks,
David

[2018-12-28 14:40] c0h1b4 commented on #105
I made a workaround connecting directly because it was just for 1 doc. But I will try it later.
I believe that there was some delay between the auth() module and the propagation of the userId value.

Thanks.

[2018-12-28 14:50] c0h1b4 commented on #115
I made a getter like in the tutorial. Sorry.

const getters = {
  newOrders: state => {
    return Object.values(state.orderData.orders).filter(order => exame.step === 0)
  }
};

[2018-12-28 14:50] #115 closed

[2018-12-29 01:01] mesqueeb commented on #105
Ok that's great! So just be sure you only `openDBChannel` or `fetchAndAdd` **after** the authentication promise has resolved. (so inside `then`)

If you still have problems feel free to open another issue! o(^_-)O

[2018-12-29 01:01] #105 closed

[2018-12-29 01:07] mesqueeb commented on #67
@torstah
You once told me you are not sure when to use sync (openDBChannel) and when to use fetch (fetchAndAdd).

Well I just rewrote the documentation on how to know which one to choose!
Check it here: [Query data](https://mesqueeb.github.io/vuex-easy-firestore/query-data.html)

[2018-12-29 01:07] mesqueeb commented on #100
[openDBChannel vs fetchAndAdd](https://mesqueeb.github.io/vuex-easy-firestore/query-data.html) documentation finished.

[2018-12-29 01:07] #100 closed

[2018-12-29 01:55] mesqueeb commented on #69
Clarified the doc order in the [new documentation](https://mesqueeb.github.io/vuex-easy-firestore/query-data.html#where-orderby-filters) on Querying data.

[2018-12-29 01:55] #69 closed

[2018-12-29 02:45] mesqueeb opened #116 "[planned feature] hooks after `fetchAndAdd`"

[2018-12-29 02:55] mesqueeb opened #117 "[planned feature] pagination support for `fetchAndAdd`"

[2018-12-29 14:26] mesqueeb opened #119 "[planned feature] make limit passable as prop on `fetchAndAdd`"

[2018-12-29 14:54] #119 closed

[2018-12-29 15:12] mesqueeb commented on #117
@BenAHammond
As far as I know it's not possible to request x docs with an offset of y.
↳ this means it's not possible for a user to suddenly request page 10 skipping page 1-9.

In my library I save the last doc ref to be able to retrieve the next set of docs each time:
[code]

How do you intend to work around this firestore limitation when trying to create paging support? Do you have any ideas?

I

[2018-12-31 05:25] mesqueeb opened #122 "[planned feature] placeholder document before server retrieval"
## Placeholder document before server retrieval

When working a lot with VueJS and components, you will notice that Vue components often give an error when they rely on data that doesn't exist.

In the example below we will get an error if the `passedProp` is undefined. It will say something like:

[code]

This is very annoying **if your Vue components rely on data from Firestore**. They will give

[2019-01-01 03:55] zabaat opened #123 "Arrayunion not working after webpack?"
In dev mode everything works fine
![image](https://user-images.githubusercontent.com/3325067/50570218-bf92af80-0d35-11e9-891d-026db9be27f7.png)

after build process
![image](https://user-images.githubusercontent.com/3325067/50570224-e81aa980-0d35-11e9-8a94-8224a7001003.png)

Relevant code:
[code]

[2019-01-01 03:58] mesqueeb commented on #123
Wow that’s weird!!! Seems difficult to debug as well. Let me try.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-01 04:01] mesqueeb commented on #123
Btw, `Merge: true` is not applicable like that on a vuex action.
And vuex easy firestore has `{merge: true}` automatically since `patch` works with firestore’s `update` instead of `set` with `{merge: true}`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-01 04:14] mesqueeb commented on #123
It’s because webpack is changing something and therefore my `isArrayUnion` check is failing

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-01 04:15] zabaat commented on #123
Appreciate the prompt response! I was going to try the native arrayUnion function next, will let you know

[2019-01-01 06:01] ansidev opened #124 "state._conf.sync.patchHook is not a function"
Currently, I am experiencing this problem. I don't know why. Can you help me?

### Problem
[code]

### Code
[code]

[2019-01-01 08:09] mesqueeb commented on #124
Nothing wrong with this setup. When are you getting the error?

Also try deleting any hooks you do not use.

PS: Please note these other hints:

1. you can add actions inside your userProfile
[code]
2. add `{clearModule: true}` to closeDBChannel to actually reset the module data (see above)
3. a lot of actions you pass `{commit}` as first parameter, while you use `dispatch` inside the action. **Do

[2019-01-01 09:14] mesqueeb commented on #123
@zabaat
Sorry, on an unrelated note:
I saw you commented on `cordova-plugin-firebaseui-auth` that you ended up using a combination of:

`cordova-plugin-firebase-authentication` and `cordova-plugin-googleplus`

I'm actually trying to get my Quasar app with Firebaseui authentication to work on Android and/or iOS with cordova now : D
I think we have a very similar setup! Did you get it to work?

I'd

[2019-01-01 10:09] ansidev commented on #124
@mesqueeb Thank you for your suggestions, after some hours, I detected the problem. I didn't pass state to the context in the first parameter of the function `saveProfile`.

[2019-01-01 20:59] GerryKeys opened #125 "Realtime updates seems works in one way"
Hi, and thanks for your work on this project.

I have a problem with fetching realtime data using openDBChannel mode.

If i try to edit my data from the google firebase dashboard, vuex-easy-firestore intercept correctly the hooks (serverChange) in my module, but the data in my custom vue component, after an initial sync, doesn't sync anymore.

No problem instead with the operations from my-module

[2019-01-01 23:57] GerardoSabetta opened #126 "[Question] Firebase service named 'auth' already registered error"
Hi everyone, I tried to debug this on my own but I can't seem to get it work, I want to try and include this awesome repo in my project but I can't seem to get it to work, whenever I try to add the plugin to my store I get a "duplicated service" Firebase Error
`"{"code":"app/duplicate-service","message":"Firebase: Firebase service named 'auth' already registered (app/duplicate-service).","name":"a

[2019-01-02 02:54] GerardoSabetta commented on #126
Thanks a lot for the immediate reply!

[2019-01-02 02:54] #126 closed

[2019-01-02 04:48] ansidev commented on #124
The problem still there, do you have any working example for Vue or Nuxt?

[2019-01-02 19:15] GerryKeys commented on #125
I have solved the issue,

i used the props in order to pass the data to the component and now it works!

Thank you for your awesome plugin.

[2019-01-02 19:15] #125 closed

[2019-01-03 01:33] mesqueeb commented on #124
Hi @ansidev I wasn't able to program much the past two days. Sorry for the delayed response!!

I'm not sure what's wrong with your application. I myself have not worked with this library and Nuxt or server-side rendering yet.

If you can make a project folder in a zip or an online repository with the bug reproduced I can have a look!

[2019-01-03 01:38] mesqueeb commented on #124
Also see #66

[2019-01-03 01:48] mesqueeb commented on #125
@GerryKeys Sorry for the delayed response!!

I saw your post but didn't know where the error was when I looked yesterday. Everything should work fine with the current build.

I'm happy you resolved your bug. However, I'm confused because showing data directly from the store should work. I'm not sure why it does not.

Maybe instead of `data` which is not reactive, use `computed` instead:

[code]

I

[2019-01-03 02:02] mesqueeb commented on #115
I'm happy it worked out! Anything else feel free to ask!

[2019-01-03 02:02] mesqueeb commented on #126
@GerardoSabetta Added it to a FAQ in the docs

https://mesqueeb.github.io/vuex-easy-firestore/faq.html

[2019-01-03 03:46] ansidev commented on #66
You can clone this repository: https://github.com/SafeStudio/bible-reading-checklist

[2019-01-03 03:52] ansidev commented on #66
Currently, I replace your API with official Firestore API to make it work temporarily.

[2019-01-03 09:05] GerryKeys commented on #125
Thanks for your suggestions!
Have a nice day

[2019-01-03 18:17] itwasmattgregg commented on #101
I think the documentation just needs a step in the setup explaining where to put the firestore config and in which file the connection should be initiated.

[2019-01-03 19:40] ansidev commented on #124
You can clone this repository: https://github.com/SafeStudio/bible-reading-checklist.
Currently, I make it work temporarily by using official Firebase API, you must replace it by `vuex-easy-firestore` API.

[2019-01-03 19:46] usu commented on #110
Hi @mesqueeb. I tested with 1.25.1 today.

It now works fine for multiple signin/signout calls, in case closeDBChannel is properly called in between.

I ran into issues, when openDBChannel was called twice (new user signs in without old user signing out before). So I had to make sure that before opening the channel, the application checks whether a user has been signed in and whether any channels

[2019-01-03 19:53] usu commented on #112
Tested with 1.25.1, works like a charm 🤩

And thanks for sharing your thoughts above. It is always good to learn.

[2019-01-03 19:53] #112 closed

[2019-01-04 01:36] mesqueeb commented on #110
What issues did you ran in?
I think you should do closeDBChannel with {clearModule: true} right? Otherwise the Firestore onSnapshot listener will stay open and the previous user docs will remain there.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-05 03:18] mesqueeb commented on #123
Should be fixed in latest version. (1.25.2)

Please try `npm i vuex-easy-firestore@latest`
and let me know!

If it is fixed, please close the issue! ♡

[2019-01-07 02:15] mesqueeb opened #128 "Prop deletion on server is not handled on client"
By @zabaat

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-07 02:21] zabaat commented on #128
workaround for now, in your store file, just put your logic into your modifiedHook to make the direct modification to the store that you will need to make using normal Vuex methods.
[code]

[2019-01-07 02:22] #123 closed

[2019-01-07 09:32] mesqueeb opened #129 "try to prevent serverChange `modifiedHook` after local update because of `updated_at`"

[2019-01-08 06:46] mesqueeb opened #130 "add console.log for `fetchAndAdd` in doc mode"

[2019-01-08 19:49] coolhand79 commented on #110
I have encountered this issue in 1.25.2

Here's the basics:

CurrentMemberModule:
[code]

Use:
[code]

Adding this to the logout method works (for now)
[code]

Let me know if there's anything else you need 👍

[2019-01-08 23:10] mesqueeb commented on #110
@coolhand79 do you use SSR?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-09 00:35] coolhand79 commented on #110
Server side rendering? No, I don't.

On Tue, Jan 8, 2019 at 3:10 PM Luca Ban <notifications@github.com> wrote:

[2019-01-09 01:31] coolhand79 commented on #110
Yes, fair enough 😄 Writing my example code too fast, I suppose.

I've updated it 🌵

[2019-01-09 02:02] mesqueeb commented on #110
@coolhand79 After the last `openDBChannel` can check your vuex history stack and see if SET_USER_ID was in the mutations near the end?

Also after second openDBChannel, can you console.log (or just look via the console) at the variables

- `state._sync.signedIn`
- `state._sync.userId`
- `getters.firestorePathComplete`

Can you tell me what they are?
The thing is, they should be overwritten either

[2019-01-09 07:58] mesqueeb commented on #125
For anyone working with HOOKS, there has been a small (non-breaking) change to their behaviour.

Please read about it in the [latest release](https://github.com/mesqueeb/vuex-easy-firestore/releases/tag/v1.26.0).

[2019-01-09 07:58] mesqueeb commented on #95
For anyone working with HOOKS, there has been a small (non-breaking) change to their behaviour.

Please read about it in the [latest release](https://github.com/mesqueeb/vuex-easy-firestore/releases/tag/v1.26.0).

[2019-01-09 07:58] mesqueeb commented on #80
For anyone working with HOOKS, there has been a small (non-breaking) change to their behaviour.

Please read about it in the [latest release](https://github.com/mesqueeb/vuex-easy-firestore/releases/tag/v1.26.0).

[2019-01-09 07:58] mesqueeb commented on #79
For anyone working with HOOKS, there has been a small (non-breaking) change to their behaviour.

Please read about it in the [latest release](https://github.com/mesqueeb/vuex-easy-firestore/releases/tag/v1.26.0).

[2019-01-09 07:59] mesqueeb commented on #72
For anyone working with HOOKS, there has been a small (non-breaking) change to their behaviour.

Please read about it in the [latest release](https://github.com/mesqueeb/vuex-easy-firestore/releases/tag/v1.26.0).

[2019-01-09 07:59] mesqueeb commented on #68
For anyone working with HOOKS, there has been a small (non-breaking) change to their behaviour.

Please read about it in the [latest release](https://github.com/mesqueeb/vuex-easy-firestore/releases/tag/v1.26.0).

[2019-01-10 03:16] mesqueeb commented on #128
Firebase always sends an entire document, no matter which value was actually changed or deleted. That's why we'll need to check each incoming modification to see which props are missing that are present on the local doc, and delete them from the local doc.

Started work on a library that will help me find which props are not present anymore.
https://github.com/mesqueeb/compare-anything/blob/master

[2019-01-11 10:01] pitw commented on #98
This would be a great help for getting into vuex-easy-firestore.
Please also include an example into demo app with **firestore auth** / querying user specific documents.

[2019-01-11 10:21] mesqueeb commented on #98
Ok. I dont have enough hard drive real estate and my computer can’t currently handle filming my screen and webcam all at once it seems lol.

It’ll take a bit longer before i get the video out because i wanna get it right.

Please do in the mean time ask anything. Even simple questions are ok. I will do my best to help. Feel free to open issues.

<sub>Sent with <a href="http://githawk.com">GitHawk<

[2019-01-11 13:55] pitw opened #132 "Simple setting page with vuex-easy-firestore"
I'm trying to set up a simple "Settings Page" where user can store his settings (auth with firebase).

I'm able to read values which are manually written into Firebase - but not able to write.

**My code:**

**store / vuex**

[code]

**Component**

[code]

Doesn anybody see what I'm doing wrong?

[2019-01-11 15:36] mesqueeb commented on #132
@pitw Hi! Thanks for the issue.
You have to read the documentation on [add and manage data > 'doc' mode](https://mesqueeb.github.io/vuex-easy-firestore/add-and-manage-data.html#doc-mode)

If you read this you will understand the actions you can use to update your doc.

In your case you can just do:
[code]
and that's it.

you don't need to set up any mutations or actions if you are just updating si

[2019-01-12 03:18] mesqueeb commented on #132
@pitw I believe you 😃
Do you have any advice for me how I could make the "Add and manage data" section clearer?
I'd love you input!!

[2019-01-12 03:18] #132 closed

[2019-01-12 21:40] pitw commented on #132
My idea for making sections a bit clearer would be some kind of "snippets" (like you did above) in practical use.

It doesnt have to be a fully working and beautifully designed demo application - it can be just some quickly written together code so we get the idea how its meant to be used.

This lib has so many nice an well-considered features that its often hard to understand (at least for me) wh

[2019-01-13 06:47] mesqueeb commented on #128
@zabaat can you try with latest version and let me know?

[2019-01-15 07:43] bpkennedy opened #135 "Module state not updated after `set` action"
Still coming along with your library in a side project with namespaces modules.  Now I am performing a "module/set" action and it is correctly updating the database.  However the Vuex state (an array) is not being updated.  However, I see that "moduleData" array IS correctly updated - it just doesn't update Vuex state.

Is there something critical that I am missing?  I even tried recalling the "/f

[2019-01-15 07:50] bpkennedy commented on #135
Sorry for the typos and syntax errors.  I've had quite a lot of whiskey tonight.

[2019-01-15 08:53] mesqueeb commented on #135
@bpkennedy Let's get to the bottom of this.

First of all, a `set` action SHOULD update vuex as well, so we will focus on making that to work properly.
If this works properly we shouldn't have any reason to try and force a complete reset of the state and re-fetching it from firestore again. So let's not focus on that.

First of all, working with arrays can be tricky. Are you overwriting the curren

[2019-01-15 08:56] mesqueeb opened #136 "use arrayHelpers on non-array values"
Currently using `arrayUnion` on a prop that's not an array will not work.
I will change this behaviour so it will change the value into an array for you.

[2019-01-15 13:23] bpkennedy commented on #135
Sounds good, I will be able to get you that in a few hours.

I am overwriting the array whenever I setStories  in my mutation:

[code]

I call that mutation directly after doing a manual /fetch, bundling the querySnapshot docs into an array and push them forward.

I think the issue is that the .done on that call is true - so there is nothing to add/the action bails and doesn't even call that mutat

[2019-01-15 13:44] mesqueeb commented on #135
Oh no, I see what's wrong. `Vue.set` is completely separate from vuex-easy-firestore's `set` action. So you are using the wrong syntax.

With vuex-easy-firestore you can only use one of these 4 actions:
- dispatch('modulename/set', object)
- dispatch('modulename/insert', object)
- dispatch('modulename/patch', object)
- dispatch('modulename/delete', string)

You cannot use Vue.set, so please don't

[2019-01-15 13:59] bpkennedy commented on #135
Ah cool, I'll give it a shot and let you know results.

[2019-01-15 14:39] mesqueeb commented on #110
@coolhand79 I [wrote a test](https://github.com/mesqueeb/vuex-easy-firestore/blob/dev/test/user.js) based on your setup. the test passes.

I'm not sure how I can replicate what you are facing. Do you have any more info for me? I am literally doing the test just like your setup... : (

[2019-01-15 15:58] CelticParser commented on #98
Hey, thnx for all the hard work! But for now, how about just supplying the demo app under a /demo directory or somewhere else(?).  It be a great help - esp. a lot of us who are not getting how to even start with this (eg the config). Also, I thought Firestore has now fully implemented `enablePersistence()` across all devices - including Web??

[2019-01-15 18:00] CelticParser opened #137 "[Question] Vuex ORM"
Does Vuex Easy Firestore play nicely with Vuex ORM? If the two can be utilized, what is your recommended config>

Cheers!

[2019-01-15 21:48] bpkennedy commented on #135
Hmm, I think I see what I'm doing here - am i needlessly duplicating storiesData (the Vuex-easy-firestore module) with a separate non-VEF module and trying to keep them reconciled?  Along with deduping  data, I suppose it's better to pick one or the other.

[2019-01-16 02:56] bpkennedy commented on #135
All works, and is working well.  Problem solved!  Just usage/misunderstanding the setup of the library.  Thanks!

[2019-01-16 03:01] bpkennedy opened #138 "Suggestion: play nicely with browser state persistence"
Not a high priority or anything, but I tried setting up Vuex-Persist for some localStorage persistence across browser reloads, and had some issues with circular references in json.  However, I wasn't sure if it was my configuration or this library's manner of implementation.

Either way, it would be nice to have that built into the configuration as an option.  Vuex-Persist is one - there's another

[2019-01-16 03:22] mesqueeb commented on #137
@CelticParser Never tried this before. Let me know if you do!

My reasoning. Vuex-ORM (the author is actually a friend of mine : P) is more of a solution to easily connect a traditional database with Object-Relational Mapping with Vuex. I would argue that this is very powerful for MySQL or Postgre databases, and a perfect fit for when you are using a back-end like Laravel, hosting your own databas

[2019-01-16 03:32] mesqueeb commented on #138
As far as I know [offline persistence](https://firebase.google.com/docs/firestore/manage-data/enable-offline) offered by the Firebase JS SDK works fine. Please try integrating that!
[code]
From looking at the flow of data above, in my opinion it's probably smarter to get offline persistence to work in the Firebase JS SDK layer. They are closest to the actual Database and even keep track of data th

[2019-01-16 03:32] #138 closed

[2019-01-16 03:33] mesqueeb commented on #135
@bpkennedy Great to know! Sorry I couldn't be of more help. : S

please let me know if there's anywhere in the documentation you think I should improve!!

[2019-01-16 03:33] #135 closed

[2019-01-16 03:49] bpkennedy commented on #109
Yep, I'm on the latest and this is all good!

[2019-01-16 12:32] GerryKeys commented on #39
That would be great!

[2019-01-17 00:43] bpkennedy opened #139 "Example crud app"
The more I tried to think of way to improve the documentation I am realizing that the best help would be an example implementation Vue2 app.  Something that covers gets/fetches, updating, and creating.  Multiple modules, and then also how to work with this library next to non-library store modules for things that don't go in firebase (transient data).

I know how I am doing this myself, and I see

[2019-01-17 12:15] mesqueeb commented on #139
Ok i will make one soon.
I’m thinking of a todo list app example with a collection for to do list items and a settings page for single doc mode

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-17 17:02] coolhand79 commented on #107
This is becoming an issue for me. Might it be possible to disable the "insert initial doc" behavior?

[2019-01-18 00:05] mesqueeb commented on #107
Why is this an issue? Why can’t your users have create permissions?

What i usually do is:
[code]

This makes sure that any user can only insert a document with it’s uid as document key.

Can you please explain a bit more on your use case? I’d love to be able to know so i can decide if it’s common enough to change the library.

For now you can do a manual check if the doc exists or not, if not you

[2019-01-20 03:32] mesqueeb commented on #136
@zabaat

How about this: `dispatch('user/set', {prop: arrayUnion('hi')})`
- if the prop is `undefined` (inexistent)
  - it will creates a new array with the value of arrayUnion `prop: ['hi']`
- if the prop exists but is not an array
  - vuex-easy-firestore throws an error and abort the mutation and sync

[2019-01-20 03:39] mesqueeb commented on #39
I was surprised to see 5 thumbs up, 3 hurrays and 3 hearts.

I'm actually thinking of not bothering with this because of this reason:

- With the way that Firestore works it immediately (usually under 1 sec) resolves any `update` or `set` api call and treats it as "completed" even if the server change is still pending.
- even when your device is offline / has slow internet, the firebase JS SDK has

[2019-01-20 04:03] mesqueeb commented on #110
Guys I'm having difficulty replicating this bug. I think I had it once in my project but then it went away so I think it might have been unrelated.

If anyone can give any more info on this bug, much appreciated!

[2019-01-20 20:39] thokkane opened #141 "patchBatch example"
How should the patchBatch be called if i have a set of ids and want specific data for each to be updated?

dispatch('moduleName/patchBatch', {doc: {}, ids: []})

[2019-01-21 00:50] mesqueeb commented on #107
This is a good idea. I’ll implement this but the implementation will depend on when/where you execute openDBChannel or fetchAndAdd.
Please provide more detail on this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-21 03:59] bpkennedy opened #142 "FetchAndAdd desync"
This may be a matter of understanding, but I still find situations where it would be useful to be able to "desyncronize" the library's internal Vuex module state from the application.  And by desync I am talking about how the FetchAndAdd will retrieve items and then once all retrieved any subsequent call to FetchAndAdd yields a "done".

I'll give an example, and maybe you can point me in the right

[2019-01-21 04:55] wulfmann commented on #107
@mesqueeb as this is not entirely related to the original issue i'd be happy to open an enhancement issue.

I can provide a few use cases, but i'd say it'd definitely be wise to make it flexible since my use case me be narrower than others.

[2019-01-21 05:18] mesqueeb commented on #110
@coolhand79 @usu

I went through hell and came out stronger! I finally was able to tackle every rare case of the userId bug!!! **EVERYTHING SHOULD WORK FINE NOW.**

Please update to the latest version and test it out!!!!

And comment below if you still have any problems!

[2019-01-21 05:18] #110 closed

[2019-01-21 14:53] mesqueeb commented on #128
@zabaat Sorry, wasn't fixed when I said it was 8 days ago.
Now it's fixed!

Please try with `npm i vuex-easy-firestore@latest`
and let me know!

[2019-01-21 14:53] #128 closed

[2019-01-21 15:20] mesqueeb commented on #107
I'm thinking of this syntax:

[code]
(This would only work for 'doc' mode obviously)

If no counter-arguments, I'll push an update on it tomorrow.

[2019-01-21 16:48] coolhand79 commented on #107
Thanks for your example, @wulfmann. The issue you describe is very closely related to what I was referring to.

@mesqueeb related to your question - the use case I have is where documents are public for all to read, but only users with certain permission are allowed to create them. Users with permission will create many documents, not just one (thus, their uid wouldn't suffice).

```preventInitial

[2019-01-21 17:48] thokkane commented on #141
Ok. Its just calling
modifiedHook: function (updateStore, doc, id, store, source, change) {updateStore(doc);  }
for each dispatch('myModule/set', doc) even if they are automatically batched.

Is there a way to fire the modifiedHook only once for a batch?

[2019-01-21 19:44] usu commented on #110
@mesqueeb Nice, worked for me in the last version. Thanks for digging into this tricky one!

[2019-01-21 22:30] wulfmann commented on #107
Actually I do tend to agree there that it might be better to be pessimistic there.

As an aside this caused a very strange time to debug permissions on the table since I had allowed read but didn’t realize it was also trying to write.

Maybe we could expand the docs on the insert doc part as a part of this.

[2019-01-22 00:22] mesqueeb commented on #141
No, this is because of how the Firestore js SDK behaves. It will always fire for each doc individually.

What is your use case? Maybe I can help you with a work-around.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-22 09:31] mesqueeb commented on #107
@wulfmann @coolhand79 Waiting for your feedback on my last post to start implementing this.

[2019-01-22 16:11] coolhand79 commented on #107
Yes

Yes, I think so. I would actually suggest that it could be a higher level option as well:

[code]
and then again on the modules

[code]

WRT breaking changes... maybe a method for doing this type of change would be similar to how Firestore did the timestamp change?

[2019-01-23 03:09] mesqueeb commented on #107
Guys I have updated the library and added the ability to prevent initial doc insertion.
Please read the [new documentation](https://mesqueeb.github.io/vuex-easy-firestore/query-data.html#automatic-initial-doc-insertion) chapter on this.

As for my reasoning for not wanting a breaking change: Vue 3 will probably come out around June.

When that happens I will update the library to be compatible wit

[2019-01-23 19:11] thokkane opened #146 "Customize time between firestore calls"
How can you customize the time between calls?

I'd like to send some events instantly.

[2019-01-24 01:05] mesqueeb commented on #146
Ok this is not yet customizable but can easily be made so. I could push an update for this within a couple of hours, but before I start i'd first like to hear about your use case. This way I can decide if it's common enough to put in my library or just teach you a different way you could do that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-24 14:13] thokkane commented on #146
The use case here is that sometimes the next call can be made only after previous call has completed. For example if the id of a newly created doc is needed, we need to first get the new id and then make the next call.

Another use case is in collaborative environments the time between text edits needs to be faster so in these cases it would be nice to be able to set in the call if it should go in

[2019-01-25 05:20] BenAHammond commented on #117
My thought is basically this: You cannot actually overcome the limitations of the firebase API, but you can obfuscate them with your own API that does the fetching in the background.

So, for instance, you could create a `paged_list` type collection that keeps a hidden subcollection of all of the data and exposes fields for the current page, the current subset of data, and functions to trigger fet

[2019-01-25 18:23] usu opened #147 "oderBy created_at DESC, item inserted at end instead of at the beginning"
I have a collection that orders items in reverse order of creation time (newest at the top).

[code]

New items are inserted at the end of the list instead of at the beginning. After page reload (refetch of the data), the newly inserted document appears correctly at the beginning of the list.

[2019-01-25 23:09] mesqueeb commented on #147
Hi usu! Thanks for your question!
Did you read the [documentation on orderBy](https://mesqueeb.github.io/vuex-easy-firestore/query-data.html#where-orderby-filters)?
There I explain exactly what you can do. ^^

<sub>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If this library helped you in any way you can support me by buying me <a href="https://www.buymeacoffee.com/mesqueeb">a cup of coffee

[2019-01-27 08:58] usu commented on #147
Thanks @mesqueeb for pointing this out.
Somehow managed to skip this while reading the docs.

[2019-01-27 08:58] #147 closed

[2019-01-27 08:59] mesqueeb commented on #147
@usu no problem! I prbably added that part later so. XD

Good luck!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-28 03:19] mesqueeb commented on #146
@thokkane

## Set a shorter sync debounce

You can now set a [custom sync debounce duration](https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#custom-sync-debounce-duration).

Please update to the latest version. (> 1.29.0)

## Retrieve document id after insert

Please also note that you _do not need_ a shorter debounce duration _just_ to get the document ID.
Please see **Manually

[2019-01-28 05:19] bpkennedy commented on #142
Yea, that would be just fine for my needs.

[2019-02-02 00:23] CelticParser opened #149 "[Help Needed] unknown action type: fetchAndAdd"
I having issues implementing vuex-easy-firestore.  I have attempted various methods and keep getting to the same end point of

Possibly related to [issue#44](https://github.com/mesqueeb/vuex-easy-firestore/issues/44#issue-363614129)?

Bellow is all related files (Commented sections are various attempts). Appreciate any help you can give - Thnx!

[code]
[code]
[code]

[2019-02-02 00:52] mesqueeb commented on #149
Hi @CelticParser
thanks for your issue. You just made a small mistake in your configuration.
instead of:
[code]
you need to do this:
[code]
logbookSummary should only be passed through the plugin and not added as module.
because my library will take care of adding it as module for you.

PS, I made a sample app, but I haven't finished editing the video yet.
But for now you can [have a look at the r

[2019-02-02 01:18] BenAHammond opened #150 "Thoughts on alternatives to Firestore?"
I am looking into alternatives to Firestore that allow me more power and cost less. In the process, I've run across [Wrest](https://github.com/PWAckerman/wrest) and wanted to get your thoughts.

[2019-02-02 01:43] BenAHammond commented on #150
Oh totally, I don't expect you to do the work, I'm just discussing ideas.

Interesting point on the DB style, I was chalking up the relational
functionality as a plus :-)

On Fri, Feb 1, 2019 at 5:26 PM Luca Ban <notifications@github.com> wrote:

[2019-02-02 01:46] mesqueeb commented on #150
Hehehe i just fell in love with NoSQL since it’s so free to change anything at any time. Add props there and there. Change prop types. Etc. All that without having to worry about columns, column types, making db migrations, joining tables etc etc.

I left the sequel hole and am not eager to go back any time soon. XD

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-02 01:53] BenAHammond commented on #150
Yeah, I mostly just want to find a decently viable path to swap out
Firestore before I become to so reliant on it I cannot migrate away.

On Fri, Feb 1, 2019 at 5:46 PM Luca Ban <notifications@github.com> wrote:

[2019-02-02 03:06] mesqueeb commented on #150
Why don't you try hosting mongo on your own server

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-02 04:03] BenAHammond commented on #150
Yeah I'm currently planning on PoCing something with Redis and Socket.io
with GKE for scale

On Fri, Feb 1, 2019, 7:06 PM Luca Ban <notifications@github.com> wrote:

[2019-02-04 07:05] ctwhome commented on #139
Hi! thanks for making this awesome package! I can't wait for a crud example with auth! Do you think that would be possible?
thanks!!

[2019-02-04 13:30] bpkennedy opened #151 "Sample app reference in documentation help"
Hi @mesqueeb , I'm a couple weeks away from a first release of a Vuex-easy-firestore app.  I was wondering if you'd be interested in referencing projects that have used the library - it may also serve a dual purpose of a functional crud example (if my implementation meets your expectations).  I am keeping my source public.

I would also be happy to change code to better exemplify implementation if

[2019-02-04 14:02] mesqueeb commented on #151
I’ll look into your code!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-05 05:08] mesqueeb commented on #151
Update to latest firebase and delete custom timestamp settings, as firebase will guide you regarding this in the console log:
https://gitlab.com/bpkennedy/kenshi-journal/blob/master/src/firebase.js

You're using `let app` but not reassigning that variable anywhere here:
https://gitlab.com/bpkennedy/kenshi-journal/blob/master/src/main.js
Shouldn’t you `app = new Vue` inside the auth listener?

You’

[2019-02-05 06:12] bpkennedy commented on #151
1. firebase updated and timestamps no longer need to be set - fixed.

2. assigned app to `app` variable - yes, I should have been doing that.

3. For openChannel of Entries - I couldn’t think of a great way to accomplish this.  I needed to be connected to the entries collection, but not get ALL the entries (openChannel).  So, I’m not doing openDbChannel and just making one-off calls instead for wh

[2019-02-05 06:41] mesqueeb commented on #151
3 I think you're correct. I can't think of a better way either

8 exactly.

4: do you have default values? Please point me to the file where you make a new entry. I wanna see two you do it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-05 13:14] bpkennedy commented on #151
4. Sure, when I create a new story I do include a default empty array for the `entries` property.  https://gitlab.com/bpkennedy/kenshi-journal/blob/master/src/store/modules/stories.js#L80

This makes that property an Array type in firestore.  And then later when I am adding/removing an entry from the entries collection I use only arrayUnion and arrayRemove to change that field (https://gitlab.com/

[2019-02-06 06:27] coolhand79 opened #152 "Opening an already open db connection"
Is there a way to know if a db connection is already open? Or, a way to prevent reopening?

I have race a condition where I open a certain route opens a db connection, then patches it. Immediately after patch, it redirects to another route. The next route calls openDBConnection on the same module. Since it happens in such quick succession, the recently patched data is not available yet :( Of cours

[2019-02-06 06:46] mesqueeb commented on #152
If you do not need to keep your connections open you should use fetchAndAdd

There is also currently not a built in way to check for open connections through openDBChannel, however fetchAndAdd has this built in.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-06 17:55] razbakov commented on #139
I am working on a bootstrapping/scaffolding/crud framework on basis of `vuex-easy-firestore`
https://vue-rapid.netlify.com/

By the end of the week I am going to provide an example demo app with usage.

[2019-02-06 18:00] razbakov opened #153 "[planned feature] load by id / fetch by id"
Why would you need 2 types of vuex modules? I am having a problem with that approach.
I would rather have only collection and have an additional method `loadById`:

[code]

If document was already loaded you can just check in the state.

[2019-02-06 18:03] razbakov opened #154 "Create document with custom id"
Please provide an action to be able to do the following operation:

[code]

In my project I have to ensure of data consistency between different storages and the best way to do it is to get id from remote database and use it as an id in firestore collection.

[2019-02-06 18:05] razbakov opened #155 "Loaded state"
Please add `loaded` state property which shows if `fetch` method was triggered at least once.

[2019-02-06 18:30] coolhand79 opened #156 "[Bug] id is undefined after patch"
I've encountered what I think is a bug with /patch in docmode. It appears that executing a patch results in the document's id being undefined on client-side - even though it remains on the server

Here's my module:
[code]

Here's the code that results in a
[code]

As always, HUGE props for the package. It's craze-amaze.

[2019-02-06 18:36] coolhand79 commented on #152
I understand what you're saying. However, I have a number of modules that I need to open and close depending on the user's state. It's fairly complex, so when their state changes, I may or may not know if the module is open or not.

Is there no internal flag to identify if the connection is open?

[2019-02-07 02:39] mesqueeb commented on #152
Not atm. For now i would save your own custom flag somewhere in your state.

I will make this functionality somewhere over the next couple of weeks as it’s related to open issue #71

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-07 09:04] mesqueeb commented on #154
You can pass a custom ID when inserting or patching.
See the [documentation](https://mesqueeb.github.io/vuex-easy-firestore/add-and-manage-data.html#collection-mode) where it says **manually assign doc id's**

Is this what you are looking for?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-07 15:24] mesqueeb commented on #153
The doc mode is for purposes of having a single doc always synced to a Firestore doc, eg. a "user settings page"

Lead by ID is a completely new approach that I have personally never needed. Could you elaborate a bit more on your use case so I can understand why you would need this?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-08 15:21] BenAHammond commented on #150
Its working out great, I think I have my new backend.

Thanks for the help!

[2019-02-08 15:22] #150 closed

[2019-02-08 15:58] mesqueeb commented on #150
What’d you go for? Can you now not use Vuex Easy Firestore anymore?
If it’s not too difficult i can look in your back end’s docs and check if I could add it to this library or not.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-08 16:15] BenAHammond commented on #150
Just raw socket.io and redis at the moment, with a function to spit out
generic models and a little bit of wiring to my vuex state.

I pondered migrating over but the Redis backend gives me a lot, lot more
options for data storage and retrieval than maps to the current api. I'm
planning on leveraging all of their robust data api instead of having to
build that into my front end with Firebase's gen

[2019-02-08 22:34] CelticParser commented on #149
Sorry, I just got back on this today;

I completely rebased this app to use a different framework (Quasar) on monday and I just finally was able to test implementing VuexEasyFirestore into it today -- Awesome! Works like a charm.

I think the whole issue was I was (originally, and not realizing), that I was trying to access the store.modules outside of the Vue instance. Doh!

Thnx!

[2019-02-08 22:35] #149 closed

[2019-02-09 00:03] mesqueeb commented on #149
You could do that if you save `store` to the window object. Otherwise be sure to use the correct configuration for adding your vuex-easy-firestore modules to your store, as I show in the example above.

Ps I also use Quasar for everything 😀

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-09 02:16] ansidev commented on #124
@mesqueeb This problem is related to https://github.com/mesqueeb/vuex-easy-firestore/blob/ceed26107260e959197abd98f74ca55e1ebabbe6/src/module/index.ts#L21.

After the above line, the `conf` doesn't have function props.

[2019-02-09 02:43] mesqueeb commented on #124
@ansidev there's nothing wrong with that piece of code and i'm not sure what is causing your issue. I will look into your repository somewhere this weekend and let you know!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-09 07:09] ansidev commented on #124
This is the result of console.log

defaultConfig
[code]
userConfig
[code]
conf
[code]

[2019-02-10 09:34] ctwhome opened #157 "Counters structure or automatic counters?"
Hi guys, I think this is a common but IMO complex question, I just want to know how do you organize counters within the collections. Do you have kind of this structure?:

`collection -> document -> {count:0}, subcollection -> users`

![image](https://user-images.githubusercontent.com/4195550/52532075-5f712f00-2d1f-11e9-875b-edb39134333f.png)

or what strategy do you use?
 is there something that `

[2019-02-10 19:29] eugenepentland commented on #66
@pmanning11 How did you set up vuex-easy-firestore with Nuxt?

From what I've been able to find, you can't use module mode in Nuxt, and I keep getting an error that the modules in vuex-easy-firestore are trying to be mounted to a root store that does not exist yet. Any help would be appreciated!

[2019-02-10 20:04] ctwhome commented on #157
I am thinking of another possibility, just adding a custom document within the root collection for the count?
![image](https://user-images.githubusercontent.com/4195550/52538816-76dc0680-2d77-11e9-847e-edb313737ac5.png)

[2019-02-10 23:12] mesqueeb commented on #157
Either wil do, shouldn't be too hard to implement as well! If you wanna try your hand at it feel free to pr!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 02:12] mesqueeb commented on #157
I feel the first method is better. As the second might cause unexpected behaviour when retrieving all docs. For the first method we can easily patch the collection's parent doc on each insertion or deletion.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 02:35] CelticParser commented on #154
I use firebases' callback the following way to set the user's firestore account id to match that of the `authResult.user.uid`:

[code]
However, I can't figure out how to replicate this using `vuex-easy-firestore`

[code]

[2019-02-11 05:23] bpkennedy opened #158 "Request: modifiedHook to be triggered on local change"
Heya!  So, I'm at a point where one vuex module needs to know when an item has changed on the server and then ask another vuex module to do some work.  I am trying to use the `modifiedHook` but it doesn't seem to fire or register a "modified" trigger for me.  My current, hacky workaround:

[code]

But I know this is either a misunderstanding on my part or maybe a bug?  The module I want to listen

[2019-02-11 10:00] Adrear opened #159 "Cannot read property 'docLimit' of undefined"
l like your idea and I want to play with it. But I cannot connect your plugin to my NUXT project.
I get the same error every time. "Cannot read property 'docLimit' of undefined"

**_store/index.js_**
`import createEasyFirestore from 'vuex-easy-firestore'
const myModule = {
  firestorePath: 'userDocs/{userId}',
  firestoreRefType: 'collection', // or 'doc'
  moduleName: 'userData',
  statePropName:

[2019-02-11 10:47] mesqueeb commented on #159
Yes Vuex easy Firestore is not yet compatible with Nuxt and I do not have time right now to make it compatible .
I myself have not yet used Nuxt..

You're free to look through the source code and make a PR!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 10:50] mesqueeb commented on #158
Modified hooks are ONLY triggered on a change on your server and NOT when that change was invoked from your front end. Eg. A change in Firestore console or another client with your same app.

Can you try and manually making a change in Firestore console in the browser and confirm if the hook fires or not?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 10:55] mesqueeb commented on #154
You'ru doing some things wrong and I think I can help you. But do you want to use a doc or collection for 'addUser' module?

Also addUser is a weird name for a module, why not just use a module called 'user'?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 11:39] bpkennedy commented on #158
Ah, that would make sense.  I will try that over my lunch in about 6 hours.

If that turns out to be the issue, I'll consider this ticket resolved, but would then have a separate question on how to wait until a module's local change has fully propagated to firestore before running a follow up action in a different module.

[2019-02-11 13:34] CelticParser commented on #154
Actually we're using 'registerUser'. It's only used at registration. When there are hundreds of modules being utilized, implementing "source of truth" to prevent "mental mapping" becomes a necessity.

We started playing around with this plugin last week (again) in thought that it would reduce broilerplate - and it does! However it was noticed over the weekend while inspecting what it does via the

[2019-02-11 14:27] razbakov commented on #154
@mesqueeb Thank you, it looks promising. I gonna check it.

So for example above from @CelticParser the code should be:

[code]

P.S. Better use `moduleName: 'users'`

[2019-02-11 14:27] #154 closed

[2019-02-11 16:21] CelticParser commented on #154
@razbakov Thnx for the input. However that does not truly create a doc/collection with a custom id. Test by looking at the id within the FireStore db. Next log out or, switch machines/devices, or delete the cache; Then log back in and inspect the db; you will discover that the plugin will create a second entry with a new id. I walked in this morning with 3 devs saying, "Nope, I wouldn't use it (th

[2019-02-11 17:31] bpkennedy commented on #158
Indeed, modifiedHook is called when the change is not from my client.  Sweet!  Can you suggest anything for the use case of the client needing to wait until the server is updated?

[2019-02-11 20:24] ctwhome commented on #157
Well reading here in stackoverflow, https://stackoverflow.com/a/54490290 it says that to return the length of the collection only will cost one read.
[code]

It is possible to listen for changes in the query (https://firebase.google.com/docs/firestore/pricing#operations) but I don't really understand the part in the docs when it says "Also, if the listener is disconnected for more than 30 minutes

[2019-02-12 00:32] mesqueeb commented on #158
No, currently there is no feedback on this in my library. I believe that there are almost no use cases where this is needed.

Please tell me more about your use case and why you need this. Maybe I can teach you a work around for your case or add the functionality to my library if your use case in common enough.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-12 00:43] mesqueeb commented on #154
@CelticParser razbakov is correct as that would be the way to do it. The problem you are having now is clearly something you are doing wrong in your setup. If you provide me with more of your code I can help you find the problem.

Btw, I'm not sure about your counter arguments... this plugin definitely does not add 17 stores!! 😃 as I said: I think you might be using it wrongly.

The only thing Vue

[2019-02-12 07:51] pmanning11 commented on #66
@eugenepentland I ended up just using it the way it describes in the docs - not in the nuxtServerInit function.

[2019-02-12 13:32] pitw opened #160 "Storing Tokens and Passwords as write - only"
I have some OAuth Tokens and encrypted passwords user can store in Firestore (App Engine webservice uses it for some syncing in a later step).

I'd like to separate this things completly from Vue / Vuex so user just can write or delete - but never directly retrieve the plain tokens / passwords.

This means I have to create a at least a subcollection (f.ex. "Tokens") which I then can set to write-o

[2019-02-12 14:45] eugenepentland commented on #159
@Adrear it has to do with it not reading the default values for the module. When I copied the default values in, I was able to get passed that, but then it had an error with the getters. I am working on trying to get it work with Nuxt as well.

Adding sync: { docLimit: 50} got passed that error.

[code]

[2019-02-12 23:05] mesqueeb commented on #160
This question is more related to general architecture of your client application.

I don’t see why you cannot use a regular vuex easy firestore module and just properly set up your security rules in your console.
What are the problems you are facing when doing so?

Guard & fillables have indeed nothing to do with this and are used for entirely different purposes. I’d love to help you put more but

[2019-02-12 23:07] mesqueeb commented on #159
@eugenepentland all default values of the plugin are merged with the passed options when the plugin is triggered during vuex instantiation.

It’s weird that you have to pass the default plugin values yourself. Does this mean that Nuxt doesn’t instantiate vuex at all?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-12 23:46] pitw commented on #160
In case somebody else have a similar problem - with this firestore rules it seems to work.

[code]

So sensitive tokens will be stored in subcollection "sensitive" where user just can write + delete but never read.

Is it true that I have to create 2 modules for updating module + submodule?

[code]

[2019-02-13 00:23] HoraceKeung commented on #111
Got `Error: [vuex] do not mutate vuex store state outside mutation handlers.` when calling `store.dispatch('myModule/openDBChannel')`
![image](https://user-images.githubusercontent.com/6639120/52677254-1e4a6c00-2f25-11e9-84be-36275eaa636f.png)
May have to do with this line of code: `state._sync.unsubscribe = unsubscribe;` where it is trying to mutate `state._sync.unsubscribe` without using mutatio

[2019-02-13 00:36] mesqueeb commented on #111
@HoraceKeung Yeah, I make direct modifications to some state props in the store without using a mutation. This is only for specific props used internally by my library, unrelated to the user data.

The reason for me is that I didn't want to **unnecessarily clutter the mutation history** with several dozens of mutations coming from my library, and also didn't want to **increase library size** by ad

[2019-02-13 00:50] mesqueeb commented on #160
You can create as many vuex easy firestore modules as you want. And you can even nest them by setting the `moduleName` to `settings` and the other to `settings/sensitive` or something.

However, your `firestorePath` is incorrect, the top one is a collection and the bottom one appears to also be a collection. `'settings/{settingsID}'` would be a doc, or `'settings/{settingsID}/sensitive/somethingEl

[2019-02-13 00:50] #160 closed

[2019-02-13 00:54] mesqueeb commented on #146
I'm going to close this since it's already implemented as requested.
Feel free to continue the discussion below.

[2019-02-13 00:54] #146 closed

[2019-02-13 01:06] mesqueeb commented on #153
@razbakov I don't understand why you'd need a loadById function. Please tell me more about your use case.

You could work with a single document like so:
[code]
And then get the doc by doing:
[code]
Then you can close and open the channel again with a different ID to switch the data.

Or you could use a collection and keep on fetching and adding documents with different id's:
[code]

All of this i

[2019-02-13 01:07] mesqueeb commented on #157
I gotta think of a way I could add this without bloating the library.

[2019-02-13 10:32] HoraceKeung commented on #111
I believe there is misunderstanding. Sorry, I am not trying to start an argument, I am asking a question: whether the above 2 errors are caused by the fact that you are modifying the state without mutation?

[2019-02-13 10:45] mesqueeb commented on #111
Yes i believe so. I should change my library’s underlying state modifications to only use mutations instead of directly modifying the state, but i’m not sure i want to do that....

For the time being you can prevent this error by not using strict mode on vuex.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-13 10:56] razbakov commented on #153
@mesqueeb in your example:

[code]

you suppose that there is an `id` property in document, but I need id of the document.

I need this functionality to build the following:

Let's say we have a chat:

[code]

So I want to load chat messages and then lazy-load user information later one-by-one.

[code]

[2019-02-13 16:10] stegithub commented on #156
I've this problem too.

[2019-02-14 06:00] aronsuarez opened #161 "[TS] Types for where in config not correct"
First, this is great tool!

I have found a type error, when i setup a where filter in the initial config is the where type "string[][]" this doesn't work when a boolean or number is present.

[code]

[2019-02-15 01:34] mesqueeb commented on #161
You are right. Changed it to `any[][]` will push minor update on this soon.

[2019-02-15 12:43] #161 closed

[2019-02-15 12:46] mesqueeb commented on #156
I fixed it in the latest version.
Please try `npm i vuex-easy-firestore@latest`
and let me know!
<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If this library helped you in any way you can support me by buying me <a href="https://www.buymeacoffee.com/mesqueeb">a cup of coffee</a>.</sub>

[2019-02-15 12:46] #156 closed

[2019-02-15 12:46] mesqueeb commented on #161
I fixed it in the latest version.
Please try `npm i vuex-easy-firestore@latest`
and let me know!
<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If this library helped you in any way you can support me by buying me <a href="https://www.buymeacoffee.com/mesqueeb">a cup of coffee</a>.</sub>

[2019-02-15 12:48] mesqueeb commented on #141
I'll close because of inactivity. Feel free to continue the discussion below though.

[2019-02-15 12:48] #141 closed

[2019-02-15 13:08] stegithub commented on #156
It seems fixed. Thanks for your timeliness.
Very good job.

[2019-02-15 13:41] mesqueeb commented on #151
I guess my final piece of advice is the values you are adding to an [initial story insertion here](https://gitlab.com/bpkennedy/kenshi-journal/blob/master/src/store/modules/stories.js#L80). Should also best be added to [defaultValues](https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#default-values) to prevent any issues when a doc retrieved from the server doesn't have those prop

[2019-02-15 13:41] #151 closed

[2019-02-15 13:41] mesqueeb commented on #151
Let me know if this helped you. Feel free to continue the discussion below!

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If this library helped you in any way you can support me by buying me <a href="https://www.buymeacoffee.com/mesqueeb">a cup of coffee</a>.</sub>

[2019-02-16 02:25] mesqueeb commented on #153
@razbakov I see what you mean. However, the thing is, vuex easy firestore automatically saves the document id of every document onto the document as well. So if you use this library to patch/save users in your users collection, they will also have their document ID saved as a property `id`.

I do this exactly for cases like yours. So I still think you could change your `getUser` function syntax to

[2019-02-16 02:39] mesqueeb commented on #153
@razbakov I had a thought about this case and I decided I will add a fetchById function with the following syntax:
[code]
Currently the params you could pass fetchAndAdd are
- `where`
- `orderBy`
- firestorePathParams
- and I'll add `id` which accepts a string to get a single doc by ID.

Please note this would only be possible with `firestoreRefType: 'collection'` because 'doc' mode just uses the

[2019-02-16 18:12] thokkane commented on #146
@mesqueeb sorry for long response time. Just tested the last option and its working as intended.

[2019-02-16 18:21] thokkane opened #163 "Update value in firestore array field"
I have an array in firestore as a field in a document. I need to update one value in a specific item in the array. How can a specific array item be updated? Below is an example.

[code]

[2019-02-16 22:36] bpkennedy commented on #158
I seem to be having trouble remembering the use case I had!  I'd say that means it's not that important.  😄 .   If I come up to it in the future I can re-open this or open a new and describe for you/I/others to discuss and figure out if it's worth any effort to change.  Cool?

[2019-02-16 22:38] bpkennedy commented on #151
As I thought through the implications of setting the default values in the vuex-easy-module startup I think that would be a pretty good way to handle net new future properties.  I'm going to update my implementation of the default values using the module config as well.  Will post back here when complete.

[2019-02-17 00:27] mesqueeb commented on #163
@thokkane
This is not possible because of limitations of the firebase firestore SDK. The only way to do this would be by replacing the whole array.

In your example:
[code]

But it's much better to avoid working with arrays and only work with objects in my opinion.

See this blog post of firebase: [Best Practices: Arrays in Firebase](https://firebase.googleblog.com/2014/04/best-practices-arrays-in

[2019-02-17 00:27] #163 closed

[2019-02-17 00:30] mesqueeb commented on #158
Great!

I'll close this issue, but anyone with similar requirements, let me know down below!

[2019-02-17 00:30] #158 closed

[2019-02-17 10:48] thokkane commented on #163
@mesqueeb thank you.

[2019-02-18 03:07] JasonAlanKennedy opened #164 "Lazy Loading Modules"
A quick question; How can one lazy load a easy firestore module? and not load everything in all at once?

[2019-02-18 03:41] mesqueeb commented on #164
It depends on what you mean with lazy loading the module.

If you mean for Firestore data, you can just refrain from executing openDBChannel or fetchAndAdd.

If you mean adding a Vuex easy Firestore module dynamically after the store is already instantiated: this is not recommended for Vuex plugins, but could be done I think. It is quite hacky though. But then again, I don't think there's any use

[2019-02-18 03:48] JasonAlanKennedy commented on #164
We didn't think so. Imagine loading hundreds of stores during the initial download on a mobile device - that's why you register Vuex modules only when they are needed.

[2019-02-18 04:58] mesqueeb commented on #164
Oh! I never imagined a use case where you need hundreds of stores! XD
I personally only need to use about 3-6 each app I make.

Could you explain a little more about your use case? Then I can think if I should integrate dynamic module creation or not.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-19 12:58] ctwhome opened #165 "modules inside modules (dynamic module registration)"
Hallo @mesqueeb, I am trying to find the solution for a "basic" problem, but I can't find it anywhere.

I am struggling on how to distribute the data of the data model in the correct way. I am building an app to manages ideas within different organizations. _Organizations_ have _Ideas_ and Ideas have _Comments_.

First thing I thought was to create 3 main collections, one for organizations, other

[2019-02-19 17:53] reut-soficoop commented on #126
Hi, I'm almost about to give up...
I'm fighting against ```Firebase: Firebase service named 'firestore' already registered.```

This is my store.ts
[code]

And this is my main.ts file:
[code]

@mesqueeb can you help me solve it?
Thanks!

[2019-02-19 23:35] mesqueeb commented on #126
@reut-soficoop Very weird. It seems that you do everything correct...

Try this:
- firebase.ts
[code]
- store.ts
[code]
This is almost identical to what I have, but it works on my end. No idea why yours doesn't work.

Be sure to double check you're not importing firebase/app anywhere else in your app. If you do it must be after the store instantiation.

[2019-02-19 23:50] mesqueeb commented on #165
Hi @ctwhome
It understand what you say. However, I don't think that creating modules (with different organizationIDs) dynamically is the best way to go.

You see with Vuex you'd usually want to have a single collection for all ideas so it's easy to link all kind of components to this single vuex module. Then that means there only has to be one instance of this module with all its methods and gette

[2019-02-20 01:54] mesqueeb commented on #117
Here's an update from the firebase youtube videos, released today:
https://www.youtube.com/watch?v=poqTHxtDXwU

I understood everything he said and literally learned nothing... : D
He basically says probably the best way to do it is how I'm already doing it in my library, where I work with last document reference.

I guess I could improve the library to save the data in an object with page numbers

[2019-02-20 02:48] mesqueeb opened #166 "patch 1 nested prop that's guarded results in deletion of other props"
## Problem
When patching a single nested property like so:
[code]
but this nested prop is actually guarded prop:
[code]
It results in the actual sync being the same as:
[code]
effectively deleting any other props on the server, and replacing it with an empty object...

## Solution
prevent empty objects from being synced?? I'm not sure... o_O

[2019-02-20 02:49] mesqueeb commented on #46
I'll silently close this issue, as firebase already doesn't show this error anymore. : D

[2019-02-20 02:49] #46 closed

[2019-02-20 08:34] reut-soficoop commented on #126
@mesqueeb
Thanks,
I looked over again and one of my modules had firebase/app import.

[2019-02-20 09:10] mesqueeb commented on #126
Oh!! I’m happy you got it!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-24 00:17] Dinibewerbig opened #167 "third sister plugin: When would vuex-easy-firebase-auth be out?"
You were talking about working on it in an earlier post. Thanks for your answer.

[2019-02-24 00:19] Dinibewerbig commented on #159
Evening @Adrear , could make vuex-easy-firestore work with Nuxt in the end?

[2019-02-24 00:42] mesqueeb commented on #167
Hi! Thanks for your message!
I have thought long about authentication, and I have about 4 small web & cordova apps all using a single "auth" vuex module with all the authentication logic.

I realised, authentication requirements can be so different from project to project, it's difficult for me to come up with what a streamlined package should look like. 😅

What would you like to see in a vuex-eas

[2019-02-24 11:11] Dinibewerbig commented on #167
Hi! Thanks for your reply!

I am a newbie and don't much about authentication yet. I only want the standard sign-up, login page with e-mail, google and facebook login and I wanted it integrated into my website and not as a pop-up. Very basic stuff so I am sure I can figure it out myself. Also I use Nuxt and nuxt generate, so your plugin wouldn't probably be much of a help, I assume. It's just your

[2019-02-24 16:19] halloway opened #168 "How to catch errors on set/insert/patch"
First of all...VUEX-EASY-FIRESTORE is awesome!
I am wondering how to catch errors when they happen whilst loading, setting or updating data.
I can see in the console of the browser for instance that an error is shown if there are missing permissions as security rules are blocking access for Firebase.
Would be great to know where to access those error in code so the UI can be updated to inform the

[2019-02-25 22:32] JasonAlanKennedy opened #169 "Since Quasar v1.0, Firebase Throws Exception"
Since upgrading Quasar to v1.0, Firebase throws:

At:

The above error prevents the application from initializing (client-side).

Firebase is initialized before Vuex as a plugin in the `src/boot` directory.

All other usages of firebase and firestore works as expected other than the use of this plugin.

Quasar has determined that its how this plugin is init'd.

To implement the error; install Quas

[2019-02-25 23:50] mesqueeb commented on #169
You can work around it by initialising Firebase before you initialise the Vuex store and then passing the Firebase dependency to vuex-easy-firestore.
Please read the [documentation here](https://mesqueeb.github.io/vuex-easy-firestore/faq.html#firebase-error-app-duplicate-service).

It works for me on Quasar V1. 😉
This is my store file:
[code]

Let me know how it goes!

[2019-02-25 23:55] mesqueeb commented on #168
Hi.
There is indeed no possibility to catch errors.

The reason is because how I implemented sync:
- I created an object (which I called the "syncstack") in which I collect patches/inserts/deletions.
- Each insert/patch adds the change to the syncstack and then resets a timer.
- If the timer has run for 1000ms without new changes to the syncstack it will commence a batch sync.

I'm not sure how I

[2019-02-26 00:04] mesqueeb commented on #165
I have thought a bit more about this use case.

The reason I have not yet implemented `statePropName: 'data/{organizationId}'` is because every action you make would need to know against which organisation the changes need to be made. So I'm don't think this is a better approach after all. Also this would make the codebase much more complex.

I guess in this case it's better to have 1 module per o

[2019-02-26 00:12] mesqueeb commented on #155
@razbakov I have thought about this. (sorry it took so long) but realised that it's better for you to use the actual fetch history which is saved in the state.

Check this line: https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/module/actions.ts#L220

[code]

You can see that during each fetch call I save which part was fetched at `state._sync.fetched`.
- if that is an empty object n

[2019-02-26 00:19] mesqueeb commented on #71
@eneskaya @coolhand79

When `openDBChannel` is called there's currently only a single reference to that saved to be able to unsubscribe again.
The current logic can be found here:
https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/module/actions.ts#L437
[code]
it would overwrite previous openDBChannels, making it unable to close them again when having open 2 channels.

So I just need

[2019-02-26 00:21] JasonAlanKennedy commented on #169
Thanx,

I didn't take the

literally as "app **OR** duplicate-service"

[2019-02-26 00:21] #169 closed

[2019-02-26 00:23] mesqueeb commented on #169
@JasonAlanKennedy No problem! Glad you got it sorted out 😊

[2019-02-26 00:48] Dinibewerbig commented on #167
I have just found something very similar... https://github.com/james2doyle/nuxt-firebase-auth which sort of works for me know...  It works also fine with nuxt generate as a static generated deployment, which is important to me, because I want to use static hosting for economical reasons.  This guy has had the same issue... having to rebuild authentication everytime from scratch. So he created this

[2019-03-01 14:15] halloway commented on #168
Currently I don't have any advise.
Of course it makes sense to make sure there are no error but they can
always happen due to things which can't be controlled.

Am Di., 26. Feb. 2019 um 00:55 Uhr schrieb Luca Ban <
notifications@github.com>:

[2019-03-02 13:41] Dinibewerbig opened #171 "Please make a jsfiddle online demo of a basic Vue, Vuex, Vuex-easy-firestore app. That would help me a lot with the first steps."
arghh.. I am too dumb, to even install vuex-easy-firestore with the installation setup guide. Why not create a jsfiddle, where I could look at the example live and test it. That would be very useful.

[2019-03-02 13:47] Dinibewerbig commented on #171
Or even better a simple vue app with the basic functionality downloadable on github. What I am insterested specifically is how and where your module connects to firebase.firestore.

[2019-03-02 17:56] Dinibewerbig commented on #98
Wow, 2 month later and still no demo app. :-(

[2019-03-02 18:03] JasonAlanKennedy commented on #98
Forgotten to unfollow this repo. LoL  He has one here but it's not a good example of a real-world app the way it's implemented.

https://github.com/mesqueeb/vuex-easy-firestore-sample-app

[2019-03-02 20:46] Dinibewerbig commented on #98
Thanks! It's just to get an idea how to connect to firestore. Thanks a lot :-)

[2019-03-03 12:48] ctwhome commented on #165
Hi Luca! thanks for taking care of this.

this is how I am making it now thanks to you guidance:
[code]
It just works perfectly, as you said, firebase internals takes care of the caching and the ideas for an organization come back even after clearing the module even offline! wow man. That is awesome!
thank you very very very much for your support

[2019-03-03 12:53] ctwhome commented on #165
in the other hand... it is very easy to filter ideas for an organization, they don't really have to live in sub-collections. If I want to filter ideas by user, having all the ideas in 1 module is the only way to have this without having to read all the organization. So another point to have just one module for all the ideas of the app, another module for all the comments.. etc.

Maybe it is intere

[2019-03-03 13:04] mesqueeb commented on #165
No problem!!
I am happy i was able to help! I’ll close this thread and keep open #164 for now. But feel free to continue the discussion!

<sub><br>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If this library helped you in any way you can support me by buying me <a href="https://www.buymeacoffee.com/mesqueeb">a cup of coffee</a>.</sub>

<sub>Sent with <a href="http://githawk.com">GitHa

[2019-03-03 13:05] #165 closed

[2019-03-06 03:30] mesqueeb opened #172 "‼️ important info for 'doc' mode & firebase auth ‼️"
‼️ There are issues with the automatic initial doc insert when using 'doc' mode!

### Problem 1: offline + no offline persistence

When the app is _offline_ but there is _no offline persistence_ and the app is opened, the user ID is still saved in browser cache, but the data isn't. **This causes the library to insert an initial doc and will overwrite server data when the app comes back online.**

[2019-03-06 16:10] troublesprouter opened #173 "What is the main difference with nuxt-fire?"
I noticed there are two similar projects. I'm new to development. What's the main difference between this project and https://github.com/lupas/nuxt-fire?

Thank you.

[2019-03-06 22:44] mesqueeb commented on #173
The one is for Nuxt, and Vuex easy Firestore is not yet unable with Nuxt. :)

Use whichever you like best and feel free to ask me anything!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-06 23:03] troublesprouter commented on #173
Thank you. Do you mean Vuex Easy Firestore is _not_ currently compatible with Nuxt?

I am using Nuxt.

[2019-03-06 23:33] mesqueeb commented on #173
Yes you cannot use Vuex easy Firestore with Nuxt right now. I hope to change this in the future and make it compatible!!

Because of the way Nuxt handles vuex store. :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-06 23:39] troublesprouter commented on #173
Perfect. Thank you.

[2019-03-06 23:39] #173 closed

[2019-03-08 00:23] bpkennedy commented on #98
Not sure if it's kosher to post on his behalf but I have an app that's public which demonstrates using and auth: https://gitlab.com/bpkennedy/kenshi-journal

[2019-03-10 02:27] halabe opened #174 "Cannot delete docs with dots.in.their.ids"
Hi - Thanks for the great package. Most of my firestore doc ids have internal.periods.  The package seems to interpret these as paths to doc properties, so when I try to delete a doc named this way, I get an error (in the DELETE_PROP function).... "Cannot delete reactive property on undefined, null, or primitive value: undefined"

Is there any workaround other than renaming all my docs?  I have a

[2019-03-10 07:54] mesqueeb commented on #174
Hi! Thanks for your post!
The entire application is build around the fact that there are dots in paths and nested props!
So I'm afraid it'll be quite impossible for me to change this. 😅

If you want you could fork the project and change the dot to something else. It won't be easy but i'm prepared to help you out if you want.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-10 14:40] halabe commented on #174
Thanks for the response.  I wouldn't propose changing the dots (though, I think I'd learn a lot trying!).  Instead, just one delete, could we give the caller a way to indicate that the id passed is really an id, like `dispatch('myModule/delete', id, { path: false })`  Maybe an optional options param at the end will turn out to be a place to hang other useful options?

I'll look into this myself, b

[2019-03-10 15:06] halabe commented on #174
FYI - That was "easy" :-)... I just added a getter to every (collection) module that returns a doc's ref, given its id.  Then I added a generic delete to my main store, like this:
[code]
Thanks again for this **fantastic** package and your quick responses.  (I'm really enjoying learning about this stuff!)

PS - maybe the easy-firestore "go-around-to-google" feature is a just getter in each store t

[2019-03-11 00:55] mesqueeb commented on #174
@halabe I'm glad you got it working.
By the way see this for another reason why you should avoid `.` in id's:
https://firebase.google.com/docs/firestore/manage-data/add-data#update_fields_in_nested_objects

Finally, if you log the getters of a vuex-easy-firestore module you'll see there's a getter called `dbRef`.
Eg. if your module is a 'collection', this DB ref will be the ref to the collection.

[2019-03-11 04:51] halabe commented on #174
I don't think there's any ambiguity for firestore in that case, since the parameter to the `doc` method is understood to be exclusively the doc name (which allows `.`).  It's the object parameter to `set` which may have `.` delimited key paths as the keys.

Excellent that you provide the dbRef getter.  Thanks for that tip, and again, thanks very much for this great package and your kind attention!

[2019-03-11 08:10] mesqueeb commented on #174
@halabe I'll close this for now! But feel free to continue the discussion. 😉

[2019-03-11 08:10] #174 closed

[2019-03-12 10:57] eneskaya commented on #71
@mesqueeb Sorry for late reply.

The way we do it now (which I don't like) is having a class which hashes the path with the [btoa](https://www.w3schools.com/jsref/met_win_btoa.asp) method, so let's say we want the `onSnapshot` listener for the *users* collection and the document ID 1. Then I would convert the path to an array like this: `['users', 1]` and use `btoa(['users', 1])` as and identifier

[2019-03-12 13:37] mesqueeb commented on #155
I'm gonna close it for now. But feel free to continue the discussion!

I've added this part to the bottom of the [fetching documentation](https://mesqueeb.github.io/vuex-easy-firestore/query-data.html#fetching-docs):

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If this library helped you in any way you can support me by buying me <a href="https://www.buymeacoffee.com/mesqueeb">a

[2019-03-12 13:37] #155 closed

[2019-03-12 15:20] halaprop opened #175 "Guard for array props"
For props nested in an array prop, like:

`arrayProp: [ { allowed: true, notAllowed: true }, { allowed: true, notAllowed: true } ]`

I've noticed that specifying guard / sync for these, like this:

[code]

Does not have the desired effect.  Am I mistaken in using it on an array?  If so, is there a work around?  (I've tried removing the locally added prop just before I save, but this causes my view

[2019-03-13 06:49] mesqueeb commented on #152
Hi @coolhand79
I have just pushed version `1.30` where I have made it so `openDBChannel` cannot be executed twice.

Please open your DBChannel like so:
[code]
If something was already open with the same where / orderBy or pathVariables, you'll get an error.

If it is ok for you, please close this issue! ♡

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If this library helped you in

[2019-03-13 06:50] mesqueeb commented on #71
Hi @eneskaya
I have just pushed version `1.30` where I have made it so `openDBChannel` cannot be executed twice.

Please open your DBChannel like so:
[code]
If something was already open with the same where / orderBy or pathVariables, you'll get an error.

If it is ok for you, please close this issue! ♡

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If this library helped you in a

[2019-03-13 08:40] eneskaya commented on #71
Great!

[2019-03-13 08:40] #71 closed

[2019-03-13 08:56] mesqueeb commented on #175
Hi @halaprop
Indeed, guard is only usable for nested properties and it points to the property name.
Eg.
[code]
As you see above, the field called `color` was deleted before the data is pushed to the server.
Guard and nested are **arrays of "property names"**, but cannot look inside arrays.

In order to filter out specific elements in an array, you will need to use [hooks](https://mesqueeb.github.i

[2019-03-13 22:32] halaprop commented on #175
Thanks.  I'm not aiming to remove values from an array.  I'm aiming to remove guarded key/values from objects contained in arrays. So I modified your suggestion to say this:

[code]
I can see on the console log that the objects inside arrayProp have the "notAllowed" keys removed.  Nevertheless, when I inspect the patched or inserted object on firebase console, the guarded keys reappear!

[2019-03-13 23:04] mesqueeb commented on #175
@halaprop I see what you mean now.

First of all, deleting fields from an object is quite tricky because of how Firestore works.

Please read the firebase documentation on [deleting fields](https://firebase.google.com/docs/firestore/manage-data/delete-data) here.

### The reason why deleting is tricky

As you can see from the documentation, you need to use this: `firebase.firestore.FieldValue.dele

[2019-03-13 23:08] danmalone89 opened #177 "[Bug] arrayRemove() + multiple items"
Hello! I'm experiencing an weird issue while trying to remove multiple elements from an array field in a document. I have a document called a `feeGroup` and each document has a array field called `accounts` which is an array of firestore reference objects (i.e. `/accounts/123`). In my vue app, I have a method in which I want to use `removeArray()` to remove elements of the `accounts` field.
Here's

[2019-03-13 23:22] mesqueeb commented on #177
Hello @danmalone89
Thanks for your issue!
First of all this `length: 1` in the updates log shows the amount of documents an update was made to, not the amount of updates to a single document. So if you make 20 changes to 1 document and 1 change to another in the same collection, this will show `length: 2`. 🙃

Then, just to be clear, **what you want is to delete multiple same values in a single arr

[2019-03-13 23:35] danmalone89 commented on #177
Thanks for the quick response. @mesqueeb! and the tips! That makes more sense. However, in your example, I'm actually trying to delete `a` and `b`.  Each item in my array is unique. Does that change how you would approach this? Thanks again!

[2019-03-14 00:22] mesqueeb commented on #177
Ah, makes sense!!

You see what is happening is that currently i'm only supporting the deletion of a single item per call. I will need to rewrite it a bit to support multiple values in one call! 😅

BBut it doest't stop you from doing what you need. In your case, for the time being (until I update the library to support multiple values) you need to wait 1000 ms before making the second patch. Or yo

[2019-03-14 03:43] danmalone89 commented on #177
Thanks @mesqueeb! Since these document updates don't need to happen _immediately,_ this is what I ended up with. Just in case anyone hits the same issue.
[code]

[2019-03-14 04:20] mesqueeb commented on #177
@danmalone89 great! A delay of 1001 ms should work as well!

By the way i'll keep this issue open until I make the possibility to delete multiple items simultaneously. 🙃

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-16 20:22] Fulbert opened #178 "convert documentReference onto object"
Hi,

Thanks for this nice project. This is really useful.

I've stores with documentReference fields.
In my stores, I'd like to convert them to "literal object", containing the document itself and not the reference.

I've done this through hooks. But then I noticed that I need not only to do it in addedHook, but also modifiedHook, then insertHook, and repeat it for each documentReference fields an

[2019-03-16 23:58] mesqueeb commented on #178
Hello @Fulbert
Thanks for your issue!

I kind of understand what you mean.

First of all, as you know from the [hooks documentation](https://mesqueeb.github.io/vuex-easy-firestore/hooks.html#execution-timings-of-hooks), the hook to use on initial fetch:

<b>hook timing</b>  |  
-- | --
on `openDBChannel`<Br>and<Br>`fetchAndAdd` | `serverChange.addedHook` is executed once for each doc

Now, I'm not

[2019-03-17 00:24] mesqueeb commented on #178
Dear @Fulbert I couldn't find enough information on Firebase charges of document reads, so I asked a question [on StackOverflow here](https://stackoverflow.com/questions/55202782/does-firebase-charge-for-retrieving-docs-from-firestore-js-sdk-cache).

[2019-03-17 06:11] mesqueeb opened #179 "[planned feature] Split local hooks into updateStore & updateFirestore"
Currently inside a local hook you can:
- prevent anything from happening when you do not call `updateStore`
- change the document before it gets added to the store and synced to Firebase

You cannot:
- prevent the document from syncing to Firebase but still update the vuex module
- change the document before it gets synced to firebase but **after** the vuex module is updated

I plan to **create a

[2019-03-17 06:56] Fulbert commented on #178
Thanks for your answer. I'm really new to all this, and as you said, I tried to make it like SQL. Also I didn't think how firebase will charge.

As I've an another store already filled with customers, it should be actually really easy to retrieve the data's. I'll take a look and edit my post to let you know.

[2019-03-17 07:08] mesqueeb commented on #166
### Related:

Prevent empty patches from being synced:

eg. you patch 1 field which is guarded, the sync will still trigger with item id, updated_at etc.

[2019-03-17 11:11] mesqueeb commented on #178
Dear @Fulbert
Please don’t edit your original post. I think it might be useful for others who come looking here as well. 😉

I'll close this issue for now but feel free to continue the discussion below! I'll try to help as much as I can.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-17 11:12] #178 closed

[2019-03-17 17:07] wrburgess commented on #172
I can confirm I've seen this problem with my userProfile docs being overwritten with default, blank values when refreshing the browser on an app.

[2019-03-17 20:24] yungrich opened #180 "openDBChannel & patch not producing consistent results when updating an object field"
Hi I've recently started using your plugin on a new project and I must say I've was loving it when I first started. But I've recently come across a use case where I've spent quite a few hours trying to understand.

I have a user module setup in 'doc mode, and I do the standard `store.dispatch('userData/openDBChannel')` inside of the `onAuthStateChanged` and that loads all the user data perfectly f

[2019-03-17 22:27] mesqueeb commented on #172
@wrburgess
I've been working on this, trying to find the best solution...
I'm pushing a fix later today.

[2019-03-17 22:46] mesqueeb commented on #180
@yungrich I think I understand what you mean. This is the expected behaviour because of how changes are merged with the existing results.

### Example of current behaviour

I will give an example. Say you have this document in your vuex:
[code]
Your vuex-easy-firestore settings have:
[code]
This makes sure that the field `entered` is a local value only which is available in your vuex module but wi

[2019-03-17 23:19] wrburgess commented on #172
Thank you, @mesqueeb. As I learn more about the project, I'll see if I can't help with future issues. I very much appreciate the work you've done here. It's saved me a lot of time from building my own firebase framework.

[2019-03-18 00:20] mesqueeb opened #181 "[documentation] improve openDBChannel docs"
### 1. Show the difference between native solution vs my library

[code]
is the same as
[code]

### 2. Add explanation to the documentation on Firestore's onSnapshot behaviour with a where filter:

Beware with where-filters with listeners! The default Firebase behaviour is that it **will send out a "removed" event as soon as the document does not adhere to your where conditions anymore!**

[code]

[2019-03-18 02:08] yungrich commented on #180
@mesqueeb Thank you for the quick reply! It's exactly what's happening. #73 was the same issue wish I had seen it sorry about that. Almost there...

Using the delete action is working much better
[code]
Everything is working as expected on the `local device`. However I'm still facing the same issue on the `remote device` after it syncs, i get:
[code]
instead of: (which is on the `local device`)
[c

[2019-03-18 02:56] mesqueeb commented on #180
Hi @yungrich
i’ll look into a way to prevent that. Please hold on a few hours!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-18 10:02] mesqueeb commented on #172
Hi @wrburgess I just pushed a fix on the latest version. But according to my tests it doesn't "fix" the actual problem.

Look at the new code here:
https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/module/actions.ts#L147
(forgot to replace one `var` with `const`, because of copy paste from firebase docs lol)

### Fixes what:
What you can see is that the initialDoc insert is now a tra

[2019-03-18 10:17] mesqueeb commented on #107
@coolhand79 @wulfmann Do you guys have any advice for me, to prevent the bigger problem we have in #172 ?

Please read that thread and drop a comment if you have advice. I am thinking disabling initialDocInsert by default and bumping a major version, but this doesn't solve everything.

The multiple tab error can still reset docs in the firebase database without the user's intention......

[2019-03-18 20:19] wrburgess commented on #172
I don't have a solution right off the top of my head. I need to block out some time to analyze and understand the cause of the issue. It's not completely clear to me how it's working.

[2019-03-19 03:46] mesqueeb commented on #175
@halaprop let me know how it went. I can give additional feedback and / or advice

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-19 03:56] mesqueeb commented on #178
@Fulbert were you able to rework your architecture?
If you check that stackoverflow question I posted earlier you'll see that every single get() is charged as a read. So even if you only have 20 different customerRefs on 500 docs, they'll charge you for 1000 reads lol.

This means that you'll be loosing a lot of pennies to google when your app grows. 😉

I'd still keep the customerRef saved on the

[2019-03-19 05:34] halaprop commented on #175
Hi @mesqueeb - Thanks, and thanks for following up.  I investigated removing arrays from my data structure, and it will be too hard.  (There's an iOS app already in production that's rife with array dependencies).  Given that I must use arrays, and that I must add some guarded props to the objects they contain, and I can't think of a way to work around this restriction (e.g. deleting just before s