[2020-02-19 08:26] riksnelders commented on #295
@mesqueeb Altho, the dispatch still takes 1 second and sync timer is set to 1ms

[2020-02-19 08:39] mesqueeb commented on #295
Can you share a screen cast ? Or can we do a live vscode session?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-19 08:46] riksnelders commented on #295
Does this help ?

insert record 225069.45000000997
record inserted 225518.4350000054

when running
[code]

module config
[code]

[2020-02-19 11:08] mesqueeb commented on #295
Thanks for the code sample!

If you want to know how long it takes until the document is added in **vuex** you can use this hook:
https://mesqueeb.github.io/vuex-easy-firestore/hooks.html#hooks-after-local-changes-before-sync

The timing that the promise of `insert` is resolved is when the Firebase SDK finishes the actual sync (see [src code here](https://github.com/mesqueeb/vuex-easy-firestore/bl

[2020-02-19 11:11] riksnelders commented on #295
Ok. Thanks that helps. I'll debug a little further whats actually causing this to take so long :)

[2020-02-19 21:01] stegithub commented on #264
I'm trying to push changes that fix it but i've no permission

[2020-02-19 21:30] mesqueeb commented on #264
@stegithub You need to make a pull request :)

[2020-02-19 21:31] stegithub commented on #264
And i cannot push on my branch?

[2020-02-20 08:50] stegithub commented on #264
need to do a fork and then PR?

[2020-02-20 10:11] mesqueeb commented on #264
Yes

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-20 11:29] #264 closed

[2020-02-20 11:31] mesqueeb commented on #264
@stegithub @jacksonrya this issue should now be fixed in v1.35.3, partially because of @stegithub 's PR! thanks!!

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If you use this library in your projects, you can support the maintenance of this library by a small <a href="https://github.com/sponsors/mesqueeb">contribution via Github 💜</a>.<br>You can also reach out <a href="https://

[2020-02-21 23:50] beardo01 commented on #293
Hey @mesqueeb, thanks for the reply! I actually ended up changing the way I attacked this problem, however I appreciate the example.

Cheers!

[2020-02-21 23:50] #293 closed

[2020-02-24 10:46] beardo01 opened #298 "Allow dispatching an action with a Typescript model"
My use case is the following:

I have a component which creates a custom object (class defined in Typescript), dispatches a "set" action with this object and then in the `sync.insertHook`, converts the Typescript object to a plain old javascript object before inserting into Vuex. Currently, this causes the library to give a "Trying to merge a non-object... onto the defaultValues" error, so I have

[2020-02-24 21:10] mesqueeb commented on #298
Thanks for your issue. The thing is, the library needs to talk with this object and do all kind of things, copy it, attach I'd props, etc. As soon as I allow stuff other than plain objects, there's so many ways it could break. Eg. Copying a class instance is not the same as creating a new instance with the name Paramus etc.
So that's the main reason I'm reluctant to allow that.

What's the reason

[2020-02-24 21:16] beardo01 commented on #298
Thanks for the prompt reply @mesqueeb. I guess it’s mainly to reduce complexity by having the conversion occur in one place (the hook) rather than in each of the many actions. Maybe requiring non native objects that are passed in to implement an interface is a happy middle ground?

At the end of the day if there is logical reasons to do it in the action versus the hook, then I can totally apprecia

[2020-02-25 14:39] mesqueeb commented on #298
Hi beardo.
It's in your case best to just write a simple wrapper action that handles your custom class instance and converts it to an object and then does the actual dispatch to 'insert' or 'patch'.
Such a wrapper action can even be defined in the same v-e-f module, so you would only need to define that once and have minimal refactoring I believe.

This is the best solution is my opinion and I don

[2020-02-26 09:39] beardo01 commented on #298
Easy as. Thanks for your help!

[2020-02-26 09:39] #298 closed

[2020-02-26 15:43] richard-mckenna opened #299 "Documented limit syntax does not work"
In order to set the number of returned items the documentations states you should do this:

`dispatch('myModule/fetchAndAdd', {clauses: {limit: 1000}})`

But for me this returns the following error:

[code]

I have found that I have to pass empty `pathVariables` to get it to work:

`dispatch('myModule/fetchAndAdd', {pathVariables: {}, clauses: {limit: 1000}})`

[2020-02-26 21:39] mesqueeb commented on #299
Thanks for the report !!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-05 18:34] trevorgeise opened #300 "Patch to nested object is changing object content order"
I have some nested data coming in from Firestore, so that my store looks like this
[code]
I'm running into two problems with this, and I think they are related.

## Problem 1
When I update the text on a note, using patch, the order of my notes (the position of the key/value pair, nothing to do with the order field) inside my notes object changes, which seems to trigger reactivity on the whole obje

[2020-03-05 21:47] mesqueeb commented on #300
@trevorgeise Thanks for your issue.
I really want to help you but, I'm just not 100% understanding exactly what you mean.

Problem 1:
Can you give me the following:
- your vuex-easy-firestore module config
- What action you dispatch (please provide code snippet of the exact action you call with what data)
- what do you expect to happen
- and what really happens

Problem 2:
I have no idea why serve

[2020-03-05 22:45] trevorgeise commented on #300
Absolutely! This is how my module looks (slimmed down for clarity)
[code]

I expect the field changed to be updated in Vuex, which will trigger all computed properties that reference that field to re-run, but not computed properties referencing sibling fields. Then I expect just that field to be updated to Firestore. Then I expect no serverChange to trigger.

The field in Vuex gets updated, but th

[2020-03-06 12:57] mesqueeb commented on #300
I'm still not sure why `serverChange` gets triggered, it shouldn't.

For your first problem. It seems to me that everything works as expected, all but the computed properties.

In JavaScript you can never assume order in object props will always be the same, this might even differ between browsers as well.
You'll need to create a new computer property that returns an ordered array based on that ob

[2020-03-06 14:35] louisameline commented on #300
Actually, when iterating on an object, in modern browsers, the order of keys is supposed to stay in the same order as the order in which they were created, except for integer keys and symbol keys. I recently was suprised too to see in my app that I had an issue with order, but I didn't go to the bottom of it to know what was responsible. I'll check it shortly to know if it could come from the libr

[2020-03-06 17:29] trevorgeise commented on #300
Yes, that's my understanding too @louisameline .
I fear I am doing a terrible job explaining the issue I'm seeing.

I think in simplest terms my issue is this:
If I use vuex-easy-firestore to update Vuex with patch a nested field, like 'notes.noteid.text', it causes the entire object (notes) to change, as if it is replacing the entire thing, instead of just the updated field. It triggers reactivit

[2020-03-06 20:51] trevorgeise commented on #300
Alright, I think I found the issue.

I kind of suck at digging through code, but I think when you are calling `this._vm.$set(ref, key, newVal)` inside your PATCH_DOC mutation, the object you are updating is just the root document object. You seem to be merging the new change with the rest of the object, but in this case that is forcing the entire object to be treated as updated, rather than just t

[2020-03-06 21:25] mesqueeb commented on #300
@trevorgeise Ah... I understand the problem now.
So, yeah, basically I make a copy of the original object, merge changes onto it, then put it back in place in Vuex.

I never realised this would trigger Vue's reactivity to see the entire object as new, but I guess it makes sense...

I'm not sure how to get around this though. I feel like messing with this might break some things.

I will definitely

[2020-03-10 11:45] igor-duspara opened #301 "Insert dispatch triggers two requests to Firebase ?"
I have follwing problem with Firestore functions and the insert dispatch. The dispatch is sending two requests. One for inital creating of the Doc and a second one to Update the Doc itself.

That means that my Function are triggered also twice, one for the inital Doc and one for Update.
How can i archive that only one request is send without the inital Doc insert?

### Config:
[code]
### My call
[

[2020-03-10 12:17] #301 closed

[2020-03-10 15:01] mesqueeb commented on #301
why did you close the issue ?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-11 07:30] riksnelders commented on #295
@mesqueeb Luca, u got discord? Still having troubles with this.. And I am not sure whether its Firebase itself, this package or vuex itself.
See screenshot, logged performance.now()

update jobs = start of function
starting the actualy heavy work
cleared is clearing the module
done is when openDbChannel Promise resolves
amount of records loaded

![image](https://user-images.githubusercontent.com/1

[2020-03-11 14:56] mesqueeb commented on #295
Yes if you give me your username I can add you on discord.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-12 13:06] riksnelders commented on #295
rsnelders#9592

[2020-03-16 06:13] fergusmeiklejohn commented on #194
Just wanted to comment that I'm using the `id` you add, and for me it's a good idea to have it, so as removing it would be a breaking change can that be made less painful please?
thanks :-)

[2020-03-16 07:43] mesqueeb commented on #194
@fergusmeiklejohn Yes of course, I won't remove this feature without being able to easily enable it again!!

Basically for version 2.0, I do believe that "by default" we should not add the id on the document, as it modifies the data in a way that might be unexpected for the developer, since he/she never explicitly did so.

However..... For me personally, I use this feature in all my databases, and

[2020-03-16 07:44] louisameline commented on #194
In most cases, the id will be the document name, and has no use to be repeated within the document. But of course you'll be able to include it if you want.

[2020-03-17 13:51] justice47 opened #303 ""TypeError: Cannot read property 'where' of undefined" only with fetchAndAdd"
I'm having error when trying to execute this:
[code]
But then I'm changing `fetchAndAdd` to `openDBChannel` all is working right.
Here is the error:
![image](https://user-images.githubusercontent.com/29502063/76862481-3cdd0e00-686f-11ea-9f75-25c1df30fad5.png)

[2020-03-17 13:58] mesqueeb commented on #303
Thanks for reporting.
I probably know how to fix this bug, but might not be able to immediately fix it. Just about to head to bed.

As a work around can you try this for now?
[code]

[2020-03-17 14:04] justice47 commented on #303
@mesqueeb thanks for a really quick reply!

Unfortunately I've got another error in this case:
![image](https://user-images.githubusercontent.com/29502063/76863892-48313900-6871-11ea-9703-7630efe0f2ae.png)

[2020-03-21 00:52] nawazishali opened #304 "Restrict set method to only do one job."
**Issue:**
I am trying to set a document in a sub collection with named ID, Which throws an error cause firestore can't patch the documents that don't exist yet.

Here is an example path.
`restaurants/{restaurantId}/meta/rawResponse`

even paths like these don't work when the object doesn't exist and I try to set one with an ID.
`users/{userId}`

**Reason:**
`dispatch('myModule/set') ` is trying t

[2020-03-21 01:56] mesqueeb commented on #304
Hi @nawazishali thanks for your issue.

In fact, `set` is just a shortcut that will either dispatch `insert` or `patch` depending on if the document is already in your vuex state or not.

You can look at the [source code of "set" here](https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/module/actions.ts#L816).

If you want to an action only to either `insert` or `patch`, you can just

[2020-03-21 01:56] #304 closed

[2020-03-21 01:59] mesqueeb commented on #304
BTW, currently you can only manually "insert" a new document into Firebase via my library, when the vuex-easy-firestore module is a "collection".

In case of a "document" type vuex-easy-firestore, my library will automatically insert it into firebase if it isn't found upon opening the DB channel.

I'm not 100% sure what you are trying to do.

[2020-03-21 06:40] Fulbert opened #305 "updated_at en updated_by guards, only in some cases"
Hello,

Thanks for this awesome tool!

I have a guarded property on my store, `selected`, which is used only by the UI, and I don't want to sync on Firestore.
If the guards works well, the document is still synced everytime I change the `selected` value, because of the `updated_at` and `updated_by` value.
Of course, I can add the two properties to the guards too, and it works, but I actually still

[2020-03-21 12:29] mesqueeb commented on #305
Hello. Thanks for your issue!
This is indeed an issue. In version 2.0 this issue is already non-existent, but in v1.0 we'd need to make some modifications for this edge case.

If you're interested in contributing, I can point you to the area that needs to be updated. 😉

Otherwise, you can work around it by writing a custom wrapper function for the `patch` action, that checks if only the `selected`

[2020-03-21 12:30] nawazishali commented on #304
@mesqueeb Thanks for the reply.

Here is some more detail of the issue I am facing.

1) I am only talking about doc mode here so `insert `is not an option.
2) Automatic doc insertion doesn't work here cause I am not using `openDbChannel` for these docs. I just need to make a simple `set` call but since the library is assuming that if the ID is present then the doc must exist already which is not t

[2020-03-21 12:35] mesqueeb commented on #304
If you want to only `patch` the doc, you can just use the `patch` action.
If you want my library to automatically insert a doc in firebase if it doesn't exist yet, this is currently only supported with the `openDBChannel` action. As a work around, you could either open and close the DB channel to rely on my library's insertion if required, or you could write your own check function with the fireba

[2020-03-21 12:44] nawazishali commented on #304
@mesqueeb Yeah I read your RFC for v2 and sounds like a really good plan. :+1: :)

OK I will try not to bother you anymore. I am currently trying all the workarounds I can think of right now. But If nothing works I am gonna make a PR for this fix.

Last question though, Can we make an `insert` call in doc mode as well?

[2020-03-21 12:49] mesqueeb commented on #304
No, is the current implementation was only anticipating people to use the openDBChannel action first, so that makes sure the doc exists in firebase. If she it inserts it. Then you can use just the patch action, and I believe that solves your problems.

I know the design is not the best.... I was still young when I made it. :D muuuch better solutions for V2.0

[2020-03-21 13:09] nawazishali commented on #304
Cool, Using `openDBChannel` does solve the issue for me although it still adds unnecessary code but it does the job. Thanks for help. :)

And for a young coder this library still rocks. I am looking forward to the next version already. Will definitely buy you some coffee for the work you are doing.

[2020-03-21 21:57] mesqueeb commented on #304
I think that writing a function with Firebase SDK that does a transaction which inserts the doc if it's not existent should not be too hard and the cleanest option. Good luck! And I'll keep you up to date for v2.0 😉

[2020-03-22 17:48] Fulbert commented on #305
Well,  I guess this is somewhere there : https://github.com/mesqueeb/vuex-easy-firestore/blob/017ee80e4a638019819443938c1ff96d0a920681/src/module/getters.ts#L174

I need to know if this prop delete is because of a guard... I'll take a look.

[2020-03-25 13:22] Fulbert opened #306 "timestamp convert for nested props"
Hello,

I'd like to do something like this : `'signatures.customer.date': '%convertTimestamp%'`.
Unfortunately it doesn't work. That might be useful ?

In the midtime I'm going to use the addedHook.

Thanks!

[2020-03-26 02:09] mesqueeb commented on #306
@Fulbert Good catch. I believe nested properties might not be supported.

However, I think using the addedHook is a great solution.
For version 2.0 I'm doing things differently, so for the time being until version 2.0 comes out, you can continue to use the addedHook.

Thanks for reporting!
<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If you use this library in your projects, you

[2020-03-26 02:09] #306 closed

[2020-03-28 05:51] thokkane opened #307 "id not returned when dispatching insert"
I'm getting undefined for the id when calling this simple createDoc function. I'm using two path variables for the module. Using version 1.35.2.
[code]
Is there a bug?

[2020-03-28 11:30] mesqueeb commented on #307
@thokkane
thanks for your ticket!!
that could be a bug. I definitely intended to return the ID. I'll look into it asap!!

[2020-03-29 05:45] thokkane commented on #307
@mesqueeb  good to check this also for the moduleName/set

[2020-03-30 16:58] Eronne commented on #295
Hi @mesqueeb & @riksnelders

Do you have any update on this? We are currently working on an application that handles sometime big datasets (around 2 or 3k results for one query). Opening Vue devtool after query fetch crashes the tab.

[2020-03-31 08:29] riksnelders commented on #295
Hi @Eronne.

Yes vuex and devtools crashes with bigger amount of records. I had the same issue. Doesn't seem to be an issue with vuex-easy-firestore though.

My only concern right now is that all the docs are added seperatly into the store. Seems to eat up some cpu, instead of batch mutation. @mesqueeb  This might be somerthing to add later on :)?

concerning the complete freeze up with 100% cpu,

[2020-03-31 09:03] riksnelders opened #308 "Gaurding on array"
Is it possible at all to gaurd the following setup:

![image](https://user-images.githubusercontent.com/15074808/78007752-ff808200-733e-11ea-8595-eeef072882e5.png)

Children can have children (up to 3 deep)  wich is an array of objects. I have no need of saving the selected/editing.  I don't think its possible to gaurd this with the config?

What do u suggest:

-   not saving it at all
-  using a

[2020-03-31 13:26] Fulbert commented on #305
@mesqueeb I just come back to this one, because it actually cause bug in my app... Because even with guards on updated and created, it still try to patch (nothing)... Unfortunately because of firestore rules, some users can't update...

Because my app is not yet in prod, I can open the rules a little bit to fix it. However if you can tell where to fix this, I would love to.

Thanks 👍

[2020-04-01 01:16] xorbis opened #309 "Where clause question"
Is this valid?
`await this.$store.dispatch("teams/fetchAndAdd", {
	where: [
		["roles.{userId}", "==", "o"]
	]
});
`

[2020-04-01 02:08] xorbis commented on #309
Yes it is... I had an async problem which I solved.

[2020-04-01 02:08] #309 closed

[2020-04-01 02:24] xorbis opened #310 "After a user logs out of firebase the state keeps data"
I am wondering how to cleanup the VueX state once a user logs out.
Is there something I am missing in the documentation or is it obvious?

The problem is that if I login a user and fetch some data and then logout, the data will still be present in the view from the previous user session.

[2020-04-01 09:54] mesqueeb commented on #310
closeDBChannel with clearModule param?
I’m outside now but once i’m back i’ll link the proper docs!!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-04-01 10:30] xorbis commented on #310
Hi thanks for the reply.
I am currently using fetchAndAdd not openDBChannel.

[2020-04-02 05:02] thokkane commented on #307
@mesqueeb did you have a chance to look at this?

[2020-04-02 05:22] mesqueeb commented on #307
@thokkane I found the bug. I seem to have broken it in about 1.35.2 I believe.

Temporary work around:
[code]
With this you provide your own random ID, it's the exact same code I do internally any way, and you won't need to wait for the promise.

I will fix this issue that the promise that gets resolved returns the ID again, however please note that the promise only gets resolved when the sync fin

[2020-04-02 05:39] mesqueeb commented on #307
@thokkane Sorry, I thought I found the bug, but the tests still pass.

I further looked into the code, it might be perhaps when you use hooks. Do you use hooks?
If you do, at the very bottom of the hook, can you try and `return` the `updateStore(doc)` function?

Let me know!

[2020-04-02 09:38] mesqueeb commented on #309
## 🎉

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If you use this library in your projects, you can support the maintenance of this library by a small <a href="https://github.com/sponsors/mesqueeb">contribution via Github 💜</a>.<br>You can also reach out <a href="https://twitter.com/mesqueeb">on twitter</a> if you want a one-on-one coding review/lesson. 🦜</sub>

[2020-04-02 09:41] mesqueeb commented on #308
Hi @riksnelders
thanks for your ticket!
It's not possible to guard on an array.

As you said, it's possible to re-map the entire array every time before syncing inside a hook, but I would not suggest this, as it would cause a lot of overhead.

Instead, I would say, if it's not "sensitive" data, just go ahead and sync it with the rest of your data. It's only a few extra bytes so will hardly make a

[2020-04-02 10:01] mesqueeb commented on #310
Hi @xorbis I only ever built this function for `openDBChannel`, however, if you look here, you'll see that the closeDBChannel just commits a mutation:
https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/module/actions.ts#L812

[code]
You can commit this mutation to reset the state. And if you want to know exactly what this mutation does, it's here:
https://github.com/mesqueeb/vuex-easy

[2020-04-02 10:01] #310 closed

[2020-04-02 10:18] mesqueeb commented on #295
@Eronne I do not recommend using Vuex at all with large amounts of data. Vuex isn't performant enough for this I think.
I'm currently working on a complete rewrite for v2.0 that will not rely on Vuex anymore. Vuex will be optional through a plugin, but the core of the library will just be JavaScript (TS).
I'm sure you'll see much better performance if you switch away from Vuex for the local data s

[2020-04-02 10:18] #295 closed

[2020-04-02 10:23] mesqueeb commented on #305
@Fulbert there is actually an easy workaround I want to suggest you use instead:

https://mesqueeb.github.io/vuex-easy-firestore/hooks.html#hooks-after-local-changes-before-sync
[code]

Can you try this out and let me know how it goes?
The exact `if` sentence you write might need some tweaking depending on your setup.

[2020-04-02 10:35] mesqueeb commented on #301
@igor-duspara do you still need help?

[2020-04-02 11:20] #303 closed

[2020-04-02 11:20] mesqueeb commented on #303
Hi @justice47 👋🏻
The latest version should have fixed this!

Let me know how it goes 😉

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If you use this library in your projects, you can support the maintenance of this library by a small <a href="https://github.com/sponsors/mesqueeb">contribution via Github 💜</a>.<br>You can also reach out <a href="https://twitter.com/mesqueeb">on tw

[2020-04-02 12:43] mesqueeb opened #312 "after every patch serverChange gets fired"
see #300

[2020-04-02 12:45] mesqueeb commented on #312
@trevorgeise I will do some troubleshooting tomorrow and hope to push a fix (or your fix) soon.

@louisameline let me know if you have any thoughts on this fix Trevor suggested.

[2020-04-02 15:29] xorbis commented on #310
Thanks, will try ASAP.

[2020-04-02 18:02] Fulbert commented on #305
I actually fixed it [like this](https://github.com/Fulbert/vuex-easy-firestore/commit/520c51b461f3e0d1bf461be8c53e0b06a02ec149#diff-1ba98b7b5e404ea7880eb34bf828e22d) yesterday, few minutes before I thought that I can mutate my `selected` prop with my own mutation... Since the beginning.

Sorry for that 😳

[2020-04-05 15:34] louisameline commented on #312
I've read Trevor's code and it seems logical. I haven't actually run it or tested it though. Creating the dot notation array only to reparse it afterwards does not seem very efficient but it's better than nothing, and maybe still better than creating a whole new object. It could probably work for v1 but I'd say there's some deeper refactoring to do for next version.

[2020-04-06 17:15] dsl101 opened #313 "module getters, actions, mutations not being included"
This could be a newbie issue, as I've only just started using the library (converting from another, older vuex-firebase library). But I can't get my own getters, actions, mutations included in the module. Set up like this:

[code]

I get the firestore data, but my getter is unknown. If I do it *wrong* like this:
[code]
I get the console error about `duplicate namespace myModule/ for the namespaced

[2020-04-07 02:03] mesqueeb commented on #313
@dsl101 I'm not 100% sure, it might be some bug in `import * as ~~~`
Can you try:
[code]
and see if it works?

If that works, you can try a couple of other things that result in avoiding `import * as ~~~` eg. Create a regular object called `getters` in the separate file and export that object.

[2020-04-07 13:58] dsl101 commented on #313
Yes, putting it directly like that does work, so something about import / export. I'll investigate (as dumping `getters` to the console shows it _is_ an object when imported with `import * as getters`. At least I know where to poke now :).

[2020-04-07 13:58] #313 closed

[2020-04-08 14:02] mesqueeb commented on #313
@dsl101 I hope you can fix it 😉  I'm afraid there's not much else I can do for you 😅

# 👨🏻‍🚀 Good luck!!!!

[2020-04-08 18:02] dsl101 commented on #313
OK, the problem seems to be in `merge()` from the merge-anything library. I added some logging into your code, and this is what I see in the console. Note the 'merged' result does _not_ contain the `meaning()` function which is clearly there in `userGetters`:

![image](https://user-images.githubusercontent.com/900542/78817614-533c3c80-79cb-11ea-84c1-7e57e2a482f2.png)

I will raise an issue there a

[2020-04-09 01:37] mesqueeb commented on #313
@dsl101 hehehehe, i'm everywhere 😄

[2020-04-09 09:30] dsl101 commented on #313
Based on what you wrote in that other issue, why wouldn't you write
[code]
instead of
[code]

Then your library would just 'work'. `import * as getters` is a really standard way of separating out the modules getters, actions, etc.

[2020-04-09 10:17] dsl101 commented on #313
BTW, I tried this on a local copy, and it worked fine. But I really don't understand what merge_anything is for in this scenario. However, I'd be happy to make a PR replacing with object de-structuring above...

[2020-04-09 11:43] mesqueeb commented on #313
@dsl101 you're right, you don't need `merge-anything` for anything in this scenario 😛
But, did I write that somewhere?
PR's always welcome! But I'm a bit confused on what you mean... Where did I write that? 😄

[2020-04-09 11:46] mesqueeb commented on #313
@dsl101 Oooohh, I see, you're talking about this:
https://github.com/mesqueeb/vuex-easy-firestore/blob/dev/src/module/index.ts#L47

hold on i'll fix it 😉

[2020-04-09 11:49] mesqueeb commented on #313
@dsl101 I fixed it in the latest version (`v1.35.6`) !

Let me know if this made it possible for you to remove that workaround.

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If you use this library in your projects, you can support the maintenance of this library by a small <a href="https://github.com/sponsors/mesqueeb">contribution via Github 💜</a>.<br>You can also reach out <a

[2020-04-10 05:13] riksnelders commented on #281
@louisameline @mesqueeb  I might have found this issue..
It seems to occur when either state of a prop = [] or {}  (mostlikely []) as the data is an object.

Using _filter(on the state containing the [])  Seems to be causing issues somehow.
Haven't had time to completely debug this, since I'm short on time to get some stuff fixed and live ASAP. Any one wanna help me out debugging this?

[2020-04-10 07:32] mesqueeb commented on #281
@riksnelders What? 😄
Can you add me on discord, we can discuss. `Luca Ban [Mesqueeb]#4774`

[2020-04-10 07:47] riksnelders commented on #281
added

[2020-04-10 09:09] RobSteward opened #314 "Module naming and firestore structure"
Hi,

I have the following firestore collection structure:
[code]

my vuex module looks like this:
[code]

The "problem" here is that referencing this from my store now looks like this:
[code]
This looks clumsy and inefficient.

Is there a better way to organize this?

[2020-04-10 11:33] mesqueeb commented on #314
@RobSteward hey!
this really comes down to personal preferences, but what I always do is: whatever the module is (collection/doc) always use "data" as `statePropName`.
Then it would be `state.settings.data` instead of `state.settings.settings`.

BTW, organisation, naming and access be much improved in v2.0, which I'm working on hard now 😉

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban

[2020-04-10 11:33] #314 closed

[2020-04-12 14:46] RichardCr opened #316 "Error when permissions to a document are removed from a collection with openDBChannel running"
Hi there,

Not sure if this is an edgecase or if I am doing something wrong... I am getting an error and sync issues when permissions to a document are removed that is inside a collection with openDBChannel running.

I have setup role based permissions to docs (I call `boards`). This was done by having a `roles` object on each board that has this format `roles: { uid: "owner", uid: "editor"}` as s

[2020-04-12 15:12] louisameline commented on #316
Hello there! Thank you for the report.
Do you use the latest version of the library, and do you catch errors properly? Your snippet looks like it's using an old version.

[2020-04-12 15:14] RichardCr commented on #316
Hi, Thanks for the reply :)
The code was written a long time ago, but the version is up to date I think `"vuex-easy-firestore": "^1.35.3"`

[2020-04-12 15:54] louisameline commented on #316
Take a look at the doc, you have to catch errors of the `streaming` promise returned by openDBChannel. If you do it there, you might prevent further errors.

[2020-04-12 19:01] makeitTim commented on #70
**So, how do you fetch a single document?**

I have a User document, it contains a `currentCompany` with an id for a company.

I have a Company document. The core functionality of the app will be changing the data of that single document. It will definitely have maps, likely sub-collections, but pretty much everything is there.

(Multiple users will have permissions to edit a Company, and a user c

[2020-04-13 00:51] mesqueeb commented on #70
@makeitTim if you are seeing `{id}` in firestore, that means you are not passing the path variable when reading the data.

did you read the documentation on path variables?
https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#variables-for-firestorepath-or-clauses

Let me know if you're stuck, and feel free to open a new issue!

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca

[2020-04-13 09:33] RichardCr commented on #316
When I try the new syntax
[code]
I get a console error `TypeError: streaming is not a function` any ideas ? Much thanks for your help so far!

[2020-04-13 09:52] louisameline commented on #316
You're welcome! Is `streaming` undefined then? Have you updated the version of the library in your package.json and run `npm install` (or yarn's equivalent)?

[2020-04-13 10:08] RichardCr commented on #316
Yeah...
`npm list` in my working directory gives:
`vuex-easy-firestore@1.35.6`
Confusing :/ The error comes from the bottom `.catch(error => {console.log(error)})`  in the above code.. is there any import or anything that is needed?

[2020-04-13 10:15] RichardCr commented on #316
`console.log(streaming)` gives
[code]
So it isn't undefined

[2020-04-13 10:24] louisameline commented on #316
Alright, it's normal that the "bottom catch" will catch an error which exists at the moment the channel gets opened. The "streaming catch" will catch errors that happen after the channel has started working. So, if you change rights after the channel has successfully started, it's in the streaming error handler that you'll know it.

I know this is a bit confusing, the syntax for this will be impro

[2020-04-13 10:40] RichardCr commented on #316
Good to know thanks :D... ok now that I have all the correct error checking in place... it is the same deal. No new errors pop up, just the same two.
`compareObjectProps' can only compare objects`
`[vuex-easy-firestore] Error!
    Something went wrong during the PATCH mutation:
    The document it's trying to patch does not exist.`
The document that permissions were removed from stays until a refr

[2020-04-13 11:01] louisameline commented on #316
The error handler will only tell you why the channel has been closed, and will not remove the local document for you, so you have to deal with it as you see fit (remove it, or make it read-only, etc.). Let us know if there is still an issue once you've taken the appropriate measures. Thank you!

[2020-04-13 12:35] RichardCr commented on #316
Thanks for getting me this far. I'm trying to figure out where to deal with it which is tricky....
- The channel does not close and fails sliently so I am guessing none of the error handing there will be a place to handle this (I have also tried `refreshed` as in `.then(({ refreshed, streaming }) => {...}` but no errors there either.
- The permissions are removed using a cloud function, and are of

[2020-04-13 13:42] louisameline commented on #316
I was mistaken, sorry. If the channel is on a document on which the user loses his read rights, the streaming promise will work as I said: you'll see the channel get closed. If it's on a collection however, if less documents become available because of removed rights, the channel should stay open and you should see them `removed`. You say it's not the case?

[2020-04-13 14:03] RichardCr commented on #316
Thanks! You are correct, after more testing I have found I was incorrect. The removed hook does trigger... however only if I refresh the browser between the document being granted and then being revoked. The errors must have prevented the hook being fired. (The refresh prevents the errors being generated).. So sorry for the wild goose chase. I now have to figure out why the document begin revoked

[2020-04-13 17:48] makeitTim commented on #70
No, I hadn't read that part of the documentation. Although I'd gone through "Read data" a dozen times.

Thanks, I think I'm getting this working!

[2020-04-13 18:30] makeitTim commented on #70
I'm still having trouble with something I feel would be a quick answer.

When a user logs in, I go to connect their User state with firebase. That User has a current Company id that I also want to load. I can't seem to figure out how to do it, one then the other. Right now I am trying to do it in my own store index action:

[code]

But obviously state.user isn't anything (I just copied code over f

[2020-04-14 03:50] mesqueeb commented on #70
@makeitTim
is `User` a document?

try logging `state.User.data.currentCompany` after the `await dispatch('User/openDBChannel...`

the snippet you have is the same as the example here:
https://mesqueeb.github.io/vuex-easy-firestore/extra-features.html#variables-for-firestorepath-or-clauses

not 100% sure why it won't work. Perhaps try waiting for an extra `ms`?

[2020-04-14 09:23] l2aelba opened #317 "(Perf) Which is a right thing to do to set default values from localStorage ASAP?"
I want to get data from **local storage** to render the list ASAP and get real/updated data after.

Any trick I can do?

PS: Using **local storage** does not require. If something better please tell me

[code]

Still does not fast enough.

[2020-04-14 09:44] l2aelba commented on #317
I got a better solution, use **state** instead.

[code]

But this is right way to do?

[2020-04-14 10:01] louisameline commented on #317
Hi, I personnaly use vuex-persist to populate from localstorage, it works like a charm out of the box.

[2020-04-14 10:12] louisameline commented on #317
And I think the `state` property that you mentioned should be reserved for the defaut state, and not used to populate with actual data retrieved from localstorage. Because when the whole store is reset (typically at logout), we need to know what a blank state is. So if you don't use vuex-persist, you should populate the state with regular vuex actions instead. @mesqueeb do you confirm?

[2020-04-14 10:26] mesqueeb commented on #317
@l2aelba
`defaultValues` is only for "collections" where the document are "loaded" async any way, then the doc and default values are merged whenever a document is loaded.

I see nothing wrong with defining the state like you do directly from local storage. Vuex Easy Firestore is able to work with that state just like regular docs that are fetched, it won't even know the difference. Which is OK if

[2020-04-14 10:26] #317 closed

[2020-04-14 10:47] l2aelba commented on #317
Thank you guys :D

[2020-04-14 14:20] louisameline commented on #317
Right, `state` is for doc mode! So my warning about using it applies in doc mode of course, not collections.

[2020-04-14 23:11] makeitTim commented on #70
Thanks.... TypeScript wasn't understanding the state without the right decoration? I got it working by just defining what the module state sort of looked like. I feel there might be a better way, but this seems to work:

[code]

[2020-04-14 23:16] mesqueeb commented on #70
@makeitTim Yeah, I see. Happy you solved it.

BTW, I'm working on a complete rewrite for version 2.0 and it's going to have much better typescript support.

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If you use this library in your projects, you can support the maintenance of this library by a small <a href="https://github.com/sponsors/mesqueeb">contribution via Github 💜</a>.<b

[2020-04-14 23:30] makeitTim commented on #70
Sounds awesome.

My method there does create these errors. Presumably it's not the correct way to access the module state.
[code]

[2020-04-15 02:51] thokkane commented on #307
@mesqueeb I have the following for hooks. Still getting undefined for the id.

[code]

[2020-04-15 04:41] mesqueeb commented on #307
@thokkane yes i see now, it's because you need to `return updateStore(doc)`.

But in your case, if you are not using the hooks you don't even need to include them at all...

[code]
### or even better:
[code]

PS: I'm working hard on version 2.0 and working with events & hooks is way less confusing, so you won't have to worry about these things in the future. 😅

<sub>--<br>Vuex Easy Firestore was m

[2020-04-15 04:41] #307 closed

[2020-04-15 04:46] mesqueeb commented on #70
@makeitTim yes, that error is because of your implementation. You could improve your implementation by defining only the type of your store state without actually setting those default props in your javascript. But it's hardly worth the hassle.
I'm working on version 2.0 now and it'll be much better and a bit different anyway. 😉

[2020-04-15 07:38] mesqueeb commented on #312
@trevorgeise fixed in `1.35.7` thanks again!

[2020-04-15 07:38] #312 closed

[2020-04-15 07:43] mesqueeb commented on #300
@trevorgeise I implemented your fix for `Problem 2` above.

For problem 1 I kind of want to wait for v2... (your fix on your branch was really a lot of lines and added new dependencies)

I'm working on v2.0 now, and I'll make sure to have a test that covers and prevents this case!!!

[2020-04-17 06:20] mesqueeb commented on #281
To anyone coming here.
This was debugged in a meeting between me and Rik.

The problem was that by mistake an array was used as the `statePropName`, instead of an object!
**You can only use an object to host your documents in a collection!**

As per example I'll show a wrong and correct version:

# ⛔ Wrong
[code]
# ✅ Correct
[code]

[2020-04-18 04:39] RichardCr commented on #316
After going away and coming back and a lot more digging... things were not quite as they seemed!
I fixed up the errors. They didn't change the behaviour unfortunately.
So after a lot of console.log()'s later in `vuex-easy-firestore/dist/index.esm.js` here is where I am at. Any thoughts would be super helpful...
On line 1458 `var unsubscribe = dbRef.onSnapshot...` I experience two different behavio

[2020-04-18 11:50] mesqueeb commented on #316
@RichardCr yeah, working with compiled files is always complex. In our source code we don't actually have those switches. It's much easier to work with and reason about the actual source code.

You can do this by locally downloading the source code for this library and then using a global npm library called `yalc`.
[code]
then you cd into vuex-easy-firestore directory and you do
[code]
then you cd

[2020-04-18 12:23] RichardCr commented on #316
Adding in this bit of code starting at line 1464 fixes my issue.
[code]
I am not entirely sure what is happening, but my guess is that when permission to the document is revoked, firestore looks to the cached version, and at the same time realises that the document has been removed, then sends through the snapshot  from the cache with `change.type: 'removed'`. A snapshot generated from cache that

[2020-04-20 15:02] dsl101 commented on #300
I have _exactly_ the same issue at the moment—a component bound to one part of the data is being triggered to re-render when other unrelated data is changed. I also tried vuex-firestore, but have the same problem there. Replacing whole Vuex objects is _definitely_ going to lead to performance issues in Vue reactivity, so I'm really glad to hear this fix is on the cards. Do you have any idea of a t

[2020-04-20 15:38] trevorgeise commented on #300
I fixed it in this branch, https://github.com/trevorgeise/vuex-easy-firestore , if you want to see a solution.
Instead of replacing the whole object it now only updates the changed field, so it gets triggered properly.  It's not the most elegant, but it works an it's obviously a huge performance improvement for nested stuff.

[2020-04-20 16:23] dsl101 commented on #300
Thanks—I will definitely take a look. Are you planning to maintain a fork, or is @mesqueeb going to roll it back in?

[2020-04-20 17:15] trevorgeise commented on #300
I'm not sure yet. Probably as my needs require. But @mesqueeb is planning on implementing a proper fix for 2.0, so hopefully I can just switch to that.

[2020-04-21 05:56] mesqueeb commented on #300
Thanks, based on @trevorgeise's version, I wrote a fix, but when it would break a bunch of tests, so I have some more troubleshooting to do. I ran out of time today, but will try to continue working on this over the next days.

[2020-04-22 12:09] mesqueeb commented on #316
implemented!
Thanks so much @RichardCr !!

[2020-04-22 12:09] #316 closed

[2020-04-22 15:19] mesqueeb commented on #300
@trevorgeise @dsl101
I have just deployed a fix in `v1.35.9`, please update to the latest version and let me know how it goes.

@trevorgeise Both your problems should now be fixed!🎉

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If you use this library in your projects, you can support the maintenance of this library by a small <a href="https://github.com/sponsors/mesqueeb">contri

[2020-04-23 16:24] dsl101 commented on #300
I have a case where there's still an unwanted update / re-render in Vue. I have an object bound to a set of users in firestore at `/users/<userId>/`, and each user has a profile such as:
[code]
In my code, I bind a component to, say, all the user names. If I change that field in firestore console, I see my component update, and also see the `beforeUpdate()` and `updated()` Vue lifecycle hooks fire

[2020-04-23 20:25] mesqueeb commented on #300
@dsl101 i will do extra troubleshooting for deleting props. But you can just set the prop to `null` as well and make sure your frontend handles that the same as not existing.

This workaround would solve your issues I think.

[2020-04-23 21:08] dsl101 commented on #300
Not sure I understand the workaround—changes are coming in to my app from
elsewhere via firestore... Where would I intercept the update?

On Thu, 23 Apr 2020 at 21:26, Luca Ban <notifications@github.com> wrote:

[2020-04-23 23:42] mesqueeb commented on #300
@dsl101 wherever you're deleting the property. Can't you set it to `null` instead of deleting it?

[2020-04-24 06:44] RealCK opened #322 "Document Added to collection via Firestore Console not syncing to store via OpenDB"
I added a document to a collection via the Firebase Firestore Console on the web manually.  When OpenDB, it appears to not sync the fields and data to vuex.  Computed properties log as undefined.  To verify, i deleted the document in the console, and allowed vef to add the document on initial load.  I then added the fields manually to the document in the console, and those were updated via the com

[2020-04-24 08:12] dsl101 commented on #300
Ah, I see. Yes, I'm converting this app from firebase to firestore, and setting the key to `null` in firebase is the same as deleting it. So, in fact, most of it should work fine!

It would obviously be great if a delete really did only delete the key, but much less of an issue in the short term now. Many thanks for the updates!

[2020-04-24 22:12] mesqueeb commented on #322
I bet there is just some wrong usage of Vuex getter going on here. But there's really not enough information for me to be able to help. I'd need to know how you vef mobile looks like. How your data structure is and how the Vue file you use the getter in looks like

[2020-04-24 22:47] nVitius opened #323 "Retry IndexedDB Failures"
The Firestore SDK recently received an update (https://github.com/firebase/firebase-js-sdk/pull/2938) that allows it to recover from certain IndexedDB failures. Previously, this would cause the SDK to crash and would require a page refresh.

The current behavior of the syncStack in easy-firestore is to catch errors from `batch.commit`. I think it would be a good idea to implement some retry logic

[2020-04-25 01:09] mesqueeb commented on #323
@nVitius I'm very interested in this. Also I'm heavily working on the complete rewrite for v2.0, done with the core lib, and now just started on the Firebase logic. So I want to integrate this in 2.0 as well.

To get things started I think this will be required first:
- [ ] A snippet of code, to show as per example which Firebase SDK function can fail where (in relation to this)
- [ ] Clarificatio

[2020-04-25 02:32] nVitius commented on #323
The function that catches and throws the IDB error is [SyncEngine.write](https://github.com/firebase/firebase-js-sdk/blob/master/packages/firestore/src/core/sync_engine.ts#L361). This is called by the internal Firestore function [FirestoreClient.write](https://github.com/firebase/firebase-js-sdk/blob/master/packages/firestore/src/core/firestore_client.ts#L456).

This function in turn is used to wr

[2020-04-25 16:11] RealCK commented on #322
Module Cusmod.js:
import { defaultMutations } from 'vuex-easy-access';
const state = {
};
export const Cusmod = {
  firestorePath: 'customers/{userId}',
  firestoreRefType: 'doc',
  moduleName: 'Cusmod',
  statePropName: 'customer',
  namespaced: true,
  state: state,
  mutations: {
    ...defaultMutations(state)
  },
};

Computed property:

subscribed() {
let subcheck = this.$store.get('Cusmod/cu

[2020-04-26 05:28] mesqueeb commented on #322
@RealCK try this
[code]
Also, when you say

is probably because you are not using `Vue.set`. If you add a new property to an object that might not have had that properties before, will cause a problem with Vue 2's reactivity system. That's why `Vue.set` exists.

You should define all possible values as default data in your store's state. Especially for 'doc' type modules like so:

[code]

Not only

[2020-04-26 05:28] #322 closed

[2020-04-26 05:38] mesqueeb commented on #323
@nVitius thanks for this.

Based on your guidance I'll be able to implement this right away into v2.0.

By the way i'm almost ready for beta launch for v2.0, at which point I'll definitely reach out!

Can I request your help for v1.0?

How I imagine this would be, at this line:

https://github.com/mesqueeb/vuex-easy-firestore/blob/63e2aa63ce643a027c63f5d4d30f21dec63497d5/src/module/actions.ts#L235

[2020-04-26 07:57] nVitius commented on #323
Yeah, I can work on that. Will probably be ready for review in the next couple of days.

[2020-04-26 11:02] mesqueeb commented on #323
@nVitius Cool, thank you so much!

[2020-04-26 23:06] mardonedias opened #324 "should automatically split batches per 500 documents"
Hello,

I have a problem and I can't solve it. At some point I will need to add what can reach 1000 documents.

The problem is as follows:
either dispatch ('myModule / insert', doc) or dispatch ('moduleName / insertBatch', docs), 500 are inserted. I don't know how to solve it, I don't understand why.

[code]
can anybody help me?

[2020-04-26 23:34] mardonedias commented on #324
I managed to solve.
I broke my list into smaller pieces and ran several batches.

it worked just like the firebase api.

[2020-04-26 23:37] mardonedias commented on #324
I managed to solve with `store.dispatch ('collaborator / insertBatch', docs);`

I broke my list into smaller pieces and ran several batches.
it worked just like the firebase api.

But, the insert command executed in a loop is limited to 500 inserts. Should that be so? Shouldn't the library break automatically?

``
docs.forEach ((item: any) => {
     store.dispatch ('collaborator / insert', item);

[2020-04-27 02:50] mesqueeb commented on #324
@mardonedias hi. thanks for your issue!
I have written logic that will automatically queue the next batch of inserts, but perhaps it's not being triggered. I'll add some tests for this and let you know if I can find and fix the bug.

<sub>--<br>Vuex Easy Firestore was made with ♥ by Luca Ban.<br>If you use this library in your projects, you can support the maintenance of this library by a small <a

[2020-04-27 08:17] mtltechtemp commented on #279
@mesqueeb @louisameline Why not simply exposing the DBChannel state?
That would allow to simply put the `open` request in a condition.

[2020-04-27 08:40] louisameline commented on #279
I see no reason to add that extra condition to your code if the promise is resolved anyway when the stream is already open. I feel it would be encouraging you to write overhead "channel-starting" code, while the point is rather to write "channel-running" code that handles errors well and that makes you confident the channel will actually always be open. I'm not sure this is very clear sorry! You'l

[2020-04-27 09:08] mesqueeb commented on #279
I'm thinking of changing this in v1.0 anyway, because I had another re-think about it and I feel it's not a breaking issue. I can't imagine any scenario of someone's app breaking because of this.

@eneskaya @coolhand79 let me know if you disagree.

[2020-04-27 10:13] mtltechtemp commented on #279
@louisameline @mesqueeb Maybe we could simply add a boolean to disable the throwing of that error if we want to be on the safe side.

[2020-04-27 10:16] mtltechtemp commented on #279
@mesqueeb Do you have any ETA for the v2 ?

[2020-04-27 10:46] mesqueeb commented on #279
no ETA, this is a 100% free-time only project. I work on it whenever I find the time 🙃

[2020-04-27 11:05] mtltechtemp commented on #279
@mesqueeb You might want to use [gitpay](https://gitpay.me/) people might want to raise some issues ;)

[2020-04-27 15:28] RealCK commented on #322
@mesqueeb Couple of questions on this.  Your computed property works the same way and helped me understand the hierarchy of the state and store using modules, thank you for that.  However, I thought the point in vuex easy access was to use the $store.get(Cusmod...) call directly in the code, did I misunderstand the usage of this package?

As far as the vue.set, I was under the impression that vef

[2020-04-27 16:01] louisameline commented on #322
Hi, I only briefly read the discussion so forgive me if I'm off topic, but I'll drop my 2c to try to help you.

When you create a new property on your document in the Firebase console, it will be indeed be created in your app using `Vue.set`. Your issue lies not in the sync, but in the way you create your computed. If your computed depends on a property which does not exist at the time the compute

[2020-04-27 16:49] RealCK commented on #322
@louisameline Thanks for the update.  I believe I am still confused a bit.

Point 1- if the document and property is not already in the database, then the computed property would be undefined(since it isn't there), which makes perfect sense. Then after opendb is called and when the document and property is added later(by any means), vef would see that change via the observer and use vue.set and sy

[2020-04-27 17:55] louisameline commented on #322
Not sure I see the difference between point 1 and 2.
Yes, I am saying

[code]

[2020-05-02 05:48] thokkane opened #326 "Error handling for set + streaming undefined"
The catch error is not working. I just get "Uncaught (in promise) FirebaseError: Missing or insufficient permissions." This not from the below console.log(error) statement.

Is it possible to catch permission errors with the vuex-easy-firestore error handling?

[code]

Also in openDBChannel, i'm getting "streaming is not a function" when i have the following. Is there a bug or have i misunderstood

[2020-05-02 06:07] louisameline commented on #326
Hi, you forgot the parameter of the openDBChannel action.

[2020-05-02 21:40] mesqueeb commented on #326
Hi @thokkane!
Since `set` action is queued in a batch it will depend if the permission error is thrown by Firestore SDK on the `firestore.batch().commit()` action.

If a batch has an error, I do make sure that every action's promise called within that batch will be rejected with the error:
<img width="531" alt="Screenshot 2020-05-03 at 6 26 34" src="https://user-images.githubusercontent.com/325392

[2020-05-02 22:20] louisameline commented on #326
Hello again, I'm sorry for my previous wrong answer.
You are right, in the docs it should have been `streaming.then(...)` and not `streaming().then(...)`. You need to remove the parenthesises. We'll update the docs.
Could you please let me know if it fixes the `streaming` error for you?
Thank you very much for the report.

[2020-05-04 04:23] thokkane commented on #326
@louisameline ok. No longer receiving the error for streaming.

@mesqueeb no, im not able to catch the error with the above code. I tried this with firebase own set function and there i'm able to catch the error.

[code]
I have firebase 7.14.2

[2020-05-04 04:29] mesqueeb commented on #326
@thokkane Can you try with Firebase's `batch` commit?

[code]

from the docs:
https://firebase.google.com/docs/firestore/manage-data/transactions#batched-writes

If this doesn't throw the error, the problem is with Firebase SDK batch function, and you'd have to report it in the firebase SDK JS client repo.

If this _does_ throw the error, then it's a problem with vuex-easy-firestore.

[2020-05-04 05:12] thokkane commented on #326
@mesqueeb it seems this was related to the previous issue i logged for having in sync and serverchange "updateStore(doc)" and not "return updateStore(doc)". Modified all the modules with return updateStore(doc) and now i'm able to catch the error and inform the user.

However, I do see that in the console, the error is still shown (not via my console.log). Is there a way to turn off those errors g

[2020-05-04 05:17] mesqueeb commented on #326
@thokkane it's currently not possible to turn off certain errors from being logged, and this is one of them.

I reviewed the way errors are logged in v2.0, and will make it possible to turn off all error logging.

Is it breaking for your case that these errors are being logged?

[2020-05-04 05:18] thokkane commented on #326
@mesqueeb no its not breaking. Thanks for making these optional in the next version!

[2020-05-04 11:19] dsl101 commented on #300
Just an update on this—_adding_ properties is also triggering an update on the bound Vue component. So whilst setting unwanted props to `null` instead of deleting them is fine, it's not obvious how to work around this one. Would you expect adding props to also recreate the entire object? Note subsequently _changing_ the value of the newly added prop does _not_ trigger an update.

[2020-05-04 12:02] mesqueeb commented on #300
@dsl101 I'll have to double check my logic for adding props that were not already there, and for deleting props as well.
Sorry haven't gotten around to it yet.

in the meantime, if you want to try your hand, it's this logic that would need updating:
https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/module/mutations.ts#L117

Anything inside this PATCH_DOC mutation. 😉

[2020-05-04 17:00] dsl101 commented on #300
OK. I've been able to reproduce the 'error' (if we can call it that for now—also likely my misunderstanding of Vuex :) in a pure Vuex store, so I'm going to try submitting an issue to Vuex and see if this is expected behaviour. The premise is this:

State contains a single object with 1 property (`prop1`). That is accessed via a getter and a mutation to increment it, and its current value is displ

[2020-05-06 16:44] dsl101 opened #327 "Prefixing v-e-f actions"
I have an app that I'm slowly porting over to use v-e-f and firestore, and have just been stuck for an hour trying to work out why my `clearUser` action wasn't being executed. I eventually found the answer [here](https://github.com/mesqueeb/vuex-easy-firestore/blob/63e2aa63ce643a027c63f5d4d30f21dec63497d5/src/module/actions.ts#L33) :) I couldn't see any reference to this in the documentation via t

[2020-05-06 17:09] dsl101 commented on #327
I did the easy bit, and put some warning code in here #328

[2020-05-11 20:07] dsl101 commented on #316
I think this may have had some unintended consequences... I've got a collection with over 100 user documents in it, and 2 modules using v-e-f.

The first module (`fsUser`) binds the currently logged-in user to the document at `/users/{userId}`. It can then test if the current user is an admin allowed to edit other user accounts. If so, it binds a second module (`fsAllUsers`) to the collection at `

[2020-05-11 21:55] mesqueeb commented on #316
@dsl101 I also have `users` and `users/{userId}` in one of my apps, and I noticed some oddness myself, but all stuff that's difficult to create automated tests for . : ( I noticed the problem about the missing updates, but I do get all docs loaded fine in the "users" collection.

This change however only does things on the "removed" hook though. So I'm confused why "added" is not working.

[2020-05-11 21:59] mesqueeb opened #330 "sync problem with a collection and document of overlapping paths"
there seem to be some sync issues when there's a collection called `users` and a doc called `users/{userId}` both loaded at the same time.

problem 1. not all users get loaded

problem 2. user doc is not updated when that doc is updated through the users module and visa versa

related: #316

[2020-05-11 21:59] mesqueeb commented on #330
From @dsl101

[2020-05-11 22:45] louisameline commented on #324
It's funny, I might have solved this today without actually running into the issue myself.
I just happened to browse the code for something else and saw some code, I was like "Huh I don't think this would work" x)
Please try to clone my repo and checkout the batchFix branch, and see if it works better? I have not tested. If it works for you we'll merge. Thanks!
https://github.com/louisameline/vuex

[2020-05-12 07:47] mesqueeb commented on #330
I'm having difficulties trying to reliably reproduce this.

The times there's no problem for me:

<img width="433" alt="image" src="https://user-images.githubusercontent.com/3253920/81653948-38e4fb00-9470-11ea-9b3e-0941606a5841.png">

The times there's a problem:

<img width="429" alt="image" src="https://user-images.githubusercontent.com/3253920/81654023-45695380-9470-11ea-9b0b-6cd2a8358df2.png">

[2020-05-12 07:57] mesqueeb commented on #330
added more info

working case:
<img width="433" alt="image" src="https://user-images.githubusercontent.com/3253920/81656030-a6ddf200-9471-11ea-8006-7ba283d96e0e.png">

failing case:
<img width="429" alt="image" src="https://user-images.githubusercontent.com/3253920/81656050-aba2a600-9471-11ea-9a97-57059bd65fc1.png">

[2020-05-12 08:26] dsl101 commented on #330
If it's any consolation, I also see the weirdness when sometimes it works fine and sometimes it doesn't. There seem to be different mechanisms the firebase SDK uses in different scenarios—for example, I'm developing a Vue/Quasar app, and hot-reloaded changes see different results to refreshing the browser page, to refreshing with clear cache, to logging out and in again (firebase authentication).

[2020-05-12 08:31] mesqueeb commented on #330
on a local build, I comment out the entire part at:

I'm now 100% sure it's not related...

If I, after auth listener triggers I execute:
[code]
then 50~80% of the time the second call will fail. that "companies" collection will execute with `fromCache` set to `true` twice...

If I instead do:
[code]
just in parallel, then it works 100% of the time........

[2020-05-12 08:49] mesqueeb commented on #330
@dsl101
Ok, I found out it will fail no matter how long you wait, as long as you do something like this:
[code]
now it's reproducible and someone can perhaps report to firebase js sdk. :D maybe I will if I have some time later!

[2020-05-12 12:29] mesqueeb commented on #330
tracked down the bug to the firebase sdk level. I hope to find a workaround soon
https://github.com/firebase/firebase-js-sdk/issues/3053#issue-616611587

[2020-05-12 12:30] mardonedias commented on #324
Hello,

It is very specific functionality to import this amount of record at once. In my case I need to get data from a spreadsheet that can easily reach 1500 rows.

I did a test with the dispatch action ('moduleName / insertBatch', docs). The problem persists, only one batch with 500 records is executed.

![Captura de tela de 2020-05-12 09-19-27](https://user-images.githubusercontent.com/1024457/

[2020-05-12 12:40] mesqueeb commented on #324
@mardonedias since @louisameline's change is non-breaking, do you want me to push the change to the latest version on NPM so you can test by just updating? Or did you manage to test his forked repository?

[2020-05-12 12:55] mardonedias commented on #324
// docs should be more than 500
docs.forEach (doc => $ store.dispatch ('moduleName / insert', doc))

Only enter the 500.

![Captura de tela de 2020-05-12 09-51-09](https://user-images.githubusercontent.com/1024457/81693637-93616580-9436-11ea-981c-1b6362ffd0f0.png)

![Captura de tela de 2020-05-12 09-51-04](https://user-images.githubusercontent.com/1024457/81693656-978d8300-9436-11ea-9f21-4eefabcfa

[2020-05-12 15:13] dsl101 commented on #330
I've also been able to reproduce it in the browser—but apart from that `fromCache` flag, everything else in the event seems correct (e.g. `docChanges()` contains 1 element on the first call, and then n-1 elements on the second call, and they have the correct data in them).

I notice someone at google just picked up your issue though, so that's promising :)

[2020-05-12 20:05] louisameline opened #331 "Fix the support of non-primitives in ArrayUnion"
Currently, there is this code:
[code]
I don't know what use case you had in mind when you wrote

I'm not sure why the fact that an object with the same `id` exists in the array would dismiss the add of the item if other properties are different?

But besides this strange `id` thing, this code doesn't work well for arrays of objects. Let's say my array currently is like this:
`[{ message: 'hello',

[2020-05-12 21:58] mesqueeb commented on #330
Making some progress in the firebase thread. Hope that they can look into it.

Based on their solution/answer I will either way have to review how my library handles what happens in the onSnapshot listener.

[2020-05-13 11:19] louisameline commented on #290
I'll close this as a won't do. You'll need to close the openDBChannel yourself, change some query parameter that suits you, and open it again. Thank you

[2020-05-13 11:19] #290 closed

[2020-05-13 11:23] louisameline commented on #292
I'll close due to the lack of activity. Feel free to comment again if you have more information. Thank you.

[2020-05-13 11:23] #292 closed

[2020-05-13 11:36] louisameline commented on #294
Hi @tomasfil, I'm not sure but I think you are looking for collection query groups.
https://firebase.google.com/docs/firestore/query-data/queries#collection-group-query

This is a bit of a tough subject, not currently handled by the library.
We plan better support for this feature in a future version of the library.

I'll close this issue due to the lack of activity and as I think it's the same as

[2020-05-13 11:36] #294 closed

[2020-05-13 16:59] louisameline commented on #299
This has been addressed and will be fixed in a next release

[2020-05-13 22:30] louisameline commented on #330
One thing is odd in the bug report. You say a prerequisite is to have persistence disabled. Then how could the first trigger batch of data from cache? Did I miss something?

[2020-05-13 22:46] louisameline commented on #330
Apart from this oddness, I'm starting to wonder if there actually is an issue. Yes, it's weird that sometimes it starts by a fromCache=true response, but when it does, there is a follow-up fromCache=false response which basically tells you "I have now checked with the server and there are no doc changes since the last times I gave you the docs from cache".

[2020-05-13 23:08] louisameline commented on #330
Basically, the issue is more about having two realtime listeners on a same doc, and only one of them triggering an update, right? Maybe because the second one comes "from cache" from Firestore's point of view, and that we haven't thought of that case.

As a side note, in the next version of vef, that won't be an issue anyway, as docs of a collection will be modules on their own, so there wouldn't

[2020-05-13 23:14] louisameline commented on #330
When you say

What is it about exactly? One missing (which one, the one streamed in the other module)? Or several?

[2020-05-14 00:21] mesqueeb commented on #330
@dsl101
I agree with @louisameline that:

this is a problem with how vuex-easy-firestore 1.0 is built and is difficult to fix with the current architecture. We'll mark this as `won't-fix` and make sure this doesn't happen in v2.0, which is coming along slowly but surely.

Now, about problem 1...

@louisameline
I think we have a really clear answer here now:
https://github.com/firebase/firebase-js-

[2020-05-14 12:24] mesqueeb commented on #331
Yeah. need to do this.
we could use `isEqual` of `lodash-es` which supports treeshaking and is side-effect free.

[2020-05-14 13:39] louisameline commented on #331
If it's ok for you then, I'll make the PR today. It's like 2 lines of code, shouldn't be long :)

[2020-05-14 18:04] dsl101 commented on #330
I built a small test-case using native firebase SDK rather than vef, and, ignoring all the extra bells and whistles that vef provides (I'm only really interested in online, so no persistence, no metadata changes, etc.), I could bind a document and a collection separately, change either (or change it from the firebase console), and see all the changes I needed to see by simply responding to every `

[2020-05-14 18:40] louisameline commented on #330
We'll adapt yes and there already are cases where we know there will be unnecessary hook triggers indeed.

Absolutely, we are aware of that. Optimistic UI should be reserved to things that are easy to rollback. V2 will allow for the remote update before triggering the local update. And transactions. And many, many other cool things.

Currently, when you have a collection, you trigger actions on th

[2020-05-15 15:40] louisameline commented on #305
We'll definitely make requests to Firestore only if they are non-empty in the future, so this will be solved.

In the meantime, I have a question for you @Fulbert : is there a reason why your guarded property is within `state.data` (if `data` is the prefix you chose) instead of at the root of `state`, which is not synced? I'm trying to get a glimpse of the use cases where people guard properties.

[2020-05-15 21:05] Fulbert commented on #305
I have the following collections :
- customers
- machines
- task
- calls

In my app I have list view for all this collections and I can select
multiple items.

Instead of having locallyan array of selecteds IDs, I prefer to have a
property "selected" in each document. But I don't want to sync it because
of course each user can select their own documents.

User can trigger actions on multiple items

[2020-05-15 21:55] louisameline commented on #305
Oh great thank you, I understand now.

It's ok to use a non-vef action or mutation to mutate your property until we fix. I'll check tomorrow if a quick patch can be done for this issue.

But in all cases, there will be another preferred way to handle your local properties  of documents loaded by a collection in the future.

[2020-05-18 20:05] dsl101 commented on #330
Just a question—how much of this complexity is due to managing the 'optimistic' update of the local state before sending data to firestore? I ask only because I've coded up a trivial implementation of vef to test against (all it does is bind a doc or collection, process snapshots, and allow updates via the firebase library calls). And I've noticed that the default behaviour seems to be to receive

[2020-05-18 22:02] louisameline commented on #330
I don't understand what you are asking for?
Firestore itself promotes optimistic behavior as the default way of handling things indeed.

Anyway, you can always reinvent the wheel of course. It will be limited, buggy, you'll have to maintain it alone and you'll miss so many things you don't know you need yet, but it's possible.

[2020-05-19 13:11] mesqueeb commented on #330
@dsl101 it's always healthy to weight the pros and cons of introducing a library into your codebase. To see if it does what you need it to and if it doesn't bloat your code too much. In your case perhaps writing your own library specific for your use case, is definitely a good option. However, as Louis mentioned, it might lead to you having to spend more time, doing something we already did.

When

[2020-05-19 13:21] dsl101 commented on #330
You seem a little offended by my comment—certainly that wasn't my intention. As for reinventing the wheel, why not use [vuexfire](https://github.com/vuejs/vuefire), which has been around since 2016 and is now part of the vuejs repo, rather than write vef? And I guess we wouldn't be here if vef was bug free...

The point is to use exactly the right tool for the job. I'm not reinventing the wheel, j

[2020-05-19 13:43] mesqueeb commented on #330
Hey @dsl101 a quick note on the current status of the optimistic UI:

- write actions:
They update the local data in vuex first, then they start a queue to be synced to firestore. If there are no further api calls within 1000ms, the data is synced to firestore, if there are, it will reset the queue each time back to 1000ms and gather all updates into a single batch.

When it comes to the actual fi

[2020-05-19 15:06] louisameline commented on #330
@dsl101 I'm not offended at all, no worries. I was just surprised that the advantages of v-e-f compared to Vuexfire were still unclear to you at this point. We'll definitely need to update the doc to make the advantages clear to everyone.

From the top of my head, I'd say the key points are:
- no Firestore SDK calls all over your code, no real need to learn how they work. You just manipulate your

[2020-05-19 15:31] dsl101 commented on #330
Tx for the replies—I've used vuexfire for that last few years with firebase, and decided to give vef a try when porting the app to firestore. But there are a number of things quite specific to my use case that do probably mean vef is more than I need right now (and probably the same is true of vuexfire since I didn't really know firebase / firestore very well at all when I started this). I don't n

[2020-05-19 16:05] louisameline commented on #330
Yes, that's how it works. Even if you're offline, `onSnapshot()` handler is triggered immediately with `{hasPendingWrites: true}`

Yes, unless you hold on to the promise, and/or ask for `metadataChanges`, in which case your handler will be notified that the update has been carried on.

With mesqueeb, there are a couple edge-case scenarios with weird behavior that we still need to understand, but t

[2020-05-19 18:10] danmalone89 opened #333 "Module data properties undefined after openDBChannel"
I apologize in advance if this is actually just the expected behavior, or if this is me not understanding Vuex well enough. Thanks for this great package, I hope this is just my own user error and someone can point me in the right direction.

I'm having an issue retrieving data from my module getters when a vue component is `mounted()`. I need the userData as soon as `mounted()` fires, but it's un

[2020-05-19 18:28] louisameline commented on #333
Hello :)

I find it strange that you expect the data to be available at mounted. For all you know, you might be offline and the data will only arrive in 5 minutes. Shouldn't you account for this possibility to begin with?

The fact that `console.log(state.data.soil_data)` is normal: it triggers once before the data is there, once when it arrives. I'm not sure why `store.dispatch('userData/fetchAnd

[2020-05-19 19:16] danmalone89 commented on #333
@louisameline You've brought up good points.

That's a valid question and I appreciate you mentioning that. Would the proper with vuex-easy-firestore be this?

[code]

Of course! State changed! Vuex fundamentals. Thanks for reminding me :)

[code]

[2020-05-19 19:39] louisameline commented on #333
I see. You can do it like that, or more simply put a condition in your template on `soilData` not being `null` (or `undefined`, but `null` is semantically better).

[2020-05-19 21:25] #333 closed

[2020-05-23 16:34] adamb opened #334 "Example of error page would be helpful"
In the [setup](https://mesqueeb.github.io/vuex-easy-firestore/setup.html#setup) you mention:

But it's not clear how to open an error page from inside the init.  A hint or example would be helpful.

I tried making an error page but can't access the router from inside the `~store/index.js:initFirebase()` function.

[2020-05-24 00:40] #326 closed

[2020-05-24 00:42] mesqueeb commented on #330
@dsl101 problem 1 is fixed in latest version. problem 2 won't be fixed for v1.0 because it requires a complete rewrite of about half of the library, but it's already implemented for v2.0.

[2020-05-24 01:03] mesqueeb commented on #331
fix included in latest version and also upgraded ava to latest version!

[2020-05-24 01:03] #331 closed

[2020-05-24 01:19] mesqueeb commented on #152
@coolhand79 If a channel is already open on openDBChannel, it no longer throw an error in the latest version. The promise just resolves right away. I don't believe this will cause any issue, but let me know if it does!

[2020-05-24 01:19] mesqueeb commented on #71
@eneskaya If a channel is already open on openDBChannel, it no longer throw an error in the latest version. The promise just resolves right away. I don't believe this will cause any issue, but let me know if it does!

[2020-05-24 01:19] mesqueeb commented on #279
fixed in latest version

[2020-05-24 19:46] louisameline commented on #330
I'm not sure about the new way `openDBChannel` works now. Specifically, this line:
[code]
Imagine that you request a write to Firestore, and that it takes 5 seconds to perform.
If a modification is made during these 5 seconds, I suspect you'll get a snapshot with the changes as expected, but I guess it will have the `hasPendingWrites` flag, so you'll ignore it.

In the issue you raised to the Fire

[2020-05-24 23:33] mesqueeb commented on #330
Yeah, I'll force `includeMetadataChanges: true` and re-deploy, that seems OK.

The case I imagine you are thinking of is:
- the dev uses `serverTimestamp()` and the local state needs to be updated with the timestamp after the server write has finished. `includeMetadataChanges` will make sure it triggers when the timestamp is filled in.

For me the main take-aways from that thread were:
1. we were

[2020-05-25 04:01] mesqueeb commented on #330
@louisameline I have reviewed your PR as well, but since the code of the onSnapshot listener is now very different it's difficult to merge. However, I have enabled `includeMetadataChanges: true` by default now in the latest version.

The part where you are comparing snapshots I believe is already addressed by my changes here a while ago:
https://github.com/mesqueeb/vuex-easy-firestore/commit/128c6

[2020-05-25 06:50] louisameline commented on #330
The way I understood it, `hasPendingWrites` doesn't mean that the data comes from local, it means that there are changes you have locally that haven't yet been saved remotely. Hence the likely problem I said previously. But we should ask to be sure.

I remember we weren't using `fromCache` before I refactored the function, we were using `hasPendingWrites` and it didn't work well, but I guess it wa

[2020-05-25 13:57] louisameline commented on #330
I checked and I think my `openDBChannel` function can just be pasted on top of the existing code, with these adjustments to be made again:
- some indents and spaces you changed
- add the 4 TS types you created
- split the snapshot handler in 2 again, if really necessary (not sure it is)

[2020-05-25 15:59] adamb opened #338 "Use mapGetters/mapActions/mapMutations"
I have created a module called partnerDataModule but I can't figure out how to access the data now in my .vue file.  Before I put things into VEF I could just use `user` but now that doesn't seem to work.

(Sorry I don't know how to label this "help wanted"..
[code]

[2020-05-25 17:11] moreorover opened #339 "myModule/fetchById issue?"
Hello all,

I'm currently trying to fetch a document by its ID. Everything works great if the id exists in the collection, however, if document does not exist with given ID the promise does not proc the catch clause on the function.

trying to fetch document by its id:
[code]

Console shows the following:
![image](https://user-images.githubusercontent.com/17711314/82832058-ff6db000-9eb1-11ea-8aba-

[2020-05-25 19:02] louisameline commented on #334
Hi, technically, only the persistence option of the store may fail:

[code]
After that, it's the requests to the store that fail, hang or succeed. It's up to you to display a spinner or something until you have the data, or an error message if your get request failed.
We can't tell you how to design your app, it depends on your needs.
I hope it makes things a bit clearer.

[2020-05-26 04:21] mesqueeb commented on #338
I don't believe you can use mapGetters.
See: https://github.com/mesqueeb/vuex-easy-firestore/issues/237

I never found out why exactly this caveat is happening, but will be irrelevant in next version.

Sorry for the trouble! 😅

Please also note that VEF is not compatible with NUXT/SSR and also not usable in strict mode. All features I'd greatly appreciate any help for. 😉

<sub>--<br>Vuex Easy Fire

[2020-05-26 04:22] mesqueeb commented on #339
will look into this soon, sorry for the wait!

[2020-05-26 07:19] louisameline commented on #338
And mapGetters will most likely be deprecated in the next version of Vuex.

[2020-05-26 14:01] adamb commented on #338
Sorry, so then dumb question, how do I access the store?  `this.$store.getters.user` for a regular store and for a vef store?  `this.$store.partData.getters.user` where I set the moduleName to partnerData in the data module config file?

[2020-05-26 14:41] louisameline commented on #338
Actually, Vuex-easy-firestore just helps you get the data into Vuex, but your store is just a regular Vuex store really. Can you please share the code where you declare your users module?

[2020-05-26 15:27] adamb commented on #338
I renamed it clientData actually.  But here is the module.

In my App.vue, how do I access the data from my clients stored in Firestore clients collection?

Thanks for the help!

[code]

[2020-05-26 17:20] moreorover commented on #339
please check pull request #340

[2020-05-26 21:51] louisameline commented on #338
With `$store.state.clientData.data`. Of course, it will be empty unless you fill it locally or load from remote.

[2020-05-29 13:33] louisameline commented on #279
This can unfortunately not be fixed the way it was fixed, it has side effects as we currently run through the whole process of opening the channel again, while we should return the same objects as the ones that were created the first time the stream was opened. It's quite some work of refactoring, I think it's not worth it to take care of it before the next major version of the library.

I'll reve

[2020-06-04 13:29] #334 closed

[2020-06-04 13:33] louisameline commented on #338
I'll close this as there is another ticket about map helpers, and that we are focusing on other issues for the time being. Thank you.

[2020-06-04 13:33] #338 closed

[2020-06-19 02:27] jaronwanderley commented on #139
@mesqueeb Do you have any example of doing this todo list on quasar framework?

[2020-06-23 02:56] fergusmeiklejohn opened #343 "Jet Brains IDE's can't resolve Vuex modules"
Webstorm cannot resolve any variable or function in a Vuex module I'm syncing with VuexEasyFirestore.

Modules not synced with VEF are fine.

I don't know if this is a VEF bug or a JetBrains bug. If it is a JB bug I'm not sure how to describe it to them? How is VEF passing the modules into the Vuex store?

[2020-06-28 18:10] danmalone89 opened #344 "Insert promise not resolving in offline mode. Is this expected?"
[code]

Is this the expected behavior when offline? As soon as I go back online, the promise is resolved immediately. Firebase is constantly trying to write to server unsuccessfully while offline, throwing an error every second. I have offline persistence enabled.

[2020-06-28 22:01] mesqueeb commented on #344
@danmalone89
yes this is the expected behaviour.
The library immediately adds the document to the local state, so you don't really need to `await` that if that's good enough.

The `await` can be used to double check if the record is actually successfully written on the server side, which is therefore delayed when the client is offline.

In your case, you can either, retrieve the `id` from a hook l

[2020-06-28 22:01] #344 closed

[2020-06-28 22:04] mesqueeb commented on #343
Hi @fergusmeiklejohn
I hope you are doing great!
Sorry I overlooked this issue.

This has probably to do with the way that typescript is integrated via the Vuex plugins and my library.

My 1.0 library does a poor job to support typescript, as it was one of my first typescript projects, there is much left to desire.

In 2.0 there's much better typescript support with autocomplete and proper resolvi

[2020-06-28 22:04] #343 closed

[2020-06-29 00:55] danmalone89 commented on #344
Thanks @mesqueeb!

[2020-06-29 02:39] fergusmeiklejohn commented on #343
Hi @mesqueeb okay maybe wait until 2.0 is out then see if it works and if not I'll raise it with them again. FYI, this is where they work on support for Vue libraries: https://github.com/JetBrains/intellij-plugins/tree/master/vuejs/src/org/jetbrains/vuejs/libraries

[2020-07-03 20:23] danmalone89 opened #345 "Write Rate Limiting - Best Practices?"
I've implemented some rate limiting in my firestore rules (using duration), and have been experimenting with rate limiting using this package's hooks on the client side. The function below compares the current time, against the last time a post was written to the db (represented in a field in a document). I consider my firestore rules as my backup rate limiter.

What are y'all doing to solve rate

[2020-07-09 06:08] #345 closed

[2020-07-23 06:16] tusharthe opened #348 "Sync problem- Uncaught (in promise) TypeError: n._sync.syncStack.debounceTimer.refresh is not a function"
**Uncaught (in promise) TypeError: n._sync.syncStack.debounceTimer.refresh is not a function**

Mainly this error occurs specially user goes offline & try to perform insertion or deletion.
mutation data store in vuex persisted-state state but not able to perform write action to Firebase collection
& further actions related to that collection always failed.

![image](https://user-images.githubuserc

[2020-07-23 10:42] louisameline commented on #348
Hi, would you mind trying with the dev branch and tell us if the error still occurs? Thanks

[2020-07-23 11:10] tusharthe commented on #348
I have try with dev branch still same error occurs
it mainly happens when i try to insert new document at offline mode

![image](https://user-images.githubusercontent.com/20502003/88280194-058dda80-cd03-11ea-9528-d2d31dce4721.png)

[2020-07-23 11:11] tusharthe commented on #348
I have try with dev branch still same error occurs

[2020-07-28 10:24] moifort commented on #219
@stact thanks for sharing your config!

Here is mine, hope it will help some people!

## Firestore data

![Capture d’écran 2020-07-28 à 12 18 54](https://user-images.githubusercontent.com/4958079/88653541-84509200-d0cc-11ea-993c-67ca5b7cedbf.png)

## Dependencies

In your Nuxt project install: `yarn add firebase vuex-easy-firestore @nuxtjs/firebase`

I use [@nuxtjs/firebase](https://firebase.nuxtj

[2020-07-31 02:02] mgunn0103 opened #349 "Using openDBChannel with where clause does not pick up newly added/removed documents matching where condition"
After using openDBChannel with a where clause, I tried adding new documents and removing existing documents matching the condition in the where clause. The state is not updated in either case. Removing the where clause allows things to work as expected.,

[2020-08-06 22:07] andersbc opened #351 "How to openDBChannel in doc mode - where to put the id of the doc?"
Sorry to bother you with this simple question, I have looked but just can't find it in the docs.. :-(

I want to open a realtime listener for a specific doc ..but i can't figure out where to put the id of the doc:

[code]
This is my setup:
[code]

Any help appreciated, thanx :-)

[2020-08-07 00:58] mesqueeb commented on #351
@andersbc with doc mode you need the id in your `firestorePath`.
Eg. `firestorePath: 'users/{userId}',`

btw, `{userId}` is a custom path variable that automatically uses Firebase Auth userId of the authenticated user.

If you want to open the module for other users as well you need to do:
[code]
and
[code]

More info on this feature here:
https://mesqueeb.github.io/vuex-easy-firestore/extra-featu

[2020-08-07 00:58] #351 closed

[2020-08-07 02:23] andersbc commented on #351
Thanx, @mesqueeb :-)

I went with using a collection, as you suggest in the link you provided.. to save a round trip to firestore. I already had a users collection set up.

You probably know this, but in case other reads this, you can query a firestore _collection_ for a single doc, by it's id
...with this trick:

[code]
apparently `'__name__'` works as a placeholder for the doc id in a firebase q

[2020-09-24 11:43] mesqueeb opened #353 "cannot read resolve of undefined"
https://github.com/mesqueeb/vuex-easy-firestore/blob/master/src/module/actions.ts#L778

[2020-10-19 11:35] M0rph3v5 commented on #353
I'm experiencing this as well, can this be handled properly so it doesn't end up throwing the error?

[2020-10-19 11:38] FricoRico commented on #353
We're seeing the same issue too when trying to closeDBChannel in order to switch documents.

[2020-10-20 01:48] mesqueeb commented on #353
I have not yet been able to find the reproduction steps for this issue. Any luck reliably reproducing it? Much appreciated!!

[2020-10-29 02:28] fergusmeiklejohn opened #355 "Feature: Add firestore.getAll() on the web"
### Problem: fetching an array of docs by id
This is a solution using Promise.all() https://medium.com/@cambaughn/firestore-use-promise-all-instead-of-getall-on-the-web-301f4678bd05

This is how I wrote an action to do this:
[code]

[2020-10-29 06:56] louisameline commented on #355
Have you tried the `fetchAndAdd` action? It doesn't work as you'd expect?

[2020-10-29 08:58] fergusmeiklejohn commented on #355
It's not clear in the docs that `fetchAndAdd` can do this. I have a collection of documents and I'm fetching a subset of them using an array of document IDs. I can't query to fetch them, I only know their IDs. The docs show `dispatch('pokemon/fetchById', '001')` but can we pass an array of IDs?

[2020-10-29 09:01] fergusmeiklejohn opened #356 "Question: can we rely on the `signedIn` getter to check if the user is signed in?"
I was adding a loggedIn getter to the user module and noticed that there is a `signedIn` getter provided by VuexEasyFirestore. I can't find anything about it in the docs, can we rely on it to determine whether a user is signedIn?

[2020-10-29 11:49] louisameline commented on #355
I think it's something like `dispatch('pokemon/fetchAndAdd', { clauses: { where: ['ids', 'in', ['abc', 'def', 'ghi']] }})`

Check the docs and https://firebase.google.com/docs/firestore/query-data/queries#query_operators

[2020-10-29 11:52] louisameline commented on #356
No, this is undocumented and should not be used, it might change in the future. Vuex-easy-firestore is meant to deal with the store, you shouldn't use it to interact with Firebase Auth.

[2020-10-29 11:52] #356 closed

[2020-10-30 02:57] fergusmeiklejohn commented on #356
I wonder if there is a way to hide those getters in Vue dev tools? It's an invitation to make a mistake otherwise.

[2020-10-30 03:06] fergusmeiklejohn commented on #355
This question on stack overflow discusses it: https://stackoverflow.com/questions/46721517/google-firestore-how-to-get-document-by-multiple-ids-in-one-round-trip
We need to use `firebase.firestore.FieldPath.documentId()`
It's limited to 10 items though.

[2020-10-30 05:45] louisameline commented on #356
I don't know, let us know if you find out!

[2020-10-30 05:57] louisameline commented on #355
What's wrong with the solution I gave you

[2020-10-30 06:37] fergusmeiklejohn commented on #355
My understanding is that `in` limits a query to returning maximum 10 documents

[2020-10-30 11:21] louisameline commented on #355
Ok, I didn't know that. For future reference it's limited to 10 parameters in the `in` clause, not 10 documents technically, but here yes the result is 10 docs.

Implementing a Promise.all is only a few lines but I feel it might be better to let the user handle it and just call by id as many times as required.
 Some docs might not get retrieved, so you might want to add more code than you've shown

[2020-11-02 11:44] FricoRico commented on #353
After some investigation it seems to happen after a user has been inactive for a couple of minutes. Perhaps Firebase closes the connection when no new requests are made? I'm not familiar with the internal workings.

This seems to be the only reliable reproduction scenario.

[2020-11-02 14:53] #355 closed

[2020-11-09 11:05] M0rph3v5 commented on #353
okay this is pretty bad, it causes everything to stop functioning if the page is kept open long. If we can't fix this soon we'll have to replace the package probably. Any good alternatives?

[2020-11-09 13:22] louisameline commented on #353
No alternative that I know of, but you know you can debug too, right?
I'll take a quick look if I can.

[2020-11-13 14:44] FricoRico opened #357 "Guard 'id' will still add 'id' on update"
Hi Luca! Thanks for your development and commitment to `vuex-easy-firestore`.

As pointed out in another ticket (#83) some fields are automatically when patching data. You've implemented guards and fillables to have more control over this behaviour.

I've added `guard: ['id', 'updated_at', 'updated_by']` to my modules. Indeed upon updating the `updated_at` and `updated_by` will no longer be added.

[2020-11-13 15:45] louisameline commented on #357
Hello, that's how it works for now, as the id is used somewhere at some point. I managed to change this in a fork though, it wasn't too hard.

[2020-11-15 20:35] alpkabac opened #358 "Reacting to changes in vue-router"
I have an app that uses the same module in different routes. When I navigate to one from another and return back, I see the posts fetched by page two in page one since state is populated. I've found a solution by watching the route changes and resetting the state, but everytime I do that, it needs to fetch videos again, which means high read counts. Is simplier and more practical way to approach t

[2020-12-07 15:33] floetti opened #359 "Retrieve subcollections together with document"
Hi,

I can't figure out how to retrieve subcollections from documents. I have a collections of teams and within each team I have a subcollection of documents representing members in the squad. Please point me in the right direction.

Screenshot of the setup:
![Screen Shot 2020-12-07 at 15 15 45](https://user-images.githubusercontent.com/145239/101368484-1c426180-389f-11eb-9b2f-8e4fb059c044.png)

[2020-12-07 15:58] louisameline commented on #359
Hello, there is no built-in support for subcollections yet, you'll have to hack your way with the current architecture, or wait for a potential major update next year.

[2020-12-11 09:34] floetti commented on #359
Hi again. Thank you for the reply

[2020-12-11 09:34] #359 closed

[2020-12-11 12:00] louisameline commented on #358
Just remember which items are related to which pages? It is pagination.

[2020-12-24 04:27] #279 closed

[2021-01-07 22:45] mesqueeb opened #365 "feat(docs): add firestore guide"
I wanna add this series to the docs somewhere and strongly suggest any newer devs not familiar with firestore/noSQL to watch it:

https://www.youtube.com/watch?v=v_hR4K4auoQ&list=PLl-K7zZEsYLluG5MCVEzXAQ7ACZBCuZgZ

[2021-01-13 12:28] richard-mckenna opened #366 "RangeError: Maximum call stack size exceeded"
I'm having an issue getting vuex-easy-firestore (1.36.0) working with Vue (2.6.12) and Vuex (3.6.0). I have a simple module

[code]

If I call `dispatch('userData/fetchById', user.uid, { root: true })` in a vuex action it works fine and adds the user data to the store.

If I call `dispatch('userData/fetchAndAdd', null, { root: true })` in a vuex action or in mounted() on a component, I get the fol

[2021-01-13 12:50] mesqueeb commented on #366
Not sure. Try undefined instead of null.

[2021-01-13 13:56] richard-mckenna commented on #366
Same error unfortunately.

[2021-01-13 14:05] richard-mckenna commented on #366
It only seems to be an issue with fetchAndAdd.

fetch, fetchById and openDBChannel work everywhere. fetchAndAdd throws that error everywhere.

[2021-01-14 01:35] mesqueeb commented on #366
can you add a debugger breakpoint and find where the error is ?

[2021-01-14 12:08] richard-mckenna commented on #366
It seems it may be due to this Vue bug https://github.com/vuejs/vue/issues/9081

[2021-01-14 12:29] mesqueeb commented on #366
@richard-mckenna so your issue was unrelated to my library?

[2021-01-20 19:02] KayJay89 opened #367 "ProjectId not provided in firebase.initializeApp despite being provided"
Hi all,

I wanted to try out this packages but I can't even seem to get the basic explanation up and running. I am always receiving the below error in the console when trying to run the app, despite having provided the ProjectId in the config.

[code]

My config looks basically identical to the one provided in the documentation with exception of the module names:

[code]

[code]

[code]

Note I de

[2021-01-20 23:25] mesqueeb commented on #367
I think you need `Firebase.initializeApp(firebaseConfig)` as opposed to `Firebase.initializeApp({ firebaseConfig })` what you have now...
Let me know if it doesn't work! : )

[2021-01-20 23:25] #367 closed

[2021-01-29 19:58] PhilLovesToCode opened #368 "Can't get it to work no matter what!"
Could someone please help?  I've been trying for hours and hours to get vuex-easy-firestore running by exactly following the instructions here: https://mesqueeb.github.io/vuex-easy-firestore/setup.html.

I always get the console error: "Uncaught TypeError: firebase_app__WEBPACK_IMPORTED_MODULE_4__.initializeApp is not a function".

I'm using Vue CLI.  In addition to "npm i --save firebase", I've t

[2021-01-29 21:27] mesqueeb commented on #368
I think Firebase recently did a breaking update where you need to change the way you import the Firebase library.

Try this:

[code]
Instead of this:

[code]

[2021-01-29 23:37] PhilLovesToCode commented on #368
Thanks for your reply.  That gets us past the error above, but now it complains:
[Vue warn]: Error in created hook: "Error: Your API key is invalid, please check you have copied it correctly."
I cut and pasted the config block from the Firebase console, and have re-checked it many times.  The error throws the very first time I try to read data from one of my Vuex modules.  Is there a newly-introdu

[2021-01-29 23:56] mesqueeb commented on #368
@PhilLovesToCode You need to pass your firebase dependency to vuex-easy-firestore. Are you doing that?
[code]

[2021-01-30 00:30] PhilLovesToCode commented on #368
Yes.
`
import Vue from 'vue'
import Vuex from 'vuex'
import VuexEasyFirestore from 'vuex-easy-firestore'

Vue.use(Vuex)

import Firebase from 'firebase/app'
import 'firebase/firestore'

// Import modules
import { dogsModule }     from './modules/dogs.js'
import { catsModule }       from './modules/cats.js'
import { monkeysModule } from './modules/monkeys.js'

// Your web app's Firebase configurati

[2021-01-30 01:18] mesqueeb commented on #368
@PhilLovesToCode it's not
[code]
but it's
[code]
:)

feel free to open another issue if you have any other new problems!
Good luck!!

[2021-01-30 01:18] #368 closed

[2021-01-30 01:35] PhilLovesToCode commented on #368
That solved it!  Thanks!

[2021-02-01 20:40] tormjens opened #369 "Two-way binding"
I love the prospect of keeping a "persistent store" with the help of Firebase, but one questions came up while implementing this to my project:

Does two-way binding work? Let's say I populate a form with data from my Firebase integration, and then change the value in one of the fields in the form. Is this supposed to be saved to Firebase? If yes, is there anything I have to "turn on" for it to wo

[2021-02-01 22:10] mesqueeb commented on #369
Hey tormjens : )
You need to use the write actions to modify data! This is what syncs the changes to the server. ;)

Let me know if you've got any other questions !

[2021-02-02 22:11] mesqueeb commented on #369
I'll close the issue but feel free to continue the conversation

[2021-02-02 22:11] #369 closed

[2021-02-03 06:37] tormjens commented on #369
Thanks for your response.

So I can’t just v-model a key in a document directly then?

[2021-02-03 07:05] louisameline commented on #369
It is an anti-pattern, so no. But you can create a computed property with a setter that calls the action.

[2021-02-04 10:37] KayJay89 opened #370 "Getters undefined when working with users collection + sign in onAuthStateChanged"
Hi all,

I have been trying out this wrapper for the last 2 weeks and it has been a lot of two steps forward and one back type of thing. I eventually got it to work just like I wanted it to.

That said, now I wanted to "upgrade" my app by allowing multiple users access to it simultaneously. So I would have to add the possibility to register & access it through log in via email,.. whatever Firestor

[2021-03-10 09:37] abooysen opened #371 "fetch only returns id in doc"
Not sure if I'm using it correctly but it seems the the normal fetch only brings back the document id's.

This code only returns the id's in the doc array
(The code below is inside a module and I'm trying to get the doc collection from the "channel" module)
 `
dispatch("channel/fetch", null, { root: true }).then((querySnapshot) => {
        console.log(querySnapshot)
        if (querySnapshot.done

[2021-03-10 12:55] abooysen commented on #371
ok, I figured it out , i need to call the data method inside each returned item e.g. `querySnapshot.docs[0].data()`
or `documents = querySnapshot.docs.map(doc => doc.data())`

[2021-03-10 12:55] #371 closed

[2021-03-10 12:56] abooysen commented on #371
ok, I figured it out , i need to call the data method inside each returned item e.g. querySnapshot.docs[0].data()
or documents = querySnapshot.docs.map(doc => doc.data())

[2021-03-14 20:19] tormjens commented on #239
Hey and thank you for your work with this package. I was just wondering if a v2 is still on the horizon? :)

[2021-03-14 23:18] mesqueeb commented on #239
@tormjens you bet ya!! I'm pretty much done, but still need to work on documentation and other details.
 I'd love some feedback from some seasoned devs!
can you discuss on Discord? I emailed you with my discord tag : )

[2021-05-09 09:44] xariusdesai commented on #349
Did this get resolved at all?

I think I have a somewhat related issue to this, I use openDBChannel with a where clause on one component, then I closeDBChannel in the beforeDestroy hook. On another component when mounting I use openDBChannel without a where clause, but it doesn't pull through the rest of the documents, only the ones from the previous where clause?

Any ideas as to why that might b

[2021-05-20 07:58] louisameline commented on #261
I have a function that calls the vuex methods directly instead of easy-firestore if the user is not logged in.

[2021-06-22 08:33] jakobnoergaard commented on #239
Hey @mesqueeb, awesome job with this package!!! I was just wondering how the vue3 version is progressing and if its still on the table. I would love to try it out on a new vue3 project. Either way, awesome job with the current version - you are amazing :)

[2021-07-15 12:30] riderx commented on #219
@moifort i tried your code and i got same error as here : https://github.com/mesqueeb/vuex-easy-firestore/issues/159
wich version do you use ?

[2021-07-15 12:53] riderx commented on #159
@eugenepentland same error here, did you find a solution ?

[2021-07-15 13:29] moifort commented on #219
@riderx My code has changed since :)

This is my version:
## `package.json`
[code]
## `nuxt.config.ts`
[code]
## `.nuxtignore`

[code]
## `plugins/easy-firestore.ts`
Dont forget to add it in your `nuxt.config`
[code]

## `store/easy-firestore/entries.ts`
[code]
## `store/index.ts`
[code]

[2021-07-16 15:47] riderx commented on #219
@moifort Oh good you did it in TS as i want to do !
Thanks a lot it helps !
i just struggle to define State, RootState in `const entries: Module<State, RootState> = {`
i did
[code]
but i got issue on `  state: { data: {}, pendingEntry: null, isPushLoading: false },` then.
How do you define them ?

[2021-08-13 14:27] lkbr1808 commented on #239
I agree, would love to know how far along the process of updating is, or if you have some kind of working version already? @mesqueeb

[2021-08-31 03:11] bangdragon opened #372 "Update library for firebase v9"
Firebase v9 has been released. So please update this library for working with firebase v9. Thanks

[2021-09-14 14:18] lylest commented on #163
` firestore().collection("simple_poll").where("id","==",id).get().then(snapshot => {`
                               ` snapshot.forEach(doc=>{`
                                  `const modify =  doc.data().poll_options.map(option =>`
                                      `option.id === option_id ? {...option,votes:option.votes + 1} : option)`
                                      `doc.ref.update({

[2021-09-23 23:03] Yintii commented on #367
This is literally the only post about this problem and I am also experiencing this while trying to access firestore. Was there a solution?

[2021-09-23 23:59] mesqueeb commented on #367
The solution is posted on 21 Jan.

[2021-10-02 23:25] AdamBissonnette opened #373 "Adding "in" or "array-contains" to the where clause"
** Resolved : see edit for info **

It would be really handy if this library supported arrays searches in where clauses (in, array-contains, array-contains-any). I'm trying to share some assets between accounts and the rules work in Firestore but don't seem to get sent by vuex-easy-firestore (maybe because the clauses aren't recognized?) - if there is a way to do the following can it be added to y

[2021-10-03 00:00] #373 closed

[2021-11-03 22:44] cobreen opened #374 "setPathVars should be better documented"
Currently, there are no explanations of where and how it can be used.

[2021-11-04 02:36] mesqueeb commented on #374
@cobreen thanks for the issue. We greatly welcome PRs even go the docs : ) more than welcome help us with the documentation.

[2021-11-29 17:10] wifisher commented on #372
I have made the changes that I think are needed to support Firebase v9 using the compat libraries.

See https://github.com/mesqueeb/vuex-easy-firestore/pull/375

[2021-11-30 10:52] mesqueeb commented on #372
@wifisher thank you very much, I will review and release somewhere this week.

[2021-12-03 23:52] mesqueeb commented on #372
released

[2021-12-03 23:52] #372 closed

[2021-12-13 14:44] riksnelders commented on #353
I know this error happens when navigating away from a page during the loading of  the openDBChannel.

I'm also having issues front end not updating when inactive for too long.

Lets say with 2 users
User 1 constantly works with a tablet or pc, records keep adding up, as it should
User 2 with same page open takes a look at the page then comes back after 15+- mintes and page is missing records compa

[2022-01-19 08:31] #348 closed

[2022-06-08 10:55] zabakala opened #387 "Doc insertion from multiple apps at he same index"
Hi. Thx for this great project. I have a question relating to inserting docs. When two users synced to the same collection insert a record to an array field at almost the same time, the insertion index becomes the same and one of the 2 incoming records ends up overwriting the other as they are being inserted simultaneously at the same index position. Is it possible that these cases are not covered

[2022-08-14 08:00] zabakala opened #389 "project build process"
Hi. Thx for this marvellous project. I have noticed this particular issue:

[code]

[2022-08-20 03:32] yuucha opened #390 "E2E test with Cypress"
The following settings are required in Store to enable access to the emulator, When E2E test with Cypress.

`Firebase.firestore().settings({ experimentalForceLongPolling: true });`
 When performing E2E testing in Cypress, there seems to be a limited number of places to describe.

I thought I could just refer to the setup documentation and describe the settings, but "experimentalForceLongPolling" i

[2022-09-09 08:22] mesqueeb commented on #389
fixed in latest `v1.37.1` ! thanks for the PR!

[2022-09-09 08:22] #389 closed

[2022-10-30 07:03] #387 closed